Repository RedHatInsights/frontend-components, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, tests, workflows, awaitingReview, release, charts, components, config, demo, inventory, inventory/compliance, inventory/general-info, inventory/insights, notifications, remediations, sources, translations, utils

one more
  .github/workflows/stale.yml
Labels: workflows, awaitingReview

Mark frontend components as side effect free
  packages/components/package.json
Labels: awaitingReview, components

Updating @redhat-cloud-services/frontend-components to 0.0.42
  packages/components/package.json
Labels: awaitingReview, components

Add side effect to utils
  packages/utils/package.json
Labels: awaitingReview, utils

Updating @redhat-cloud-services/frontend-components-utilities to 0.0.14
  packages/utils/package.json
Labels: awaitingReview, utils

Enable custom mode for production builds
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: tests, awaitingReview, release, config

Enable custom mode for production builds (#290)
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: tests, awaitingReview, release, config

Updating @redhat-cloud-services/frontend-components-config to 0.0.13
  packages/config/package.json
Labels: awaitingReview, config

Custom export generator for easier treeShaking
  config/utils.js
  packages/components/config/generateMapper.js
  packages/components/package.json
  packages/components/src/customName.js
Labels: awaitingReview, release, components

Use sync reader
  packages/components/src/customName.js
Labels: awaitingReview, release, components

Move icons to correct folders
  packages/components/config/generateMapper.js
  packages/components/customName.js
  packages/components/fileMapper.json
  packages/notifications/.gitignore
  packages/notifications/.npmignore
  packages/notifications/config/webpack.config.js
  packages/notifications/customName.js
  packages/notifications/package.json
  packages/notifications/src/NotificationPortal/Notification.js
  packages/notifications/src/NotificationPortal/Notification.test.js
  packages/notifications/src/NotificationPortal/NotificationPagination.js
  packages/notifications/src/NotificationPortal/NotificationPagination.test.js
  packages/notifications/src/NotificationPortal/NotificationPortal.js
  packages/notifications/src/NotificationPortal/NotificationPortal.test.js
  packages/notifications/src/NotificationPortal/__snapshots__/Notification.test.js.snap
  packages/notifications/src/NotificationPortal/__snapshots__/NotificationPagination.test.js.snap
  packages/notifications/src/NotificationPortal/__snapshots__/NotificationPortal.test.js.snap
  packages/notifications/src/NotificationPortal/index.js
  packages/notifications/src/NotificationPortal/notifications.scss
  packages/notifications/src/index.js
  packages/notifications/src/notificationsMiddleware/index.js
  packages/notifications/src/notificationsMiddleware/notificationsMiddleware.js
  packages/notifications/src/notificationsMiddleware/notificationsMiddleware.test.js
  packages/notifications/src/redux/index.js
Labels: tests, awaitingReview, release, components, notifications

Add babel plugin import for notifications and components
  package-lock.json
  package.json
  packages/components/babel.config.js
  packages/components/package.json
  packages/components/src/Components/DownloadButton/DownloadButton.js
  packages/notifications/babel.config.js
  packages/notifications/package.json
Labels: awaitingReview, release, components, notifications

Remove unused function
  packages/components/config/generateMapper.js
Labels: awaitingReview, components

Initial round of copy feedback addressed
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/access_key.js
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/token.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
Labels: awaitingReview, release, sources

Add bottom margin to clipBoard copy in the openshift token
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/token.js
Labels: awaitingReview, release, sources

Add required test for asyncValidator
  packages/sources/src/tests/addSourceWizard/asyncValidator.test.js
Labels: tests, awaitingReview, release, sources

Create custom step for AWS/Secret Key
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/access_key.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
Labels: awaitingReview, release, sources

Update schemaBuilder test
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
Labels: tests, awaitingReview, release, sources

Add missing test for hardcoded components
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/token.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/access_key.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/arn.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/openshift_token.test.js
Labels: tests, awaitingReview, release, sources

Fix typo identifer to identifier
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
Labels: awaitingReview, release, inventory/compliance

Add safe checks to tag counts
  packages/inventory/src/EntityDetail.js
  packages/inventory/src/TagsModal.js
Labels: awaitingReview, release, inventory

Fix typo identifer to identifier (#293)
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
Labels: awaitingReview, release, inventory/compliance

Updating @redhat-cloud-services/frontend-components-inventory-compliance to 0.0.31
  packages/inventory-compliance/package.json
Labels: awaitingReview, inventory/compliance

Add safe checks to tag counts (#295)
  packages/inventory/src/EntityDetail.js
  packages/inventory/src/TagsModal.js
Labels: awaitingReview, release, inventory

Updating @redhat-cloud-services/frontend-components-inventory to 0.0.37
  packages/inventory/package.json
Labels: awaitingReview, inventory

.github/labeler.yml:

# root for top level changes
root:
  - '.*'

# any update in README.md
docs:
  - README.md
  - packages/*/src/doc/*
  - packages/*/README.md

# any file changes with the .test.js extension
tests:
  - packages/**/*.test.js

# any change to the workflows file is updated
workflows:
  - .github/workflows/*

# For any file changed
awaitingReview:
  - '**'
  - '.*'
  - '.*/**'

# release any file changed in a package
release:
  - packages/*/src/**/*

# add label based on package changed
charts:
  - packages/charts/**/*

components:
  - packages/components/**/*

config:
  - packages/config/**/*

demo:
  - packages/demo/**/*

inventory:
  - packages/inventory/**/*

inventory/compliance:
  - packages/inventory-compliance/**/*

inventory/general-info:
  - packages/inventory-general-info/**/*

inventory/insights:
  - packages/inventory-insights/**/*

notifications:
  - packages/notifications/**/*

remediations:
  - packages/remediations/**/*

sources:
  - packages/sources/**/*

translations:
  - packages/translations/**/*

utils:
  - packages/utils/**/*
