Repository RedHatInsights/frontend-components, pull requests merged in 2019-10, with the labels that each got.

#169 Adds missing class to filter dropdown, fixes absent padding
  packages/components/src/Components/Filters/FilterDropdown.js
  packages/components/src/Components/Filters/__snapshots__/FilterDropdown.test.js.snap
Labels: bug

#194 Intlhelper provides access to intl for a non-components (constants) 🤗
  packages/translations/README.md
  packages/translations/src/index.js
  packages/translations/src/intlHelper.js
Labels: enhancement

#196 Intlhelper imports IntlProvider correctly
  packages/translations/src/intlHelper.js
Labels: bug

#190 sources: Support multiple authentication types
  package-lock.json
  packages/sources/.eslintrc.json
  packages/sources/README.md
  packages/sources/package.json
  packages/sources/src/addSourceWizard/SSLFormLabel.js
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/addSourceWizard/steps/LoadingStep.js
  packages/sources/src/api/index.js
  packages/sources/src/index.js
  packages/sources/src/sourceFormRenderer/components/AuthSelect.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/sourceFormRenderer/index.js
  packages/sources/src/styles/authSelect.scss
  packages/sources/src/tests/addSourceWizard/__snapshots__/addSourceWizzard.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/sourceAddModal.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/sslFormLabel.test.js.snap
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/addSourceWizard/sourceAddModal.test.js
  packages/sources/src/tests/helpers/applicationTypes.js
  packages/sources/src/tests/helpers/sourceTypes.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/authSelect.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: enhancement

#201 Prevent default and buble on Label in Group filter
  packages/components/src/Components/ConditionalFilter/Group.js
Labels: bug

#202 Use state entity id (opposed to url param)
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
Labels: bug

#203 Only sorts rule list by linking rule when used in ife
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
Labels: bug

#204 activeApp isn't defined till an app tab is clicked, undefined otherwise
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
Labels: bug

#205 We have timing issues associated with activeApp, fctn to validate param
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
Labels: bug

#208 Send inifity to chipCount and merge props to selected in primary filter
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/Group.test.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/Group.test.js.snap
  packages/components/src/Components/FilterChips/FilterChips.js
  packages/components/src/Components/FilterChips/__snapshots__/FilterChips.test.js.snap
Labels: bug

#210 AddSourceWizard UX enhancements
  packages/sources/package.json
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/sourceFormRenderer/components/AuthSelect.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/sourceFormRenderer/components/authSelect.test.js
Labels: enhancement

#214 Show inv-insights app fetch failure message only if reports fetch fails
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
  packages/inventory-insights/src/ReportDetails.js
Labels: bug

#222 Hide actions if no rows present
  packages/inventory/src/EntityTable.js
Labels: bug

#213 Add filters to inventory toolbar
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/InventoryList.js
  packages/inventory/src/api/index.js
  packages/inventory/src/constants.js
  packages/inventory/src/redux/action-types.js
  packages/inventory/src/redux/actions.js
  packages/inventory/src/redux/entities.js
Labels: enhancement

#216 Addresses various inv-insights table ux review feedbacks
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
  packages/inventory-insights/src/MessageState.js
Labels: bug, enhancement

#233 Shield to render correctly when tooltip = false
  packages/components/src/Components/Shield/Shield.js
  packages/components/src/Components/Shield/Shield.test.js
  packages/components/src/Components/Shield/__snapshots__/Shield.test.js.snap
Labels: bug

#244 Use indirect components so they don't share state
  packages/components/src/Components/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/Components/ConditionalFilter/constants.js
  packages/components/src/Components/ConditionalFilter/constants.test.js
Labels: bug

#249 Enable comment driven releases
  .gitignore
  .npmrc.template
  .travis.yml
  README.md
  config/comment-bot.js
  config/push-bot.js
  config/release.js
  package-lock.json
  package.json
Labels: enhancement
