Repository RedHatInsights/frontend-components, pull requests merged in 2019-08, with the labels that each got.

#95 Update Summary screen according to design
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/index.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/sourceAddModal.test.js.snap
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/addSourceWizard/sourceAddModal.test.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: enhancement

#109 Add CardSelect
  packages/sources/README.md
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/index.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/sourceFormRenderer/index.js
  packages/sources/src/styles/cardSelect.scss
  packages/sources/src/tests/__mocks__/FieldProvider.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/sourceAddModal.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/cardSelect.test.js
Labels: enhancement

#114 AddSource Wizard - support to select an application
  packages/sources/README.md
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/api/index.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/addSourceWizzard.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/sourceAddModal.test.js.snap
  packages/sources/src/tests/addSourceWizard/addSourceButton.test.js
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/addSourceWizard/sourceAddModal.test.js
  packages/sources/src/tests/helpers/applicationTypes.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: enhancement

#115 Inv-insights dep cleanup, fixes loading blip, loads rule id from redux
  packages/inventory-insights/config/webpack.constants.js
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
Labels: enhancement

#116 Inv-insights, Swap onSelect for dropdown item onclicks
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
Labels: bug

#122 Add tests to general info
  config/setupTests.js
  package-lock.json
  package.json
  packages/inventory-general-info/.gitignore
  packages/inventory-general-info/config/webpack.config.js
  packages/inventory-general-info/src/BiosCard.js
  packages/inventory-general-info/src/BiosCard.test.js
  packages/inventory-general-info/src/CollectionCard.js
  packages/inventory-general-info/src/CollectionCard.test.js
  packages/inventory-general-info/src/ConfigurationCard.js
  packages/inventory-general-info/src/ConfigurationCard.test.js
  packages/inventory-general-info/src/GeneralInformation.js
  packages/inventory-general-info/src/GeneralInformation.test.js
  packages/inventory-general-info/src/InfoTable.js
  packages/inventory-general-info/src/InfoTable.test.js
  packages/inventory-general-info/src/InfrastructureCard.test.js
  packages/inventory-general-info/src/LoadingCard.js
  packages/inventory-general-info/src/LoadingCard.test.js
  packages/inventory-general-info/src/OperatingSystemCard.test.js
  packages/inventory-general-info/src/SystemCard.js
  packages/inventory-general-info/src/SystemCard.test.js
  packages/inventory-general-info/src/TextInputModal.js
  packages/inventory-general-info/src/TextInputModal.test.js
  packages/inventory-general-info/src/__mock__/hostApi.js
  packages/inventory-general-info/src/__mock__/mockedData.json
  packages/inventory-general-info/src/__mock__/selectors.js
  packages/inventory-general-info/src/__snapshots__/BiosCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/CollectionCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/ConfigurationCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/__snapshots__/InfoTable.test.js.snap
  packages/inventory-general-info/src/__snapshots__/InfrastructureCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/LoadingCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/OperatingSystemCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/SystemCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/TextInputModal.test.js.snap
  packages/inventory-general-info/src/__snapshots__/dataMapper.test.js.snap
  packages/inventory-general-info/src/api/api.test.js
  packages/inventory-general-info/src/api/index.js
  packages/inventory-general-info/src/dataMapper.js
  packages/inventory-general-info/src/dataMapper.test.js
  packages/inventory-general-info/src/index.js
  packages/inventory-general-info/src/redux/__snapshots__/reducers.test.js.snap
  packages/inventory-general-info/src/redux/action-types.js
  packages/inventory-general-info/src/redux/action-types.test.js
  packages/inventory-general-info/src/redux/actions.js
  packages/inventory-general-info/src/redux/actions.test.js
  packages/inventory-general-info/src/redux/reducers.js
  packages/inventory-general-info/src/redux/reducers.test.js
  packages/inventory-general-info/src/selectors.test.js
  packages/inventory-vulnerabilities/index.css
Labels: on hold
