Repository RedHatInsights/frontend-components, pull requests merged in 2019-09, with the labels that each got.

#137 Fixes sorting, adds defaults for satelliteManaged and satelliteShowHosts
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
Labels: bug

#132 Prepare AddSourceWizard for nested names in schema
  packages/sources/package.json
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/api/index.js
  packages/sources/src/index.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/sourceAddModal.test.js.snap
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: enhancement

#149 Update react-icons dep and jest snapshots
  package-lock.json
  package.json
  packages/components/src/Components/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/Components/ConditionalFilter/__snapshots__/Text.test.js.snap
  packages/components/src/Components/DownloadButton/__snapshots__/DownloadButton.test.js.snap
  packages/components/src/Components/Reboot/__snapshots__/Reboot.test.js.snap
  packages/components/src/Components/Shield/__snapshots__/Shield.test.js.snap
  packages/components/src/Components/SimpleTableFilter/__snapshots__/SimpleTableFilter.test.js.snap
  packages/inventory-compliance/src/__snapshots__/RulesComplianceFilter.test.js.snap
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/dataMapper.test.js.snap
  packages/notifications/src/__snapshots__/Notification.test.js.snap
  packages/notifications/src/__snapshots__/NotificationPortal.test.js.snap
Labels: dependencies, enhancement

#148 Update pf-icon version to support ansible icon in inv-insights table
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Constants.js
  packages/inventory-insights/src/Insights.js
Labels: enhancement

#159 Pass table props to PF table
  packages/inventory/src/EntityTable.js
Labels: enhancement
