Repository RedHatInsights/frontend-components, pull requests merged in 2019-12, with the labels that each got.

#293 Fix typo identifer to identifier
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
Labels: release

#286 add triage workflows
  .github/labeler.yml
  .github/workflows/approval.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Labels: approved, workflows

#296 Add a tag into inv table instead of div
  packages/inventory/src/EntityTable.js
  packages/inventory/src/InventoryList.scss
Labels: release

#283 feat(Openshift): Add openshift steps for cost management
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/index.js
  packages/sources/src/styles/costManagement.scss
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_openshift.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
Labels: release

#299 Download button to support disabled prop
  packages/components/src/Components/DownloadButton/DownloadButton.js
  packages/components/src/Components/DownloadButton/DownloadButton.test.js
  packages/components/src/Components/DownloadButton/__snapshots__/DownloadButton.test.js.snap
Labels: awaitingReview, bug, release

#303 Remove copy webpack plugin
  packages/config/package.json
  packages/config/src/plugins.js
  packages/config/src/plugins.test.js
Labels: release

#301 Add safe checks to router params
  packages/utils/src/RouterParams.js
Labels: release

#304 Lock fixed version of utils
  packages/inventory/package.json
Labels: release

#302 Sent first validation request immediately
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/index.js
  packages/sources/src/tests/addSourceWizard/asyncValidator.test.js
  packages/sources/src/utilities/debouncePromise.js
Labels: bug, release, sources

#305 Add store when connecting inventory so new version of redux can be used
  packages/inventory/doc/inventory.md
  packages/inventory/src/Inventory.js
Labels: release

#294 Add Cost Management to Azure
  packages/sources/src/addSourceWizard/hardcodedComponents/azure/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/api/billingSource.js
  packages/sources/src/api/costManagementAuthentication.js
  packages/sources/src/api/createSource.js
  packages/sources/src/styles/costManagement.scss
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_azure.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/api/billingSource.test.js
  packages/sources/src/tests/api/costManagementAuthentication.test.js
  packages/sources/src/tests/api/createSource.test.js
Labels: enhancement, release, sources

#306 Fix the request payload when PATCHing source on cost management
  packages/sources/src/api/createSource.js
  packages/sources/src/tests/api/createSource.test.js
Labels: bug, release, sources

#307 Change options in debounced promise
  packages/sources/src/utilities/debouncePromise.js
Labels: bug, release, sources

#308 PATCH cost management source after authentication was created
  packages/sources/src/api/createSource.js
Labels: release, sources
