Repository RedHatInsights/frontend-components, pull requests merged in 2019-11, with the labels that each got.

#254 Add date string exact to tooltip of date format component
  packages/components/src/Components/DateFormat/__snapshots__/DateFormat.test.js.snap
  packages/components/src/Components/DateFormat/helper.js
Labels: release

#253 Allow to use different steps for combinations of types/apps
  packages/sources/README.md
  packages/sources/package.json
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/sourceFormRenderer/components/AuthSelect.js
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/helpers/applicationTypes.js
  packages/sources/src/tests/helpers/sourceTypes.js
  packages/sources/src/tests/sourceFormRenderer/components/authSelect.test.js
Labels: enhancement, release

#256 Update toolbar filter values with a key
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
Labels: release minor

#257 Add direct components to PrimaryToolbar
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/Components/ConditionalFilter/constants.js
  packages/components/src/Components/ConditionalFilter/constants.test.js
Labels: release

#258 Adds rules to support ts and tsx files using ts-loader
  packages/config/package.json
  packages/config/src/config.js
Labels: release

#261 Build was failing on importing apolo deps
  packages/config/src/config.js
Labels: release

#260 Add tags screen for aws+cm
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/arn.test.js
Labels: released

#262 Use AxiosInstance provided by frontend-components
  packages/sources/package.json
  packages/sources/src/api/constants.js
  packages/sources/src/api/index.js
Labels: release

#263 Move webpack to peer dep since imported webpack is breaking builds
  packages/config/package.json
Labels: release

#264 Add shared debounce function
  packages/utils/config/webpack.config.js
  packages/utils/doc/debounce.md
  packages/utils/package.json
  packages/utils/src/debounce.js
  packages/utils/src/debounce.test.js
Labels: release

#265 Allow custom levels for getBaseName
  packages/utils/src/helpers.js
  packages/utils/src/helpers.test.js
Labels: release

#269 Fix pagination and reloads of inventory
  packages/inventory/src/InventoryList.js
Labels: release

#270 Do not rewrite null into false in bulk select
  packages/components/src/Components/BulkSelect/BulkSelect.js
  packages/components/src/Components/BulkSelect/BulkSelect.test.js
  packages/components/src/Components/BulkSelect/__snapshots__/BulkSelect.test.js.snap
Labels: release

#272 Pass formValues to onClose function
  packages/sources/README.md
  packages/sources/package.json
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
Labels: release

#271 Fixes installation command for frontend-components-utilities
  packages/utils/README.md
Labels: release

#259 Allow passing an object/component for Filters label prop
  packages/components/src/Components/Filters/FilterDropdown.js
  packages/components/src/Components/Filters/FilterDropdown.test.js
  packages/components/src/Components/Filters/__snapshots__/FilterDropdown.test.js.snap
Labels: release

#273 Compare previous values in order to properly render selected in ConditionalFilter
  packages/components/src/Components/ConditionalFilter/Checkbox.js
  packages/components/src/Components/ConditionalFilter/Group.js
Labels: bug, release

#274 Sources: Modify export to support edit form
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/index.js
  packages/sources/src/sourceFormRenderer/index.js
Labels: release

#279 Export selected event type for inventory
  packages/inventory/src/index.js
Labels: enhancement, release

#276 RHICOMPL-417 - Fix compliance rule expand for Search
  packages/inventory-compliance/src/Fixtures.js
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable.test.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
Labels: release

#280 Disable Endpoint step and configuration
  package-lock.json
  packages/sources/README.md
  packages/sources/package.json
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/api/createSource.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/api/createSource.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: release

#278 Use tags from API instead of mocked ones
  package-lock.json
  package.json
  packages/inventory-general-info/package.json
  packages/inventory/package.json
  packages/inventory/src/EntityDetail.js
  packages/inventory/src/EntityTable.js
  packages/inventory/src/TagsModal.js
  packages/inventory/src/api/index.js
  packages/inventory/src/redux/actions.js
  packages/inventory/src/redux/entities.js
  packages/inventory/src/redux/entityDetails.js
Labels: enhancement, release

#281 Fix 1 hour date format
  packages/components/src/Components/DateFormat/__snapshots__/DateFormat.test.js.snap
  packages/components/src/Components/DateFormat/helper.js
  packages/components/src/Components/DateFormat/helper.test.js
Labels: release

#287 Mark frontend components as side effect free
  packages/components/package.json
Labels: release

#288 Add side effect to utils
  packages/utils/package.json
Labels: release

#290 Enable custom mode for production builds
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: release
