Repository RedHatInsights/frontend-components, pull requests merged in 2020-01, with the labels that each got.

#313 Change wizard description according to UX
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/finalWizard.test.js.snap
  packages/sources/src/utilities/stringConstants.js
Labels: sources

#314 Sources: Reword title of selection step
  packages/sources/src/addSourceWizard/SourceAddSchema.js
Labels: release, sources

#291 Update to support additional adding of apps
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/index.js
  packages/sources/src/sourceFormRenderer/components/Description.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/sourceFormRenderer/components/description.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: release, sources

#315 Add Tag key to tag modal table
  packages/inventory/src/TagsModal.js
Labels: bug, release

#317 Forward ref down to inventory so it can be properly refreshed
  packages/inventory/src/Inventory.js
Labels: bug, release

#318 Increases cond-filter selector size, lowercase active placeholder
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/Components/ConditionalFilter/conditional-filter.scss
Labels: bug, release

#320 Card select updates
  packages/sources/package.json
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/styles/cardSelect.scss
  packages/sources/src/tests/sourceFormRenderer/components/cardSelect.test.js
Labels: release, sources

#321 Inv-insights app enhancements/cleanup
  packages/inventory-insights/src/Constants.js
  packages/inventory-insights/src/Insights.js
  packages/inventory-insights/src/insights.scss
Labels: enhancement, release minor

#322 Add colorful icons to source type select
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/styles/cardSelect.scss
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
Labels: enhancement, sources

#316 Do not select row on disabled tags
  packages/inventory/src/InventoryList.scss
  packages/inventory/src/TagWithDialog.js
Labels: bug, release

#323 Removes default 'Additional info' text, refactors report details to functional component
  packages/inventory-insights/src/ReportDetails.js
Labels: enhancement, release

#324 Conditionally renders filter chips (when chips exist) and linting
  packages/components/src/Components/PrimaryToolbar/PrimaryToolbar.js
Labels: bug, release

#325 Make satellite flow on one page
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/api/createSource.js
  packages/sources/src/tests/api/createSource.test.js
Labels: release, sources

#326 Add getting started message for systems with insight_id = null
  packages/inventory-insights/src/Insights.js
  packages/inventory-insights/src/MessageState.js
  packages/inventory-insights/src/insights.scss
Labels: enhancement, release

#310 Hook tag filtering to real API
  package-lock.json
  package.json
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/Group.test.js.snap
  packages/inventory-general-info/package.json
  packages/inventory/package.json
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/InventoryList.scss
  packages/inventory/src/api/index.js
  packages/inventory/src/constants.js
  packages/inventory/src/redux/actions.js
  packages/inventory/src/redux/entities.js
Labels: awaitingReview, needs ux, release

#329 Remove onDelete from ChipGroupToolbarItem
  packages/components/src/Components/FilterChips/FilterChips.js
  packages/components/src/Components/FilterChips/FilterChips.test.js
  packages/components/src/Components/FilterChips/__snapshots__/FilterChips.test.js.snap
Labels: bug, components, release

#319 Add PDF generator library and add custom components to it
  package-lock.json
  package.json
  packages/pdf-generator/.gitignore
  packages/pdf-generator/.npmignore
  packages/pdf-generator/README.md
  packages/pdf-generator/babel.config.js
  packages/pdf-generator/doc/donut-chart.png
  packages/pdf-generator/doc/panel-2.png
  packages/pdf-generator/doc/panel.png
  packages/pdf-generator/doc/pie-chart.png
  packages/pdf-generator/doc/report-name.png
  packages/pdf-generator/doc/section-2.png
  packages/pdf-generator/doc/section.png
  packages/pdf-generator/doc/table.png
  packages/pdf-generator/package.json
  packages/pdf-generator/rollup.config.js
  packages/pdf-generator/src/DownloadButton.js
  packages/pdf-generator/src/components/Battery.js
  packages/pdf-generator/src/components/Chart.js
  packages/pdf-generator/src/components/Column.js
  packages/pdf-generator/src/components/Logo.js
  packages/pdf-generator/src/components/Panel.js
  packages/pdf-generator/src/components/PanelItem.js
  packages/pdf-generator/src/components/Section.js
  packages/pdf-generator/src/components/Table.js
  packages/pdf-generator/src/index.js
  packages/pdf-generator/src/utils/fonts.js
  packages/pdf-generator/src/utils/propTypes.js
  packages/pdf-generator/src/utils/styles.js
  packages/pdf-generator/src/utils/text.js
Labels: enhancement

#177 Modular compliance rules table
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/EmptyRows.js
  packages/inventory-compliance/src/RulesComplianceFilter.js
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable.test.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
  packages/inventory-compliance/src/defaultColumns.js
  packages/inventory-compliance/src/index.js
Labels: release

#330 Hide fteching of tags behind localStorage flag
  packages/inventory/src/EntityTableToolbar.js
Labels: release

#331 Do not show empty policy cards
  packages/inventory-compliance/src/SystemPolicyCards.js
  packages/inventory-compliance/src/SystemPolicyCards.test.js
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCards.test.js.snap
Labels: release

#277 [RHICOMPL-420] - Re-enable search by references on Compliance
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/Fixtures.js
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
Labels: release

#332 RHCLOUD-4231 Remediations: Patch Manager support in frontend components
  packages/remediations/src/steps/IssueTable.js
Labels: release

#333 Perform items filter only after all data arrives
  packages/inventory/src/redux/entities.js
Labels: release

#334 Use realtime navigation refresh in sources navigation
  packages/sources/package.json
  packages/sources/src/addSourceWizard/SourceAddSchema.js
Labels: release, sources

#335 Fix pagination when whole list of systems is passed
  packages/inventory/src/InventoryList.js
Labels: release

#336 Fire only refresh when user changes pagination and refresh is set
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/Inventory.js
  packages/inventory/src/Pagination.js
  packages/inventory/src/constants.js
Labels: release

#338 When using inventory directly we do not need to pass pagination
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/constants.js
Labels: release

#339 Sources: fix sentese cases
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/access_key.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/finalWizard.test.js.snap
  packages/sources/src/tests/addSourceWizard/schemaBuilder/helper.test.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/utilities/stringConstants.js
Labels: bug, release, sources
