Repository RedHatInsights/frontend-components, pull requests merged in 2020-04, with the labels that each got.

#421 Use correct culling information colors and icons
  packages/components/src/Components/CullingInfo/CullingInformation.js
  packages/components/src/Components/CullingInfo/CullingInformation.test.js
  packages/components/src/Components/CullingInfo/__snapshots__/CullingInformation.test.js.snap
Labels: release

#428 Add authentication component
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/sourceFormRenderer/components/Authentication.js
  packages/sources/src/sourceFormRenderer/index.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/sourceFormRenderer/authentication.test.js
Labels: enhancement, release, sources

#429 [RFR] Add Paragraph component to pdf-generator
  packages/pdf-generator/src/components/Paragraph.js
  packages/pdf-generator/src/index.js
Labels: bug, components, release

#430 Use inventory page from parent if used in different app
  packages/inventory/src/Pagination.js
Labels: release

#431 Fix checkboxes in expandable inventory table
  packages/inventory/src/EntityTable.js
Labels: release

#434 Use score from backend in SystemPolicyCard
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/SystemPolicyCard.js
  packages/inventory-compliance/src/SystemPolicyCard.test.js
  packages/inventory-compliance/src/SystemPolicyCards.test.js
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCards.test.js.snap
Labels: release

#433 Reintroduce tagging filter and hide it behind prop
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/Inventory.js
  packages/inventory/src/InventoryList.js
  packages/inventory/src/constants.js
  packages/inventory/src/redux/actions.js
  packages/inventory/src/redux/entities.js
Labels: release

#432 Fix how chips are removed when filter is applied
  packages/inventory/src/EntityTableToolbar.js
Labels: release

#437 Allow passing async function to PDF generator to fetch data on the fly
  packages/pdf-generator/README.md
  packages/pdf-generator/src/DownloadButton.js
  packages/pdf-generator/src/components/PDFDocument.js
Labels: release

#439 Ignore children when checking for new data fetches
  packages/inventory/src/InventoryList.js
  packages/inventory/src/redux/actions.js
Labels: release

#436 Shield tooltip doesn't overflow viewport
  packages/components/src/Components/Shield/Shield.js
  packages/components/src/Components/Shield/__snapshots__/Shield.test.js.snap
Labels: release

#438 Made few small fixes for rule-components
  packages/rule-components/src/ReportDetails/index.js
  packages/rule-components/src/RuleTable/RuleTable.js
Labels: release

#441 Add progress bar to sources wizard
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/createProgressText.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/addSourceWizard/steps/ErroredStep.js
  packages/sources/src/addSourceWizard/steps/FinishedStep.js
  packages/sources/src/addSourceWizard/steps/LoadingStep.js
  packages/sources/src/api/createSource.js
  packages/sources/src/api/handleError.js
  packages/sources/src/index.js
  packages/sources/src/styles/emptyState.scss
  packages/sources/src/tests/addSourceWizard/__snapshots__/finalWizard.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/steps.test.js.snap
  packages/sources/src/tests/addSourceWizard/createProgressText.test.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
  packages/sources/src/tests/addSourceWizard/steps.test.js
  packages/sources/src/tests/api/createSource.test.js
  packages/sources/src/tests/api/handleError.test.js
Labels: enhancement, release, sources

#442 Add loading options and external sortBy to inventory
  packages/inventory/src/EntityTable.js
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/InventoryList.js
  packages/inventory/src/Pagination.js
Labels: release

#443 Hide tags in system detail
  packages/inventory/src/EntityDetail.js
  packages/inventory/src/Inventory.js
  packages/inventory/src/InventoryDetail.js
  packages/inventory/src/InventoryList.js
  packages/inventory/src/api/index.js
  packages/inventory/src/redux/actions.js
Labels: release

#444 Added prop for hidding description in RiskDescription
  packages/rule-components/src/ReportDetails/RiskDescription.js
  packages/rule-components/src/ReportDetails/RuleFeedback.js
  packages/rule-components/src/ReportDetails/index.js
Labels: release

#425 Use PrimaryToolbar for SystemRulesTable
  packages/inventory-compliance/package.json
  packages/inventory-compliance/src/Constants.js
  packages/inventory-compliance/src/PresentationalComponents/ConditionalLink.js
  packages/inventory-compliance/src/PresentationalComponents/EmptyRows.js
  packages/inventory-compliance/src/PresentationalComponents/RuleChildRow.js
  packages/inventory-compliance/src/PresentationalComponents/RuleLoadingTable.js
  packages/inventory-compliance/src/PresentationalComponents/RuleTitle.js
  packages/inventory-compliance/src/PresentationalComponents/index.js
  packages/inventory-compliance/src/RulesComplianceFilter.js
  packages/inventory-compliance/src/RulesComplianceFilter.test.js
  packages/inventory-compliance/src/SystemPolicyCard.js
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable.test.js
  packages/inventory-compliance/src/Utilities/ChipBuilder.js
  packages/inventory-compliance/src/Utilities/ChipBuilder.test.js
  packages/inventory-compliance/src/Utilities/FilterBuilder.js
  packages/inventory-compliance/src/Utilities/FilterBuilder.test.js
  packages/inventory-compliance/src/Utilities/FilterBuilderConfigBuilder.js
  packages/inventory-compliance/src/Utilities/FilterConfigBuilder.js
  packages/inventory-compliance/src/Utilities/FilterConfigBuilder.test.js
  packages/inventory-compliance/src/Utilities/RulesHelper.js
  packages/inventory-compliance/src/Utilities/__snapshots__/ChipBuilder.test.js.snap
  packages/inventory-compliance/src/Utilities/__snapshots__/FilterBuilder.test.js.snap
  packages/inventory-compliance/src/Utilities/__snapshots__/FilterConfigBuilder.test.js.snap
  packages/inventory-compliance/src/Utilities/index.js
  packages/inventory-compliance/src/__snapshots__/RulesComplianceFilter.test.js.snap
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
  packages/inventory-compliance/src/index.js
Labels: release

#445 Import DataToolbarItem from dist/js/experimental
  packages/inventory-compliance/src/SystemRulesTable.js
Labels: release

#446 Lock version of react dom and react to 12 in order to correctly render charts
  packages/pdf-generator/package.json
Labels: release

#447 Sometimes primary toolbar placeholders need to be capitalized...
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.js
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.test.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
Labels: release

#448 Switch endpoint/auth steps in Tower + Catalog
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/endpoint.js
  packages/sources/src/addSourceWizard/hardcodedComponents/tower/catalog.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/openshift.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/tower_catalog.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
Labels: enhancement, release, sources

#449 Generate Summary fields from additional steps
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
Labels: enhancement, release, sources

#450 When editing authentication do not show empty password
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: bug, release, sources

#451 Adds info tooltip to total risk battery (match adv rec table) also fixes filter placeholder text
  packages/inventory-insights/src/Constants.js
  packages/inventory-insights/src/Insights.js
Labels: inventory/insights, release

#435 Add RBAC helpers to utilities
  config/setupTests.js
  packages/utils/config/webpack.config.js
  packages/utils/src/RBAC.d.ts
  packages/utils/src/RBAC.js
  packages/utils/src/RBAC.test.js
  packages/utils/src/RBACHook.js
  packages/utils/src/RBACHooks.d.ts
Labels: release

#454 Use sentence case for reboot label
  packages/components/src/Components/Reboot/Reboot.js
  packages/components/src/Components/Reboot/__snapshots__/Reboot.test.js.snap
Labels: release

#453 Align battery SVG
  packages/components/src/Components/Battery/battery.scss
Labels: bug, components, release

#456 Make Delete actions in detail follow platform standard
  packages/inventory/src/EntityDetail.js
Labels: release

#458 Clear pages before calling async function
  packages/pdf-generator/src/DownloadButton.js
Labels: release

#457 Inventory Advisor cleanups n changes 👨‍🚒🍇🌌
  packages/inventory-insights/src/Api.js
  packages/inventory-insights/src/Insights.js
  packages/inventory-insights/src/ReportDetails.js
Labels: enhancement, inventory/insights, release

#459 Fix summary list
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
Labels: bug, release, sources

#460 Kba row attribute ensures response of all queried node_id
  packages/inventory-insights/src/Insights.js
Labels: bug

#463 Adds app identifier to kba calls for debugging n such
  packages/inventory-insights/src/Insights.js
Labels: enhancement, release

#440 Add pagination, filter and select to tags modal
  packages/components/src/Components/TagModal/TagModal.js
  packages/components/src/Components/TagModal/TagModal.test.js
  packages/components/src/Components/TagModal/__snapshots__/TagModal.test.js.snap
  packages/inventory/src/EntityTable.js
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/TagWithDialog.js
  packages/inventory/src/TagsModal.js
  packages/inventory/src/api/index.js
  packages/inventory/src/constants.js
  packages/inventory/src/redux/actions.js
  packages/inventory/src/redux/entities.js
Labels: release

#465 Clear pages after downloading PDF
  packages/pdf-generator/src/DownloadButton.js
Labels: release

#461 Update cost management OpenShift wizard with new operator steps.
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_openshift.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
Labels: release, sources

#464 Remove stale information from stale component
  packages/components/src/Components/CullingInfo/CullingInformation.js
  packages/components/src/Components/CullingInfo/__snapshots__/CullingInformation.test.js.snap
Labels: release

#466 Fix sentence style in general information
  packages/components/src/Components/DateFormat/helper.js
  packages/components/src/Components/DateFormat/helper.test.js
  packages/inventory-general-info/src/LoadingCard.js
  packages/inventory-general-info/src/OperatingSystemCard.js
  packages/inventory-general-info/src/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/__snapshots__/InfrastructureCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/LoadingCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/OperatingSystemCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/SystemCard.test.js.snap
  packages/inventory/src/EntityTable.js
Labels: release

#470 Apply all filters when fetching all tags
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/Group.test.js.snap
  packages/inventory/package.json
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/api/index.js
  packages/inventory/src/constants.js
Labels: release

#472 Add react-intl as peer dependency and not direct
  packages/inventory-compliance/package.json
Labels: release

#473 Pass hide inv link from parent component
  packages/inventory/src/InventoryDetail.js
Labels: release

#467 Change insights column to advisor in remediations wizard
  packages/remediations/src/steps/IssueTable.js
Labels: release

#475 Export all action types and actions from inventory
  packages/inventory/src/index.js
Labels: release

#474 Added empty state to RuleTable
  packages/rule-components/src/RuleTable/RuleTable.js
Labels: release

#476 Remove count default to 0 and add isDisabled to BulkSelect
  packages/components/src/Components/BulkSelect/BulkSelect.js
  packages/components/src/Components/BulkSelect/BulkSelect.test.js
  packages/components/src/Components/BulkSelect/__snapshots__/BulkSelect.test.js.snap
  packages/components/src/Components/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
Labels: release

#469 Match dark-green compliance check icon everywhere
  packages/inventory-compliance/src/compliance.scss
Labels: release

#480 RHICOMPL-629 - Pass profile name properly to Remediations
  packages/inventory-compliance/src/ComplianceRemediationButton.js
  packages/inventory-compliance/src/Fixtures.js
  packages/inventory-compliance/src/PresentationalComponents/ConditionalLink.js
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
Labels: release

#479 Use close modal dialog instead of undo button
  packages/sources/src/addSourceWizard/CloseModal.js
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/index.js
  packages/sources/src/styles/authSelect.scss
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/addSourceWizard/closeModal.test.js
Labels: release, sources

#455 Upgrade DDF to version 2
  config/setupTests.js
  packages/sources/config/webpack.constants.js
  packages/sources/package.json
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/ValidatorReset.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/subscriptionWatch.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/sourceFormRenderer/components/AuthSelect.js
  packages/sources/src/sourceFormRenderer/components/Authentication.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/sourceFormRenderer/index.js
  packages/sources/src/tests/__mocks__/FieldProvider.js
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/arn.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/createAdditionalStepsNoSkipEndpoint.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/createAdditionalStepsSkipEndpoint.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/generateGenericAuthSelectionSteps.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/generateGenericAuthSelectionStepsSkipEndpoint.test.js
  packages/sources/src/tests/addSourceWizard/validatorReset.test.js
  packages/sources/src/tests/sourceFormRenderer/authentication.test.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/authSelect.test.js
  packages/sources/src/tests/sourceFormRenderer/components/cardSelect.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: on hold, sources

#485 Fix typo in satellite endpoint.role
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
Labels: bug, release

#483 Add Tooltip to Inventory-Insights added column
  packages/components/src/Components/DateFormat/DateFormat.js
  packages/components/src/Components/DateFormat/helper.js
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
Labels: release

#488 Update source/app type selection according to mocks
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/index.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/sourceFormRenderer/components/EnhancedSelect.js
  packages/sources/src/sourceFormRenderer/index.js
  packages/sources/src/styles/cardSelect.scss
  packages/sources/src/styles/enhancedSelect.scss
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
  packages/sources/src/tests/sourceFormRenderer/components/enhancedSelect.test.js
Labels: enhancement, sources

#490 Update steps styling according to mockups
  packages/sources/src/addSourceWizard/steps/ErroredStep.js
  packages/sources/src/addSourceWizard/steps/FinishedStep.js
  packages/sources/src/addSourceWizard/steps/LoadingStep.js
  packages/sources/src/styles/emptyState.scss
  packages/sources/src/tests/addSourceWizard/__snapshots__/steps.test.js.snap
Labels: enhancement, sources

#489 Fix async validator - now it has to throw errors
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/tests/addSourceWizard/asyncValidator.test.js
Labels: bug, sources

#492 Replace stepKeys with name
  packages/sources/README.md
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: bug, release, sources

#491 Display the request-id in the error window
  packages/notifications/src/Notification.js
  packages/notifications/src/__snapshots__/NotificationPortal.test.js.snap
  packages/utils/src/interceptors.js
Labels: release

#493 Fix default applied filters when filters are cleared
  packages/inventory/src/api/index.js
Labels: release

#495 Fixes the case of the inv-adv missing ul list stying 🕵🏿‍♀️
  packages/inventory-insights/src/insights.scss
Labels: bug, inventory/insights, release
