Repository RedHatInsights/frontend-components, pull requests merged in 2020-12, with the labels that each got.

#819 fix(Compliance SystemRulesTable): RHICOMPL-1032 filtering by policy and unique policies
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/Fixtures.js
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable.test.js
  packages/inventory-compliance/src/Utilities/FilterBuilderConfigBuilder.js
  packages/inventory-compliance/src/Utilities/RulesHelper.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
Labels: release

#807 Fix tags assigned to system pagination by using local state
  packages/inventory/src/components/table/__snapshots__/EntityTableToolbar.test.js.snap
  packages/inventory/src/redux/entities.js
  packages/inventory/src/shared/TagsModal.js
  packages/inventory/src/shared/TagsModal.test.js
  packages/inventory/src/shared/__snapshots__/TagsModal.test.js.snap
Labels: release

#820 Init DDF Remediations Wizard
  packages/remediations/src/NewRemediationWizard.js
  packages/remediations/src/RemediationWizard.js
  packages/remediations/src/index.js
  packages/remediations/src/schema.js
Labels: release

#822 Unlock version of peer dependencies
  packages/charts/package.json
  packages/components/package.json
  packages/inventory-compliance/package.json
  packages/inventory-general-info/package.json
  packages/inventory/package.json
  packages/notifications/package.json
  packages/remediations/package.json
  packages/rule-components/package.json
  packages/sources/package.json
  packages/utils/package.json
Labels: release

#824 fix(Compliance SystemRulesTable): RHICOMPL-1184 sorting by policy
  packages/inventory-compliance/src/Utilities/index.js
Labels: release

#825 Update types selection step
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/index.js
  packages/sources/src/sourceFormRenderer/components/EnhancedSelect.js
  packages/sources/src/styles/enhancedSelect.scss
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
  packages/sources/src/tests/utilities/filterApps.spec.js
  packages/sources/src/tests/utilities/filterTypes.spec.js
  packages/sources/src/utilities/filterApps.js
  packages/sources/src/utilities/filterTypes.js
  packages/sources/src/utilities/stringConstants.js
Labels: enhancement, release, sources

#830 Add code panel and some styling.
  packages/docs/components/example-component/code-highlight.js
  packages/docs/components/example-component/expandable-panel.js
  packages/docs/components/example-component/index.js
  packages/docs/components/navigation/components-navigation.json
  packages/docs/next.config.js
  packages/docs/package.json
Labels: docs

#804 Remove sitemap plugin
  packages/config/package.json
  packages/config/src/plugins.js
  packages/config/src/plugins.test.js
  packages/config/src/sitemap-plugin.js
Labels: release

#833 feat(Card): RHICOMPL-686 - Add unsupported SSG warning
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/PresentationalComponents/UnsupportedSSGVersion.js
  packages/inventory-compliance/src/PresentationalComponents/index.js
  packages/inventory-compliance/src/SystemPolicyCard.js
  packages/inventory-compliance/src/SystemPolicyCard.test.js
  packages/inventory-compliance/src/SystemPolicyCards.test.js
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCard.test.js.snap
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCards.test.js.snap
Labels: release

#835 Clean up page layout.
  packages/docs/components/layout/header-tools.js
  packages/docs/components/layout/index.js
  packages/docs/components/layout/mdx-provider-components.js
  packages/docs/components/navigation/index.js
  packages/docs/next.config.js
  packages/docs/public/github-logo.svg
  packages/docs/public/logo.svg
  packages/docs/public/vercel.svg
Labels: docs

#837 Improve loading of deps to speed up and remove unwanted chunks
  babel.config.js
  packages/inventory-compliance/src/ComplianceRemediationButton.js
  packages/inventory-insights/src/Insights.js
  packages/remediations/config/rollup.config.js
  packages/remediations/config/webpack.config.js
  packages/remediations/package.json
Labels: release

#838 Add copy to clipboard and codesandbox link to docs examples.
  packages/docs/components/example-component/code-highlight.js
  packages/docs/components/example-component/codesandbox-svg-icons.js
  packages/docs/components/example-component/create-code-sandbox-template.js
  packages/docs/components/example-component/expandable-panel.js
  packages/docs/components/example-component/index.js
  packages/docs/components/layout/mdx-provider-components.js
  packages/docs/examples/Ansible/normal-example.js
  packages/docs/package.json
  packages/docs/public/codesandbox-logo.svg
Labels: docs

#839 Update docs to enable serverless deployment build.
  packages/docs/components/navigation/index.js
  packages/docs/package.json
  packages/docs/pages/_document.js
  packages/docs/pages/index.js
Labels: docs

#841 Update async inventory component ErrorComponents.
  packages/components/package.json
  packages/components/src/Components/Inventory/AppInfo.js
  packages/components/src/Components/Inventory/AsyncInventory.js
  packages/components/src/Components/Inventory/DetailWrapper.js
  packages/components/src/Components/Inventory/InventoryDetail.js
  packages/components/src/Components/Inventory/InventoryDetailHead.js
  packages/components/src/Components/Inventory/InventoryTable.js
  packages/components/src/Components/Inventory/TagWithDialog.js
Labels: release

#821 RuleTable: relax emptyStateDescription to anything that can render
  packages/rule-components/src/RuleTable/RuleTable.js
Labels: release

#843 feat(Remediation): RHICOMPL-1124 Disabled for unsupported
  packages/inventory-compliance/src/ComplianceRemediationButton.js
Labels: release

#846 fix(UnsupportedSSG): RHICOMPL-1250 - Update popover text
  packages/inventory-compliance/src/PresentationalComponents/UnsupportedSSGVersion.js
Labels: release

#844 include options for OU and account aliases in IAM Policy
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/arn.test.js
Labels: release, sources

#851 Use new version of scalprum package
  packages/components/package.json
Labels: release

#848 fix(RulesTable): RHICOMPL-961 - Correct typo and fix sorting
  packages/inventory-compliance/src/SystemRulesTable.js
Labels: release
