Repository RedHatInsights/frontend-components, pull requests merged in 2020-10, with the labels that each got.

#758 fix(RHICOMPL-880): Update Ansible icon to use patternfly version
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/Constants.js
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable.test.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
  packages/inventory-compliance/src/defaultColumns.js
Labels: release

#759 Fix infinit detail loading by using custom component for detail wrapper
  packages/inventory/src/Inventory.js
  packages/inventory/src/components/detail/DetailRenderer.js
Labels: release

#760 SubWatch use AppAuth to create ARN
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
Labels: release, sources

#753 Add tooltip to all tag filter options
  packages/components/src/Components/FilterHooks/__snapshots__/constants.test.js.snap
  packages/components/src/Components/FilterHooks/constants.js
Labels: release

#762 Fire refresh data on load if inventory has items
  packages/inventory/src/components/table/InventoryList.js
Labels: release

#763 Fix conditional toolbar groups component by adding value to empty fields
  packages/components/package.json
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/Group.test.js.snap
Labels: release

#764 Fix inventory tags by passing correct fields and observing custom filters
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/InventoryList.scss
Labels: release

#766 Allow RBAC to be disabled when using inventory
  packages/inventory/src/Inventory.js
  packages/inventory/src/components/detail/DetailRenderer.js
  packages/inventory/src/shared/Wrapper.js
Labels: release

#765 fix(RHICOMPL-880): Set fitContent for columns to not trigger tooltip
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
  packages/inventory-compliance/src/index.js
Labels: release

#767 Show edit buttons only with right permissions
  packages/inventory-general-info/src/EditButton.js
  packages/inventory-general-info/src/EditButtonWithAccess.test.js
  packages/inventory-general-info/src/EditButtonWithNoAccess.test.js
  packages/inventory-general-info/src/GeneralInformation.test.js
  packages/inventory-general-info/src/SystemCard.js
  packages/inventory-general-info/src/SystemCard.test.js
Labels: inventory/general-info, release

#769 GeneralInfo component should get writePermissions
  packages/inventory-general-info/src/EditButton.js
  packages/inventory-general-info/src/EditButtonWithNoAccess.test.js
  packages/inventory-general-info/src/GeneralInformation.js
  packages/inventory-general-info/src/SystemCard.js
Labels: inventory/general-info, release

#768 Allow passing custom filter for systems table
  packages/components/src/Components/TagModal/TagModal.js
  packages/components/src/Components/TagModal/__snapshots__/TagModal.test.js.snap
  packages/inventory/package.json
  packages/inventory/src/api/api.js
  packages/utils/src/helpers.js
  packages/utils/src/helpers.test.js
Labels: release

#721 Maintenance component utc update
  packages/components/src/Components/Maintenance/Maintenance.js
  packages/components/src/Components/Maintenance/__snapshots__/Maintenance.test.js.snap
Labels: approved, release

#770 Clean tests for inventory general info
  config/globalSetup.js
  config/setupTests.js
  package.json
  packages/inventory-general-info/src/CollectionCard.test.js
  packages/inventory-general-info/src/GeneralInformation.js
  packages/inventory-general-info/src/InfoTable.js
  packages/inventory-general-info/src/TextInputModal.js
  packages/inventory-general-info/src/__mock__/selectors.js
  packages/inventory-general-info/src/__snapshots__/BiosCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/CollectionCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/__snapshots__/TextInputModal.test.js.snap
  packages/inventory-general-info/src/constants.js
  packages/inventory-general-info/src/constants.test.js
  packages/inventory-general-info/src/selectors.test.js
Labels: inventory/general-info, release, tests

#756 Remove reference to apply reducer hash in notifications.
  config/rollup-contants.js
  config/rollup-plugins.js
  packages/notifications/package.json
  packages/notifications/src/redux/reducers/notifications.js
Labels: bug, release

#773 Add [] for array values
  packages/utils/src/helpers.js
  packages/utils/src/helpers.test.js
Labels: release

#774 Create package for common eslint config.
  package-lock.json
  packages/eslint-config/README.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/prettier.config.js
Labels: enhancement, release

#775 Add publish config to eslint config.
  packages/eslint-config/package.json
Labels: bug, release

#771 [remediations] Update visual side of resolution selection.
  packages/remediations/src/RemediationWizard.js
  packages/remediations/src/RemediationWizard.scss
  packages/remediations/src/steps/ExistingOrNew.js
  packages/remediations/src/steps/IssueResolutionStep.js
  packages/remediations/src/steps/IssueResolutionStep.scss
  packages/remediations/src/steps/IssueTable.js
  packages/remediations/src/steps/SummaryStep.js
Labels: release minor, remediations

#778 Advisor report details component to support pydata in "more info" 🥰
  packages/inventory-insights/src/ReportDetails.js
Labels: enhancement, inventory/insights, release

#777 Allow multiple entities to be passed into tags modal
  packages/components/src/Components/TagModal/TableWithFilter.js
  packages/components/src/Components/TagModal/TableWithFilter.test.js
  packages/components/src/Components/TagModal/TagModal.js
  packages/components/src/Components/TagModal/TagModal.test.js
  packages/components/src/Components/TagModal/__snapshots__/TableWithFilter.test.js.snap
  packages/components/src/Components/TagModal/__snapshots__/TagModal.test.js.snap
Labels: release

#779 Disable bulk select in inventory if isDisabled passed in bulk props
  packages/inventory/src/components/table/EntityTableToolbar.js
Labels: release

#780 Check source availability after creating
  packages/sources/src/api/constants.js
  packages/sources/src/api/createSource.js
  packages/sources/src/api/index.js
  packages/sources/src/tests/api/createSource.test.js
Labels: release, sources

#782 Fix showing of bulk select all the time in inventory
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/__snapshots__/EntityTableToolbar.test.js.snap
Labels: release

#785 Check source endpoint status when creating a source
  packages/sources/config/rollup.config.js
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/api/createSource.js
  packages/sources/src/api/getApplicationStatus.js
  packages/sources/src/api/index.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
  packages/sources/src/tests/api/createSource.test.js
  packages/sources/src/tests/utilities/computeSourceStatus.test.js
  packages/sources/src/utilities/computeSourceStatus.js
Labels: enhancement, release, sources

#786 Use correct permissions for READ inventory
  packages/inventory/src/shared/Wrapper.js
Labels: release

#784 Pdf generator without clicking
  packages/pdf-generator/src/DownloadButton.js
Labels: release

#787 Add status callbacks for pdf-generator
  packages/pdf-generator/src/DownloadButton.js
Labels: release

#788 Custom text not auth
  packages/components/doc/maintenance.md
  packages/components/doc/notAuthorized.md
  packages/components/src/Components/Maintenance/Maintenance.js
  packages/components/src/Components/NotAuthorized/NotAuthorized.js
  packages/components/src/Components/NotAuthorized/NotAuthorized.test.js
  packages/components/src/Components/NotAuthorized/__snapshots__/NotAuthorized.test.js.snap
Labels: enhancement

#789 Use id as value for select option
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/Group.test.js
  packages/components/src/Components/FilterHooks/constants.js
Labels: release

#791 Change RBAC wording for inventory
  packages/inventory/src/components/detail/InventoryDetail.js
  packages/inventory/src/components/table/InventoryList.scss
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/__snapshots__/InventoryList.test.js.snap
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
  packages/inventory/src/shared/AccessDenied.js
Labels: release

#794 Updating Cost AWS wizard to include prefix name
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
Labels: release, sources

#793 Make edit link universal
  packages/inventory/src/shared/TagsModal.test.js
  packages/sources/src/addSourceWizard/EditLink.js
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/steps/FinishedStep.js
  packages/sources/src/tests/addSourceWizard/editLink.test.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
  packages/sources/src/tests/addSourceWizard/steps.test.js
  packages/sources/src/tests/utilities/computeSourcesUrl.test.js
  packages/sources/src/utilities/computeSourcesUrl.js
Labels: release, sources

#796 Allow to check updated to get the latest status
  packages/sources/src/api/getApplicationStatus.js
  packages/sources/src/tests/api/getApplicationStatus.test.js
Labels: release, sources

#797 Use correct version of react-redux
  packages/components/package.json
Labels: release

#799 Add options to filter generator
  packages/utils/src/helpers.js
  packages/utils/src/helpers.test.js
Labels: enhancement, release, utils
