Repository RedHatInsights/frontend-components, pull requests merged in 2020-05, with the labels that each got.

#498 add popover to system properties
  packages/inventory-general-info/src/GeneralInformation.test.js
  packages/inventory-general-info/src/SystemCard.js
  packages/inventory-general-info/src/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/__snapshots__/SystemCard.test.js.snap
  packages/inventory-general-info/src/general-information.scss
Labels: approved, release

#497 Update x-rh-insights-request-id parameter
  packages/inventory-general-info/src/api/api.test.js
  packages/utils/src/interceptors.js
Labels: release

#481 Left Align Remediations Wizard
  packages/components/src/Components/Wizard/Wizard.js
  packages/components/src/Components/Wizard/__snapshots__/Wizard.test.js.snap
  packages/remediations/src/RemediationWizard.js
Labels: enhancement

#486 Add Filters and pagination to general info modals
  packages/inventory-general-info/src/GeneralInformation.js
  packages/inventory-general-info/src/InfoTable.js
  packages/inventory-general-info/src/InfoTable.test.js
  packages/inventory-general-info/src/__snapshots__/InfoTable.test.js.snap
  packages/inventory-general-info/src/__snapshots__/dataMapper.test.js.snap
  packages/inventory-general-info/src/constants.js
  packages/inventory-general-info/src/constants.test.js
  packages/inventory-general-info/src/dataMapper.js
Labels: release

#496 Added Remediating modal and changed markdown rendered engine
  packages/rule-components/package.json
  packages/rule-components/src/ReportDetails/LinkInDetails.js
  packages/rule-components/src/ReportDetails/Markdown.js
  packages/rule-components/src/ReportDetails/RemediatingModal.js
  packages/rule-components/src/ReportDetails/index.js
  packages/rule-components/src/ReportDetails/index.scss
Labels: release

#501 Do not show text when there is an icon in CardSelect
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/styles/cardSelect.scss
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
  packages/sources/src/tests/sourceFormRenderer/components/cardSelect.test.js
Labels: release, sources

#502 Explicitly declare ul market style cuz sometimes its lost
  packages/inventory-insights/src/insights.scss
Labels: bug, inventory/insights, release

#503 Disc not a string
  packages/inventory-insights/src/insights.scss
Labels: bug, inventory/insights, release

#494 Update AWS instruction to use GZIP and disable Athena
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/arn.test.js
Labels: release, sources

#504 Pass isChecked in order to properly calculate 3rd state of checkbox
  packages/components/src/Components/BulkSelect/BulkSelect.js
  packages/components/src/Components/BulkSelect/__snapshots__/BulkSelect.test.js.snap
Labels: release

#507 Add frontend-assets as endpoint for RH fonts
  packages/pdf-generator/src/utils/fonts.js
Labels: release

#506 Remove noEndpoint setter from sources
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/generateGenericAuthSelectionSteps.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/generateGenericAuthSelectionStepsSkipEndpoint.test.js
  packages/sources/src/tests/helpers/sourceTypes.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: sources

#505 RHICOMPL-620 - Update empty-state for compliance
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/ComplianceEmptyState.js
  packages/inventory-compliance/src/ComplianceEmptyState.test.js
  packages/inventory-compliance/src/__snapshots__/ComplianceEmptyState.test.js.snap
  packages/inventory-compliance/src/index.js
Labels: release

#499 do not use caps for playbooks when ansible is not around
  packages/remediations/src/steps/ExistingOrNew.js
Labels: approved, release

#511 Update Azure roles instructions to include the necessary permissions
  packages/sources/src/addSourceWizard/hardcodedComponents/azure/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_azure.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
Labels: release, sources

#508 Pass isDisabled to all conditional filter items
  packages/components/src/Components/ConditionalFilter/Checkbox.js
  packages/components/src/Components/ConditionalFilter/Checkbox.test.js
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.js
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.test.js
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/Group.test.js
  packages/components/src/Components/ConditionalFilter/Radio.js
  packages/components/src/Components/ConditionalFilter/Radio.test.js
  packages/components/src/Components/ConditionalFilter/Text.js
  packages/components/src/Components/ConditionalFilter/Text.test.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/Checkbox.test.js.snap
  packages/components/src/Components/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/Components/ConditionalFilter/__snapshots__/Group.test.js.snap
  packages/components/src/Components/ConditionalFilter/__snapshots__/Radio.test.js.snap
  packages/components/src/Components/ConditionalFilter/__snapshots__/Text.test.js.snap
  packages/components/src/Components/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
Labels: release

#513 Update OCP cluster identifier instructions
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_openshift.test.js
Labels: release, sources

#514 Added action feedback to RuleFeedback
  packages/rule-components/src/ReportDetails/RuleFeedback.js
  packages/rule-components/src/ReportDetails/index.js
Labels: release

#515 Fix meta key on inventory detail links
  packages/inventory/src/EntityTable.js
Labels: release

#516 Pass correctly request ID if present, do not or create sentryId if requestId present
  packages/notifications/src/notificationsMiddleware.js
  packages/utils/src/interceptors.js
Labels: release

#518 Fix bulk select check calculation, isSelected calculated off rule_id 👍🏽🤤
  packages/inventory-insights/src/Insights.js
Labels: bug, inventory/insights, release

#519 Fix broken empty state link to docs
  packages/inventory-compliance/src/ComplianceEmptyState.js
  packages/inventory-compliance/src/__snapshots__/ComplianceEmptyState.test.js.snap
Labels: release

#520 Ignore errors in findSource request in name validator
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/tests/addSourceWizard/asyncValidator.test.js
Labels: release, sources

#484 Reintroduce orange stale information tooltip
  packages/components/src/Components/CullingInfo/CullingInformation.js
  packages/components/src/Components/CullingInfo/__snapshots__/CullingInformation.test.js.snap
Labels: release

#517 Add unavailable component (for 500 errors)
  packages/components/src/Components/Unavailable/Unavailable.js
  packages/components/src/Components/Unavailable/Unavailable.scss
  packages/components/src/Components/Unavailable/Unavailable.test.js
  packages/components/src/Components/Unavailable/__snapshots__/Unavailable.test.js.snap
  packages/components/src/Components/Unavailable/index.js
  packages/components/src/index.js
Labels: approved, release

#521 Fixed total risk icon align and fixed markdown code word wrap
  packages/rule-components/src/ReportDetails/Markdown.js
  packages/rule-components/src/ReportDetails/RiskDescription.js
  packages/rule-components/src/ReportDetails/index.scss
  packages/rule-components/src/RuleTable/index.scss
Labels: release

#510 Add NotAuthorized component to handle 403s
  packages/components/src/Components/NotAuthorized/NotAuthorized.js
  packages/components/src/Components/NotAuthorized/NotAuthorized.scss
  packages/components/src/Components/NotAuthorized/NotAuthorized.test.js
  packages/components/src/Components/NotAuthorized/__snapshots__/NotAuthorized.test.js.snap
  packages/components/src/Components/NotAuthorized/index.js
  packages/components/src/index.js
Labels: release

#524 Fix fail when authentication does not have validate attribute
  packages/sources/src/sourceFormRenderer/components/Authentication.js
  packages/sources/src/tests/sourceFormRenderer/authentication.test.js
Labels: bug, release, sources

#526 Pass isDisabled prop to DropdownToggle
  packages/components/src/Components/DownloadButton/DownloadButton.js
  packages/components/src/Components/DownloadButton/__snapshots__/DownloadButton.test.js.snap
Labels: release
