Repository RedHatInsights/frontend-components, pull requests merged in 2020-06, with the labels that each got.

#527 Enhance collection information in Inventory detail
  package-lock.json
  package.json
  packages/inventory-general-info/src/CollectionCard.js
  packages/inventory-general-info/src/__snapshots__/CollectionCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/GeneralInformation.test.js.snap
Labels: release

#525 Big sources refactoring
  packages/sources/src/addSourceWizard/CloseModal.js
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/addSourceWizard/steps/ErroredStep.js
  packages/sources/src/addSourceWizard/steps/FinishedStep.js
  packages/sources/src/addSourceWizard/steps/LoadingStep.js
  packages/sources/src/api/createSource.js
  packages/sources/src/index.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/addSourceButton.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/finalWizard.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/steps.test.js.snap
  packages/sources/src/tests/addSourceWizard/addSourceButton.test.js
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/addSourceWizard/sourceAddModal.test.js
  packages/sources/src/tests/api/costManagementAuthentication.test.js
  packages/sources/src/tests/api/handleError.test.js
Labels: release, sources

#528 Adds category filter to inv-insights plugin
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Constants.js
  packages/inventory-insights/src/Insights.js
Labels: enhancement, inventory/insights, release

#535 Remove using of process variable in source
  packages/sources/src/api/constants.js
Labels: release, sources

#536 Add sanitize html as dependency in components package
  config/rollup-contants.js
  packages/components/config/rollup.config.js
  packages/components/package.json
  packages/config/src/config.js
Labels: release

#537 Increase version of react-intl and remove locale data
  packages/translations/package.json
  packages/translations/src/Provider.js
  packages/translations/src/Provider.test.js
  packages/translations/src/index.js
Labels: release

#539 Fixed missing file extension in babel config.
  babel.config.js
Labels: bug, charts, components, config, inventory, inventory/compliance, inventory/general-info, inventory/insights, notifications, release, remediations, sources, translations, utils, workflows

#540 Release all packages to apply the babel config fix.
  packages/charts/README.md
  packages/components/README.md
  packages/config/README.md
  packages/inventory-compliance/README.md
  packages/inventory-general-info/README.md
  packages/inventory-insights/README.md
  packages/inventory/README.md
  packages/notifications/README.md
  packages/pdf-generator/README.md
  packages/remediations/README.md
  packages/rule-components/README.md
  packages/sources/README.md
  packages/translations/README.md
  packages/utils/README.md
Labels: release

#541 change main to browser for most packages
  package-lock.json
  package.json
  packages/charts/config/rollup.config.js
  packages/charts/package.json
  packages/components/config/rollup.config.js
  packages/components/package.json
  packages/inventory-compliance/config/rollup.config.js
  packages/inventory-compliance/package.json
  packages/inventory-general-info/config/rollup.config.js
  packages/inventory-general-info/package.json
  packages/inventory-insights/config/rollup.config.js
  packages/inventory-insights/package.json
  packages/inventory/config/rollup.config.js
  packages/inventory/package.json
  packages/notifications/config/rollup.config.js
  packages/notifications/package.json
  packages/pdf-generator/package.json
  packages/pdf-generator/rollup.config.js
  packages/remediations/config/rollup.config.js
  packages/remediations/package.json
  packages/rule-components/package.json
  packages/rule-components/rollup.config.js
  packages/sources/config/rollup.config.js
  packages/sources/package.json
  packages/translations/config/rollup.config.js
  packages/translations/package.json
Labels: release

#542 Fix sources v2 build
  packages/sources/config/rollup.config.js
  packages/sources/package.json
  packages/sources/src/api/index.js
Labels: release, sources

#534 RHICOMPL-572 - Prevent rule overflow in Compliance Rules table
  packages/inventory-compliance/src/PresentationalComponents/RuleTitle.js
Labels: release

#545 Add minified version of build
  packages/charts/config/rollup.config.js
  packages/charts/package.json
  packages/components/config/rollup.config.js
  packages/components/package.json
  packages/config/src/config.js
  packages/config/src/config.test.js
  packages/inventory-compliance/config/rollup.config.js
  packages/inventory-compliance/package.json
  packages/inventory-general-info/config/rollup.config.js
  packages/inventory-general-info/package.json
  packages/inventory-insights/config/rollup.config.js
  packages/inventory-insights/package.json
  packages/inventory/package.json
  packages/notifications/config/rollup.config.js
  packages/notifications/package.json
  packages/remediations/config/rollup.config.js
  packages/remediations/package.json
  packages/sources/package.json
  packages/translations/config/rollup.config.js
  packages/translations/package.json
  packages/utils/config/rollup.config.js
  packages/utils/package.json
Labels: release

#544 Added ability to reset vote in rule-components feedback
  packages/rule-components/src/ReportDetails/RuleFeedback.js
Labels: release

#548 If no kba article, hide kba section (gated off node_id param)
  packages/inventory-insights/src/ReportDetails.js
Labels: enhancement, inventory/insights, release

#500 Create notification for each item from payload
  packages/notifications/src/notificationsMiddleware.js
  packages/notifications/src/notificationsMiddleware.test.js
  packages/utils/src/interceptors.js
Labels: release

#553 Include mergeMessages helper function to utils package
  packages/utils/config/rollup.config.js
Labels: release

#529 RHICOMPL-646 - Sync empty states in Reports/SCAP policies
  packages/inventory-compliance/package.json
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/ComplianceEmptyState.js
  packages/inventory-compliance/src/ComplianceEmptyState.test.js
  packages/inventory-compliance/src/PresentationalComponents/ErrorCard.js
  packages/inventory-compliance/src/PresentationalComponents/index.js
  packages/inventory-compliance/src/__snapshots__/ComplianceEmptyState.test.js.snap
Labels: release

#555 Add receptor node for Ansible Tower
  packages/sources/README.md
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/tests/helpers/applicationTypes.js
  packages/sources/src/tests/helpers/sourceTypes.js
Labels: release, sources

#559 Show delete inventory only if app wishes to show it
  packages/inventory/src/EntityDetail.js
  packages/inventory/src/InventoryDetail.js
Labels: release

#558 Update components pf4
  package-lock.json
  package.json
  packages/components/doc/filters.md
  packages/components/doc/tableToolbar.md
  packages/components/package.json
  packages/components/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.test.js.snap
  packages/components/src/Components/BulkSelect/BulkSelect.test.js
  packages/components/src/Components/BulkSelect/__snapshots__/BulkSelect.test.js.snap
  packages/components/src/Components/ConditionalFilter/Checkbox.js
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/Radio.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/Checkbox.test.js.snap
  packages/components/src/Components/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/Components/ConditionalFilter/__snapshots__/Group.test.js.snap
  packages/components/src/Components/ConditionalFilter/__snapshots__/Radio.test.js.snap
  packages/components/src/Components/ConditionalFilter/__snapshots__/Text.test.js.snap
  packages/components/src/Components/CullingInfo/__snapshots__/CullingInformation.test.js.snap
  packages/components/src/Components/DownloadButton/DownloadButton.js
  packages/components/src/Components/DownloadButton/__snapshots__/DownloadButton.test.js.snap
  packages/components/src/Components/FilterChips/FilterChips.js
  packages/components/src/Components/FilterChips/FilterChips.test.js
  packages/components/src/Components/FilterChips/__snapshots__/FilterChips.test.js.snap
  packages/components/src/Components/Filters/FilterDropdown.js
  packages/components/src/Components/Filters/__snapshots__/FilterDropdown.test.js.snap
  packages/components/src/Components/InvalidObject/InvalidObject.js
  packages/components/src/Components/InvalidObject/__snapshots__/InvalidObject.test.js.snap
  packages/components/src/Components/LongTextTooltip/__snapshots__/LongTextTooltip.test.js.snap
  packages/components/src/Components/NotAuthorized/__snapshots__/NotAuthorized.test.js.snap
  packages/components/src/Components/PageHeader/__snapshots__/PageHeaderTitle.test.js.snap
  packages/components/src/Components/Pagination/PaginationMenu.js
  packages/components/src/Components/PrimaryToolbar/Actions.js
  packages/components/src/Components/PrimaryToolbar/PrimaryToolbar.js
  packages/components/src/Components/PrimaryToolbar/__snapshots__/Actions.test.js.snap
  packages/components/src/Components/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
  packages/components/src/Components/PrimaryToolbar/__snapshots__/SortBy.test.js.snap
  packages/components/src/Components/Reboot/__snapshots__/Reboot.test.js.snap
  packages/components/src/Components/Shield/__snapshots__/Shield.test.js.snap
  packages/components/src/Components/SimpleTableFilter/__snapshots__/SimpleTableFilter.test.js.snap
  packages/components/src/Components/SkeletonTable/__snapshots__/SkeletonTable.test.js.snap
  packages/components/src/Components/TableToolbar/TableToolbar.js
  packages/components/src/Components/TableToolbar/__snapshots__/TableToolbar.test.js.snap
  packages/components/src/Components/TagCount/__snapshots__/TagCount.test.js.snap
  packages/components/src/Components/TagModal/TagModal.js
  packages/components/src/Components/TagModal/__snapshots__/TagModal.test.js.snap
  packages/components/src/Components/TreeTable/__snapshots__/decorator.test.js.snap
  packages/components/src/Components/TreeTable/__snapshots__/rowWrapper.test.js.snap
  packages/components/src/Components/TreeTable/decorator.test.js
  packages/components/src/Components/Truncate/__snapshots__/Truncate.test.js.snap
  packages/components/src/Components/Unavailable/__snapshots__/Unavailable.test.js.snap
  packages/components/src/Components/Wizard/Wizard.js
  packages/components/src/Components/Wizard/__snapshots__/Wizard.test.js.snap
  packages/utils/package.json
  packages/utils/src/inventoryDependencies.js
Labels: dependencies

#560 Remove repo links
  packages/inventory-general-info/src/__snapshots__/dataMapper.test.js.snap
  packages/inventory-general-info/src/dataMapper.js
Labels: release

#556 Update graphql query to only return noncanonical profiles
  packages/inventory-compliance/src/ComplianceEmptyState.js
Labels: release

#564 [PF4] Update sources to pf4
  packages/sources/package.json
  packages/sources/src/addSourceWizard/CloseModal.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/finalWizard.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/sslFormLabel.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/steps.test.js.snap
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/cardSelect.test.js
Labels: dependencies, sources

#554 Add inventory hook for easier usage
  packages/utils/config/rollup.config.js
  packages/utils/doc/useInventory.md
  packages/utils/package.json
  packages/utils/src/useInventory.js
Labels: release

#572 [PF4] Update to stable DDF
  packages/sources/package.json
Labels: dependencies, sources

#569 Pass showTags to loadEntity
  packages/inventory-general-info/src/SystemCard.js
Labels: release

#573 Add dedicatedAction prop to PrimaryToolbar
  packages/components/src/Components/PrimaryToolbar/PrimaryToolbar.js
Labels: bug, release

#585 Update finished step
  packages/sources/src/addSourceWizard/steps/FinishedStep.js
  packages/sources/src/styles/emptyState.scss
  packages/sources/src/tests/addSourceWizard/__snapshots__/steps.test.js.snap
Labels: release, sources

#584 Updating Cost Management Doc link URL to 4.4
  packages/sources/src/utilities/stringConstants.js
Labels: release, sources

#586 Update empty state content width
  packages/sources/src/styles/emptyState.scss
Labels: release, sources

#587 Fix group select by passing array of children and use label
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/Group.test.js.snap
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/api/index.js
  packages/inventory/src/constants.js
Labels: release

#581 Removed remediating modal and added created date
  packages/rule-components/src/Markdown.js
  packages/rule-components/src/ReportDetails/RemediatingModal.js
  packages/rule-components/src/ReportDetails/index.js
  packages/rule-components/src/ReportDetails/index.scss
  packages/rule-components/src/RuleTable/index.scss
  packages/rule-components/src/index.js
Labels: release

#590 Fix compliance empty state by adding headingLevel to title
  packages/inventory-compliance/src/ComplianceEmptyState.js
  packages/inventory-compliance/src/__snapshots__/ComplianceEmptyState.test.js.snap
Labels: release

#592 PDF renderer table column header to support customization
  packages/pdf-generator/src/components/Table.js
Labels: release
