Repository RedHatInsights/frontend-components, pull requests merged in 2020-02, with the labels that each got.

#282 Update schemaBuilder tests with prepared scenarios
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/generateGenericAuthSelectionSteps.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/generateGenericAuthSelectionStepsSkipEndpoint.test.js
Labels: sources

#344 Export ComplianceRemediationButton and make minor changes
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/ComplianceRemediationButton.js
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
  packages/inventory-compliance/src/index.js
Labels: release

#340 Update build config to minimize bundle sizes.
  babel.config.js
  package-lock.json
  package.json
  packages/charts/package.json
  packages/components/config/webpack.constants.js
  packages/components/package.json
  packages/components/src/Components/ConditionalFilter/__snapshots__/Text.test.js.snap
  packages/components/src/Components/CullingInfo/__snapshots__/CullingInformation.test.js.snap
  packages/components/src/Components/DateFormat/__snapshots__/DateFormat.test.js.snap
  packages/components/src/Components/DownloadButton/DownloadButton.js
  packages/components/src/Components/DownloadButton/__snapshots__/DownloadButton.test.js.snap
  packages/components/src/Components/LongTextTooltip/__snapshots__/LongTextTooltip.test.js.snap
  packages/components/src/Components/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
  packages/components/src/Components/Shield/__snapshots__/Shield.test.js.snap
  packages/demo/package.json
  packages/inventory-compliance/config/webpack.constants.js
  packages/inventory-compliance/package.json
  packages/inventory-compliance/src/ComplianceRemediationButton.js
  packages/inventory-general-info/.gitignore
  packages/inventory-general-info/.npmignore
  packages/inventory-general-info/config/webpack.constants.js
  packages/inventory-general-info/package.json
  packages/inventory-general-info/src/GeneralInformation.js
  packages/inventory-general-info/src/__snapshots__/InfoTable.test.js.snap
  packages/inventory-general-info/src/__snapshots__/TextInputModal.test.js.snap
  packages/inventory-insights/config/webpack.constants.js
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
  packages/inventory/config/webpack.constants.js
  packages/inventory/package.json
  packages/notifications/config/webpack.constants.js
  packages/notifications/package.json
  packages/pdf-generator/package.json
  packages/remediations/.npmignore
  packages/remediations/RemediationButton.css
  packages/remediations/config/webpack.constants.js
  packages/remediations/package.json
  packages/remediations/src/RemediationButton.js
  packages/sources/config/webpack.constants.js
  packages/sources/package.json
  packages/sources/src/tests/addSourceWizard/__snapshots__/finalWizard.test.js.snap
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/access_key.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_openshift.test.js
  packages/utils/.gitignore
  packages/utils/.npmignore
  packages/utils/config/webpack.config.js
  packages/utils/src/inventoryDependencies.js
Labels: dependencies, enhancement

#352 Update DDF and add names where missing
  packages/sources/package.json
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
Labels: dependencies, release, sources

#353 Exports inv-insights report details card for use by other apps
  packages/inventory-insights/package.json
  packages/inventory-insights/src/index.js
Labels: inventory/insights, release

#347 Add culling information to inventory detail
  babel.config.js
  packages/components/src/Components/CullingInfo/CullingInformation.js
  packages/components/src/Components/CullingInfo/CullingInformation.scss
  packages/components/src/Components/CullingInfo/__snapshots__/CullingInformation.test.js.snap
  packages/inventory/src/EntityDetail.js
  packages/inventory/src/EntityTable.js
  packages/inventory/src/InventoryDetail.scss
  packages/inventory/src/InventoryList.scss
  packages/inventory/src/redux/entities.js
Labels: release

#342 Add tree table decorator
  packages/components/doc/treeview-table.md
  packages/components/src/Components/TreeTable/__snapshots__/decorator.test.js.snap
  packages/components/src/Components/TreeTable/__snapshots__/rowWrapper.test.js.snap
  packages/components/src/Components/TreeTable/decorator.js
  packages/components/src/Components/TreeTable/decorator.test.js
  packages/components/src/Components/TreeTable/helpers.js
  packages/components/src/Components/TreeTable/helpers.test.js
  packages/components/src/Components/TreeTable/index.js
  packages/components/src/Components/TreeTable/rowWrapper.js
  packages/components/src/Components/TreeTable/rowWrapper.test.js
  packages/components/src/Components/TreeTable/styles.scss
Labels: release

#354 Replace Button with AlertActionCloseButton in notifications.
  packages/notifications/src/Notification.js
  packages/notifications/src/__snapshots__/Notification.test.js.snap
  packages/notifications/src/__snapshots__/NotificationPortal.test.js.snap
Labels: bug, release

#355 Safely load culling info inventory detail
  packages/inventory/src/EntityDetail.js
Labels: release

#356 Minimize inv-insights bundle size
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Constants.js
  packages/inventory-insights/src/Insights.js
  packages/inventory-insights/src/MessageState.js
  packages/inventory-insights/src/ReportDetails.js
Labels: inventory/insights, release

#360 Remove sources API client
  packages/sources/package.json
  packages/sources/src/api/index.js
Labels: release, sources

#349 Add sortBy to skeleton and paddingColumnSize
  packages/components/src/Components/SkeletonTable/SkeletonTable.js
Labels: release

#365 Run afterSubmit immediately after source creating
  packages/sources/README.md
  packages/sources/src/addSourceWizard/index.js
Labels: enhancement, release, sources

#366 remove excess padding from toolbar items
  packages/components/src/Components/PrimaryToolbar/primary-toolbar.scss
Labels: approved, release

#364 Add staleness filter to inventory table
  packages/demo/src/index.js
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/api/index.js
  packages/inventory/src/constants.js
Labels: release

#367 Allow hiding active filter label for ConditionalFilter component
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.js
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.test.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/Components/ConditionalFilter/conditional-filter.scss
  packages/components/src/Components/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
Labels: release

#369 Show staleness chips only in non filtered list
  packages/inventory/src/EntityTableToolbar.js
Labels: release

#361 CSS tweaks for the pdf generator
  packages/pdf-generator/src/components/Chart.js
  packages/pdf-generator/src/components/Table.js
  packages/pdf-generator/src/utils/styles.js
Labels: release

#368 Removing the large loading Skeleton for actions
  packages/inventory/src/EntityTableToolbar.js
Labels: release

#375 Fix boolean to bool in ConditionalFilter propTypes
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.js
Labels: bug, components, release

#378 Add option to modify size of the pages
  packages/pdf-generator/README.md
  packages/pdf-generator/src/DownloadButton.js
Labels: release

#377 Align canvas item in legend table
  packages/pdf-generator/src/components/Chart.js
Labels: release

#372 Allows `actionsConfig` to be a React Element
  packages/components/src/Components/PrimaryToolbar/PrimaryToolbar.js
Labels: release

#351 Remove constant column numbers from SystemRulesTable
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/RulesComplianceFilter.js
  packages/inventory-compliance/src/RulesComplianceFilter.test.js
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable.test.js
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
Labels: release

#380 Add updates to support subscription watch wizard steps.
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/subscriptionWatch.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/subscription_watch_arn.test.js
Labels: release, sources

#381 Replaces 'rule/s' with 'recommendation/s'
  packages/inventory-insights/src/Insights.js
Labels: enhancement, release
