Repository RedHatInsights/frontend-components, pull requests merged in 2020-09, with the labels that each got.

#714 Use right data for SubWatch IAM Policy config
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/subscriptionWatch.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/subscription_watch_arn.test.js
Labels: release, sources

#715 Use correct helper for apply reducer hash
  packages/inventory/src/redux/reducers.js
Labels: release

#717 Add tooltips to table icons
  packages/inventory-general-info/src/__snapshots__/dataMapper.test.js.snap
  packages/inventory-general-info/src/dataMapper.js
Labels: release

#709 Add footer prop inside PDF generator
  packages/pdf-generator/src/components/PDFDocument.js
Labels: release

#696 Reduced title text bottom margin in PDF generator
  packages/pdf-generator/src/components/PDFDocument.js
  packages/pdf-generator/src/utils/styles.js
Labels: release

#718 Fix inventory imports as they need direct imports instead of generic ones
  packages/inventory/src/components/detail/AppInfo.js
  packages/inventory/src/components/detail/ApplicationDetails.js
  packages/inventory/src/components/detail/DetailWrapper.js
  packages/inventory/src/components/detail/FactsInfo.js
  packages/inventory/src/components/detail/SystemNotFound.js
  packages/inventory/src/components/detail/TopBar.js
  packages/inventory/src/components/drawer/BasicInfo.js
  packages/inventory/src/components/drawer/SystemIssues.js
  packages/inventory/src/components/filters/useTagsFilter.js
  packages/inventory/src/components/table/EntityTable.js
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/InventoryList.js
  packages/inventory/src/components/table/InventoryList.scss
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/NoSystemsTable.js
  packages/inventory/src/components/table/Pagination.js
  packages/inventory/src/redux/entities.js
  packages/inventory/src/redux/reducers.js
  packages/inventory/src/shared/DeleteModal.js
  packages/inventory/src/shared/TagWithDialog.js
  packages/inventory/src/shared/TagsModal.js
  packages/inventory/src/shared/constants.js
Labels: release

#724 Updating tooltip. Sorting existing list of remediations in wizard
  packages/remediations/src/RemediationButton.js
  packages/remediations/src/steps/ExistingOrNew.js
Labels: release

#725 Fix remediations button import.
  packages/inventory-insights/src/Insights.js
Labels: bug, inventory/insights, release

#726 Add alert RBAC notification for cost sources in summary
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCards.test.js.snap
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: release, sources

#727 Sources addSource UX fixes
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/subscriptionWatch.js
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/token.js
  packages/sources/src/addSourceWizard/hardcodedComponents/tower/catalog.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/tower_catalog.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: release, sources

#728 Cache source type icons
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
Labels: bug, release, sources

#729 Rename billing_source.bucket to billing_source.data_source.bucket
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/arn.test.js
  packages/sources/src/tests/api/createSource.test.js
  packages/sources/src/tests/helpers/sourceTypes.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: release, sources

#723 Fix inventory drawer issues
  packages/inventory/src/Inventory.js
  packages/inventory/src/components/detail/InventoryDetail.scss
  packages/inventory/src/components/detail/__snapshots__/DetailWrapper.test.js.snap
  packages/inventory/src/components/drawer/SystemIssues.js
  packages/inventory/src/components/drawer/__snapshots__/SystemIssues.test.js.snap
Labels: release

#731 Fire filter changes only after data are loaded
  packages/inventory/src/components/table/EntityTableToolbar.js
Labels: release

#730 Add filename hashing
  packages/config/src/config.js
  packages/config/src/config.test.js
  packages/config/src/plugins.js
Labels: release

#704 Add scrolling and enhance "See more" in Conditional Filter
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.js
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/Group.test.js.snap
Labels: release

#732 Fully working Error Component
  packages/components/src/Components/ErrorState/DefaultErrorMessage.js
  packages/components/src/Components/ErrorState/ErrorState.js
  packages/components/src/Components/ErrorState/index.js
Labels: approved, release

#733 Remove S3 Bucket from review when cost is not selected
  packages/sources/src/tests/helpers/sourceTypes.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: sources

#735 Do not fire refresh on mount if custom refresh is present
  packages/inventory/src/components/table/InventoryList.js
Labels: release

#647 Spacing in platform toolbar
  package-lock.json
  package.json
  packages/components/src/Components/FilterChips/filter-chips.scss
  packages/components/src/Components/PrimaryToolbar/PrimaryToolbar.js
  packages/components/src/Components/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
  packages/components/src/Components/PrimaryToolbar/primary-toolbar.scss
  packages/demo/src/index.scss
Labels: release

#739 Fix does have permission by using permission if given
  packages/utils/src/RBAC.js
  packages/utils/src/RBAC.test.js
Labels: release

#738 Introduce labels to pie chart
  packages/pdf-generator/src/components/Chart.js
Labels: release

#740 Make Ansible URL field consistent
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
Labels: release, sources

#737 [RHICOMPL-777] Fix issue with empty state flashing
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/SystemPolicyCards.js
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCards.test.js.snap
Labels: release

#734 Allow custom filters to be passed from parent
  babel.config.js
  packages/inventory/src/api/api.js
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/InventoryList.js
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/Pagination.js
  packages/inventory/src/shared/TagsModal.js
Labels: release

#744 [RHICOMPL-732] Values for radio filters aren't arrays
  packages/inventory-compliance/src/SystemRulesTable.js
Labels: release

#745 DateFormat: treat `null` date as invalid, not 1970
  packages/components/src/Components/DateFormat/DateFormat.js
  packages/components/src/Components/DateFormat/DateFormat.test.js
  packages/components/src/Components/DateFormat/__snapshots__/DateFormat.test.js.snap
Labels: release

#746 Add full page and in table view for inventory RBAC
  packages/inventory/doc/inventory.md
  packages/inventory/src/Inventory.js
  packages/inventory/src/components/detail/InventoryDetail.js
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/EntityTableToolbar.test.js
  packages/inventory/src/components/table/InventoryList.js
  packages/inventory/src/components/table/InventoryList.scss
  packages/inventory/src/components/table/InventoryList.test.js
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/InventoryTable.test.js
  packages/inventory/src/components/table/Pagination.js
  packages/inventory/src/components/table/Pagination.test.js
  packages/inventory/src/components/table/__snapshots__/EntityTableToolbar.test.js.snap
  packages/inventory/src/components/table/__snapshots__/InventoryList.test.js.snap
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/Pagination.test.js.snap
  packages/inventory/src/shared/AccessDenied.js
  packages/inventory/src/shared/Wrapper.js
Labels: release

#743 Parametrize not authorized component, add isLoading flag to rbac hook
  packages/components/src/Components/NotAuthorized/NotAuthorized.js
  packages/components/src/Components/NotAuthorized/NotAuthorized.test.js
  packages/components/src/Components/NotAuthorized/__snapshots__/NotAuthorized.test.js.snap
  packages/inventory/src/components/table/__snapshots__/InventoryList.test.js.snap
  packages/utils/src/RBACHook.js
Labels: release

#748 Introduce useApplicationAuth to create authentication on application
  packages/sources/README.md
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/api/createSource.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/generateGenericAuthSelectionSteps.test.js
  packages/sources/src/tests/api/createSource.test.js
Labels: release, sources

#749 [RHICOMPL-859][RHICOMPL-955] Improve compliance policy card labels and tooltip
  packages/inventory-compliance/src/SystemPolicyCard.js
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCard.test.js.snap
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCards.test.js.snap
Labels: release

#751 Update remediations not to use external deps
  packages/remediations/.gitignore
  packages/remediations/config/webpack.constants.js
  packages/remediations/src/RemediationButton.js
  packages/remediations/src/RemediationWizard.js
  packages/remediations/src/index.js
Labels: release

#741 add button for MUA on empty state
  config/setupTests.js
  packages/components/src/Components/NotAuthorized/NotAuthorized.js
  packages/components/src/Components/NotAuthorized/__snapshots__/NotAuthorized.test.js.snap
Labels: approved, release

#752 Add NODE_ENV=production to rollup build.
  config/rollup-plugins.js
  package-lock.json
  package.json
  packages/charts/config/rollup.config.js
  packages/components/config/rollup.config.js
  packages/inventory-compliance/config/rollup.config.js
  packages/inventory-general-info/config/rollup.config.js
  packages/inventory-insights/config/rollup.config.js
  packages/notifications/config/rollup.config.js
  packages/pdf-generator/rollup.config.js
  packages/rule-components/config/rollup.config.js
  packages/sources/config/rollup.config.js
  packages/translations/config/rollup.config.js
  packages/utils/config/rollup.config.js
Labels: bug, release

#754 Update internal dependencies.
  packages/notifications/package.json
  packages/translations/package.json
Labels: dependencies
