Repository RedHatInsights/frontend-components, pull requests merged in 2020-07, with the labels that each got.

#596 Change modal title to say display name instead of name
  packages/inventory-general-info/src/SystemCard.js
  packages/inventory-general-info/src/SystemCard.test.js
Labels: release

#597 Allow custom titles in TagModal
  packages/components/src/Components/TagModal/TagModal.js
Labels: components, release

#595 Updated ReportDetails design
  packages/rule-components/src/ReportDetails/index.js
  packages/rule-components/src/ReportDetails/index.scss
Labels: release

#594 Fix notifications babel config for direct imports
  packages/notifications/README.md
  packages/notifications/src/redux/reducers/notifications.js
Labels: release

#598 Fix missing react-intl provider by using custom one, if required
  packages/inventory-compliance/src/Compliance.js
  packages/inventory-compliance/src/SystemPolicyCard.js
Labels: release

#533 Changes required for Advisor to support pf4 updates
  packages/inventory-insights/src/Insights.js
  packages/inventory-insights/src/MessageState.js
  packages/inventory-insights/src/ReportDetails.js
Labels: enhancement, inventory/insights, release minor

#599 Remove debug code
  packages/inventory-compliance/src/Compliance.js
Labels: release

#601 revert changes to toolbar
  packages/components/doc/tableToolbar.md
  packages/components/src/Components/TableToolbar/TableToolbar.js
  packages/components/src/Components/TableToolbar/__snapshots__/TableToolbar.test.js.snap
  packages/inventory-general-info/src/__snapshots__/InfoTable.test.js.snap
Labels: approved, release

#593 update alerts for inventory
  packages/inventory-general-info/src/redux/actions.js
  packages/inventory-general-info/src/redux/actions.test.js
  packages/inventory/src/redux/actions.js
Labels: approved, release

#600 Make sources translatable
  packages/sources/.gitignore
  packages/sources/config/rollup.config.js
  packages/sources/package.json
  packages/sources/src/addSourceWizard/CloseModal.js
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/SSLFormLabel.js
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/createProgressText.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/access_key.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/subscriptionWatch.js
  packages/sources/src/addSourceWizard/hardcodedComponents/azure/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/endpoint.js
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/token.js
  packages/sources/src/addSourceWizard/hardcodedComponents/tower/catalog.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/addSourceWizard/steps/ErroredStep.js
  packages/sources/src/addSourceWizard/steps/FinishedStep.js
  packages/sources/src/addSourceWizard/steps/LoadingStep.js
  packages/sources/src/sourceFormRenderer/components/AuthSelect.js
  packages/sources/src/sourceFormRenderer/components/Authentication.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/sourceFormRenderer/components/ValuePopover.js
  packages/sources/src/tests/__mocks__/mount.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/finalWizard.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/sslFormLabel.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/steps.test.js.snap
  packages/sources/src/tests/addSourceWizard/addSourceButton.test.js
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/addSourceWizard/asyncValidator.test.js
  packages/sources/src/tests/addSourceWizard/closeModal.test.js
  packages/sources/src/tests/addSourceWizard/createProgressText.test.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/access_key.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/arn.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_azure.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_openshift.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/openshift.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/openshift_token.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/subscription_watch_arn.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/tower_catalog.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/generateGenericAuthSelectionSteps.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder/generateGenericAuthSelectionStepsSkipEndpoint.test.js
  packages/sources/src/tests/addSourceWizard/sourceAddModal.test.js
  packages/sources/src/tests/addSourceWizard/sslFormLabel.test.js
  packages/sources/src/tests/addSourceWizard/steps.test.js
  packages/sources/src/tests/sourceFormRenderer/authentication.test.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/authSelect.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
  packages/sources/src/tests/sourceFormRenderer/components/valuePopover.test.js
  packages/sources/src/utilities/stringConstants.js
Labels: release, sources

#605 Update IAM policy to have the min requirement
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
Labels: release, sources

#608 Update steps to new designs
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/createProgressText.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/addSourceWizard/steps/ErroredStep.js
  packages/sources/src/addSourceWizard/steps/FinishedStep.js
  packages/sources/src/addSourceWizard/steps/LoadingStep.js
  packages/sources/src/api/createSource.js
  packages/sources/src/index.js
  packages/sources/src/styles/emptyState.scss
  packages/sources/src/tests/addSourceWizard/__snapshots__/finalWizard.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/steps.test.js.snap
  packages/sources/src/tests/addSourceWizard/createProgressText.test.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
  packages/sources/src/tests/addSourceWizard/steps.test.js
  packages/sources/src/tests/api/createSource.test.js
Labels: release, sources

#606 Add Severity Line Chart
  packages/charts/README.md
  packages/charts/doc/severityLine.md
  packages/charts/src/Charts/SeverityLine/SeverityLine.js
  packages/charts/src/Charts/SeverityLine/index.js
  packages/charts/src/Charts/SeverityLine/severity-line.scss
  packages/charts/src/index.js
Labels: charts, enhancement, release minor

#602 Remove Battery from total risk filter
  packages/inventory-insights/src/Constants.js
Labels: enhancement, inventory/insights, release minor

#609 Add custom labels
  packages/components/src/Components/InsightsLabel/CriticalIcon.js
  packages/components/src/Components/InsightsLabel/CriticalIcon.test.js
  packages/components/src/Components/InsightsLabel/InsightsLabel.js
  packages/components/src/Components/InsightsLabel/InsightsLabel.test.js
  packages/components/src/Components/InsightsLabel/__snapshots__/CriticalIcon.test.js.snap
  packages/components/src/Components/InsightsLabel/__snapshots__/InsightsLabel.test.js.snap
  packages/components/src/Components/InsightsLabel/critical-icon.scss
  packages/components/src/Components/InsightsLabel/index.js
  packages/components/src/Components/InsightsLabel/labels.scss
  packages/components/src/index.js
Labels: components, enhancement, release minor

#610 Prevent Group filtering from fail on empty result
  packages/components/src/Components/ConditionalFilter/Group.js
Labels: release

#611 Test if date is valid or not and if not display it as Not available
  packages/inventory-general-info/src/BiosCard.js
  packages/inventory-general-info/src/BiosCard.test.js
  packages/inventory-general-info/src/OperatingSystemCard.js
  packages/inventory-general-info/src/__snapshots__/BiosCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/__snapshots__/OperatingSystemCard.test.js.snap
  packages/inventory-general-info/src/constants.js
  packages/inventory-general-info/src/constants.test.js
  packages/inventory-general-info/src/selectors.js
  packages/inventory-general-info/src/selectors.test.js
Labels: release

#604 Enhance conditional filter with show more option
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.js
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/Group.test.js.snap
  packages/components/src/Components/ConditionalFilter/conditional-filter.scss
Labels: release

#616 update cloudigrade (subscription watch) policy…
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/subscriptionWatch.js
Labels: release, sources

#617 Fetch subscription watch IAM policy config from API
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/subscriptionWatch.js
  packages/sources/src/api/subscriptionWatch.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/subscription_watch_arn.test.js
Labels: release, sources

#615 Update charts rollup to maintain styles in js
  packages/charts/config/rollup.config.js
  packages/charts/src/Charts/SeverityLine/SeverityLine.js
  packages/charts/src/Charts/SeverityLine/index.js
  packages/charts/src/Charts/SeverityLine/severity-line.scss
Labels: charts, release minor

#619 Make label styles important
  packages/components/src/Components/InsightsLabel/labels.scss
Labels: components, release

#620 Trade Battery for InsightLabel in Insights component
  packages/inventory-insights/src/Insights.js
Labels: enhancement, inventory/insights, release minor

#613 Adds back css rule to display/hide first kebab action
  packages/components/src/Components/PrimaryToolbar/primary-toolbar.scss
Labels: release

#622 Fix compliance detail if no system is available
  packages/inventory-compliance/src/Compliance.js
Labels: release

#623 Remove Important and update verbiage
  packages/components/src/Components/InsightsLabel/InsightsLabel.js
  packages/components/src/Components/InsightsLabel/labels.scss
Labels: bug, components, release

#624 Supports tsx entrypoint
  packages/config/index.js
Labels: release

#629 Allow custom classNames in SeverityLine chart
  packages/charts/src/Charts/SeverityLine/SeverityLine.js
Labels: charts, enhancement, release

#631 update 404 page to use specs
  packages/components/src/Components/InvalidObject/InvalidObject.js
  packages/components/src/Components/InvalidObject/InvalidObject.test.js
  packages/components/src/Components/InvalidObject/__snapshots__/InvalidObject.test.js.snap
Labels: components, enhancement, release

#633 Update inv-insights deps
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights.js
Labels: enhancement, inventory/insights, release

#628 Fix system detail by using router dom params
  packages/inventory/src/components/detail/InventoryDetail.js
  packages/inventory/src/components/table/EntityTable.js
  packages/inventory/src/components/table/EntityTable.test.js
  packages/inventory/src/components/table/InventoryList.test.js
Labels: release

#632 Updating Cost Management Doc link URL to 4.5
  packages/sources/src/utilities/stringConstants.js
Labels: release, sources

#634 Fix API error step in sources wizard
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
Labels: release, sources

#638 Refresh sources table after failed source removal
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
Labels: bug, release, sources

#639 Update success color for Inv-Insights
  packages/inventory-insights/src/insights.scss
Labels: enhancement, inventory/insights, release

#630 add maintenance component
  packages/components/src/Components/Maintenance/Maintenance.js
  packages/components/src/Components/Maintenance/Maintenance.test.js
  packages/components/src/Components/Maintenance/__snapshots__/Maintenance.test.js.snap
  packages/components/src/Components/Maintenance/index.js
  packages/components/src/Components/Maintenance/maintenance.scss
Labels: approved, components, enhancement, release

#641 Fix inv per page by using correct prop variable
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
Labels: release

#643 Allow custom text for PDF battery
  packages/pdf-generator/package.json
  packages/pdf-generator/src/components/Battery.js
Labels: enhancement, pdf-generator, release minor

#645 Allow custom PrimaryToolbar props in TagsModal
  packages/components/src/Components/TagModal/TagModal.js
Labels: components, enhancement, release

#642 Add validating and validated states for source.name field
  packages/sources/config/rollup.config.js
  packages/sources/package.json
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/sourceFormRenderer/resolveProps/validated.js
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/addSourceWizard/asyncValidator.test.js
  packages/sources/src/tests/sourceFormRenderer/resolveProps/validated.test.js
Labels: release, sources

#648 Fix showMoreTitle and onShowMore prop warnings
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.js
Labels: components, release

#644 Allow all details to be passed to inventory detail
  packages/inventory/src/Inventory.js
  packages/inventory/src/components/detail/AppInfo.js
  packages/inventory/src/components/detail/ApplicationDetails.js
  packages/inventory/src/components/detail/InventoryDetail.js
Labels: release

#649 Export named utils for easier import
  packages/utils/src/MiddlewareListener.js
  packages/utils/src/ReducerRegistry.js
  packages/utils/src/Registry.js
  packages/utils/src/RouterParams.js
  packages/utils/src/debounce.js
  packages/utils/src/interceptors.js
Labels: release

#646 Allow custom classnames in FilterChips component
  packages/components/src/Components/FilterChips/FilterChips.js
Labels: components, enhancement, release

#650 Export anmed exports from notifications package
  packages/notifications/src/Notification.js
  packages/notifications/src/NotificationPagination.js
  packages/notifications/src/NotificationPortal.js
  packages/notifications/src/notificationsMiddleware.js
Labels: release

#651 Add ouia data attr to tags
  packages/inventory/src/components/table/__snapshots__/EntityTable.test.js.snap
  packages/inventory/src/components/table/helpers.js
  packages/inventory/src/shared/TagWithDialog.js
Labels: release

#653 Fix component types
  package-lock.json
  package.json
  packages/components/.gitignore
  packages/components/package.json
  packages/components/src/Components/Dark/Dark.ts
  packages/components/src/Components/Main/Main.d.ts
  packages/components/src/Components/Main/Main.ts
  packages/components/src/Components/PageHeader/PageHeader.ts
  packages/components/src/Components/Section/Section.d.ts
  packages/components/src/Components/Section/Section.ts
  packages/components/src/Components/Skeleton/Skeleton.d.ts
  packages/components/src/Components/Skeleton/Skeleton.ts
  packages/components/src/Components/Spinner/Spinner.ts
  packages/components/src/Components/index.ts
  packages/components/tsconfig.json
Labels: release

#652 Fix pagination of embeded inventory by slicing only if more items than per page
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
  packages/inventory/src/shared/constants.js
Labels: release

#657 Update buildRows in InventoryRuleList
  packages/inventory-insights/src/Insights.js
  packages/inventory-insights/src/ReportDetails.js
  packages/inventory-insights/src/insights.scss
Labels: bug, inventory/insights, release

#656 Refactor source react-intl usage
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/SSLFormLabel.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/access_key.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/subscriptionWatch.js
  packages/sources/src/addSourceWizard/hardcodedComponents/azure/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/endpoint.js
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/token.js
  packages/sources/src/addSourceWizard/hardcodedComponents/tower/catalog.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/addSourceWizard/steps/TimeoutStep.js
  packages/sources/src/sourceFormRenderer/components/AuthSelect.js
  packages/sources/src/sourceFormRenderer/components/Authentication.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/sourceFormRenderer/components/ValuePopover.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/sslFormLabel.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/steps.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/authentication.test.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/authSelect.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: release, sources

#658 Add fitContent to Ansible header in inv-insights
  packages/inventory-insights/src/Insights.js
Labels: enhancement, inventory/insights, release

#655 Allow tab bookmarking trough query params of inventory
  packages/inventory/src/components/detail/AppInfo.js
  packages/inventory/src/components/detail/ApplicationDetails.js
  packages/inventory/src/components/detail/InventoryDetail.js
  packages/inventory/src/components/table/InventoryList.scss
  packages/inventory/src/components/table/TitleColumn.js
  packages/inventory/src/components/table/__snapshots__/EntityTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/TitleColumn.test.js.snap
Labels: release

#659 Add custom TagModal styling
  packages/components/src/Components/TagModal/tagModal.scss
Labels: bug, components, release

#661 Bug fix: Change status page link in Unavailable to go to status.redhat.com
  packages/components/src/Components/Unavailable/Unavailable.js
  packages/components/src/Components/Unavailable/__snapshots__/Unavailable.test.js.snap
Labels: release

#662 Remove extraneous h1 display inline rule
  packages/components/src/Components/Ansible/ansible.scss
Labels: release

#664 Updated Total risk icon in rule-components
  packages/rule-components/package.json
  packages/rule-components/src/ReportDetails/RiskDescription.js
  packages/rule-components/src/ReportDetails/RiskOfChangeIcon.js
  packages/rule-components/src/ReportDetails/RuleFeedback.js
  packages/rule-components/src/ReportDetails/constants.js
  packages/rule-components/src/ReportDetails/index.scss
  packages/rule-components/src/RuleFilters/totalRisk.js
  packages/rule-components/src/RuleTable/RuleTable.js
  packages/rule-components/src/RuleTable/index.scss
Labels: release
