Repository RedHatInsights/frontend-components, pull requests merged in 2020-08, with the labels that each got.

#667 Fix inv pagination in embeded mode
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/redux/entities.js
Labels: release

#665 Remove snapshots from sources
  packages/sources/src/tests/addSourceWizard/__snapshots__/sslFormLabel.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/steps.test.js.snap
  packages/sources/src/tests/addSourceWizard/sslFormLabel.test.js
  packages/sources/src/tests/addSourceWizard/steps.test.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: sources

#663 Fix inventory sorting by including orderBy and direction to GET request
  packages/inventory/src/shared/constants.js
Labels: release

#671 Make PF react completely external
  package.json
  packages/inventory/config/webpack.constants.js
Labels: release minor

#672 Add missing inventory component dependencies
  packages/inventory/src/shared/DeleteModal.js
  packages/inventory/src/shared/__snapshots__/DeleteModal.test.js.snap
  packages/inventory/src/shared/constants.js
  packages/utils/src/inventoryDependencies.js
Labels: release

#669 Add detail wrapper component and add basic inv info to it
  packages/inventory/src/Inventory.js
  packages/inventory/src/components/detail/DetailWrapper.js
  packages/inventory/src/components/detail/DetailWrapper.test.js
  packages/inventory/src/components/detail/InventoryDetail.js
  packages/inventory/src/components/detail/InventoryDetail.scss
  packages/inventory/src/components/detail/TopBar.js
  packages/inventory/src/components/detail/__snapshots__/DetailWrapper.test.js.snap
  packages/inventory/src/components/detail/index.js
  packages/inventory/src/components/drawer/BasicInfo.js
  packages/inventory/src/components/drawer/BasicInfo.test.js
  packages/inventory/src/components/drawer/__snapshots__/BasicInfo.test.js.snap
  packages/inventory/src/components/drawer/index.js
  packages/inventory/src/redux/action-types.js
  packages/inventory/src/redux/actions.js
  packages/inventory/src/redux/entityDetails.js
Labels: release

#674 Add sustem issues partial
  packages/inventory/src/__mock__/systemIssues.js
  packages/inventory/src/api/index.js
  packages/inventory/src/api/systemIssues.js
  packages/inventory/src/api/systemIssues.test.js
  packages/inventory/src/components/detail/DetailWrapper.js
  packages/inventory/src/components/detail/InventoryDetail.scss
  packages/inventory/src/components/detail/__snapshots__/DetailWrapper.test.js.snap
  packages/inventory/src/components/drawer/BasicInfo.js
  packages/inventory/src/components/drawer/SystemIssues.js
  packages/inventory/src/components/drawer/SystemIssues.test.js
  packages/inventory/src/components/drawer/__snapshots__/BasicInfo.test.js.snap
  packages/inventory/src/components/drawer/__snapshots__/SystemIssues.test.js.snap
  packages/inventory/src/components/drawer/index.js
  packages/inventory/src/redux/action-types.js
  packages/inventory/src/redux/actions.js
  packages/inventory/src/redux/entityDetails.js
  packages/inventory/src/redux/systemIssues.js
  packages/inventory/src/redux/systemIssues.test.js
Labels: release

#679 Fix remediations wrong hooks by using correct alias externals
  package.json
  packages/config/src/config.js
  packages/remediations/config/webpack.constants.js
  packages/remediations/src/RemediationButton.js
Labels: bug, release

#680 Center align ansible check, removes depreciated classes
  packages/inventory-insights/src/Insights.js
  packages/inventory-insights/src/insights.scss
Labels: bug, inventory/insights, release

#676 Add option for having title text only on first page of PDF
  packages/pdf-generator/src/components/PDFDocument.js
  packages/pdf-generator/src/components/Table.js
Labels: release

#677 Add option to have inner spacer in Truncate
  packages/components/src/Components/Truncate/Truncate.js
Labels: release

#683 Fix inifinit loading state by adding on mount even in inventory list
  packages/inventory/src/components/table/InventoryList.js
  packages/inventory/src/components/table/InventoryList.test.js
Labels: release

#682 Add order by to inventory tags
  packages/inventory/src/api/api.js
  packages/inventory/src/api/api.test.js
Labels: release

#678 Add detail info to inventory drawer
  packages/inventory/src/Inventory.js
  packages/inventory/src/components/detail/DetailWrapper.js
  packages/inventory/src/components/detail/DetailWrapper.test.js
  packages/inventory/src/components/detail/FactsInfo.js
  packages/inventory/src/components/detail/InventoryDetail.scss
  packages/inventory/src/components/detail/__snapshots__/DetailWrapper.test.js.snap
Labels: release

#681 Add InsightsLabel component to pdf-generator
  packages/pdf-generator/src/components/InsightsLabel.js
  packages/pdf-generator/src/index.js
  packages/pdf-generator/src/utils/styles.js
Labels: enhancement, pdf-generator, release

#684 Fix remediation file generator by adding proper css chunks
  packages/remediations/.gitignore
  packages/remediations/config/webpack.config.js
  packages/remediations/config/webpack.plugins.js
Labels: release

#685 Use detail wrapper only if needed
  packages/inventory/src/Inventory.js
  packages/inventory/src/components/detail/DetailWrapper.js
  packages/inventory/src/components/drawer/BasicInfo.js
  packages/inventory/src/components/drawer/SystemIssues.js
  packages/utils/src/inventoryDependencies.js
Labels: release

#686 fix maintenance component rendering description
  packages/components/src/Components/Maintenance/Maintenance.js
  packages/components/src/Components/Maintenance/__snapshots__/Maintenance.test.js.snap
  packages/components/src/Components/Maintenance/maintenance.scss
  packages/components/src/index.js
Labels: approved, release

#687 Fix sitemap plugin
  packages/config/src/sitemap-plugin.js
Labels: release

#691 Fix close modal styling
  packages/sources/src/addSourceWizard/CloseModal.js
  packages/sources/src/tests/addSourceWizard/closeModal.test.js
Labels: bug, release, sources

#693 Fix remediations broken steps by using correct PF react
  packages/config/src/config.js
  packages/remediations/config/webpack.constants.js
  packages/utils/src/inventoryDependencies.js
Labels: release

#675 Add tooltip indicating compliance is from openscap
  packages/inventory-compliance/src/SystemPolicyCard.js
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCards.test.js.snap
Labels: release

#694 Send proper PF react to remediations
  packages/remediations/src/RemediationButton.js
  packages/remediations/src/steps/SummaryStep.js
Labels: release

#692 Use app prefix for sitemap
  packages/config/src/sitemap-plugin.js
Labels: release

#697 Fix spelling mistake
  packages/remediations/src/RemediationWizard.js
Labels: bug, release, remediations

#699 Add Tooltip to DownloadButton
  packages/components/src/Components/DownloadButton/DownloadButton.js
  packages/components/src/Components/DownloadButton/__snapshots__/DownloadButton.test.js.snap
Labels: components, enhancement, release minor

#701 Include all inventory and remediations dependencies
  packages/utils/src/inventoryDependencies.js
Labels: release

#703 Pass orientation prop to PDF document
  packages/pdf-generator/README.md
  packages/pdf-generator/src/components/PDFDocument.js
Labels: release

#688 Add global filter component
  packages/components/README.md
  packages/components/config/rollup.config.js
  packages/components/package.json
  packages/components/src/Components/ConditionalFilter/Group.js
  packages/components/src/Components/ConditionalFilter/index.js
  packages/components/src/Components/FilterHooks/__snapshots__/constants.test.js.snap
  packages/components/src/Components/FilterHooks/constants.js
  packages/components/src/Components/FilterHooks/constants.test.js
  packages/components/src/Components/FilterHooks/index.js
  packages/components/src/Components/FilterHooks/tagFilterHook.js
  packages/components/src/Components/FilterHooks/tagFilterHook.scss
  packages/components/src/Components/TagModal/TagModal.js
  packages/components/src/index.js
Labels: release

#706 Fix components build by removing single run scripts
  packages/components/README.md
  packages/components/config/rollup.config.js
  packages/components/package.json
Labels: release

#708 Set tooltip distance as default
  packages/components/src/Components/DownloadButton/DownloadButton.js
Labels: bug, components, release

#705 Add CSAwIcon component to pdf-generator
  packages/pdf-generator/src/components/CSAwIcon.js
  packages/pdf-generator/src/index.js
  packages/pdf-generator/src/utils/styles.js
Labels: release

#707 Fix all styling issues in inventory tagging
  babel.config.js
  packages/components/src/Components/TagModal/TagModal.js
  packages/components/src/Components/TagModal/__snapshots__/TagModal.test.js.snap
  packages/inventory/src/components/detail/InventoryDetail.scss
  packages/inventory/src/components/filters/useTagsFilter.js
  packages/inventory/src/components/filters/useTagsFilter.test.js
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/InventoryList.scss
  packages/inventory/src/components/table/__snapshots__/EntityTableToolbar.test.js.snap
  packages/inventory/src/shared/TagsModal.js
  packages/inventory/src/shared/__snapshots__/TagsModal.test.js.snap
Labels: release

#711 Fix possible absolute node module path in babel transform.
  babel.config.js
Labels: bug, release

#712 Filter source types with invalid schema objects
  packages/sources/config/rollup.config.js
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/tests/utilities/filterTypes.spec.js
  packages/sources/src/utilities/filterTypes.js
Labels: release, sources

#713 Use direct import for a few inventory helpers since there is no index
  packages/components/src/Components/ConditionalFilter/conditional-filter.scss
  packages/inventory/src/redux/entities.js
  packages/inventory/src/redux/reducers.js
Labels: release
