Repository RedHatInsights/frontend-components, pull requests merged in 2020-03, with the labels that each got.

#385 Hide TopologyInventory in Sources Wizard
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/index.js
  packages/sources/src/tests/utilities/filterApps.spec.js
  packages/sources/src/utilities/filterApps.js
Labels: release, sources

#386 Catalog + Ansible sources UX enhancements
  packages/sources/package.json
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/addSourceButton.test.js.snap
  packages/sources/src/tests/addSourceWizard/__snapshots__/finalWizard.test.js.snap
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
  packages/sources/src/utilities/stringConstants.js
Labels: release, sources

#388 Use enhanced fields for summary
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: enhancement, release, sources

#384 Rule component
  package-lock.json
  package.json
  packages/demo/src/data.json
  packages/pdf-generator/rollup.config.js
  packages/rule-components/README.md
  packages/rule-components/package.json
  packages/rule-components/rollup.config.js
  packages/rule-components/src/RuleFilters/ansibleSupport.js
  packages/rule-components/src/RuleFilters/category.js
  packages/rule-components/src/RuleFilters/description.js
  packages/rule-components/src/RuleFilters/impact.js
  packages/rule-components/src/RuleFilters/incidentRules.js
  packages/rule-components/src/RuleFilters/index.js
  packages/rule-components/src/RuleFilters/likelihood.js
  packages/rule-components/src/RuleFilters/riskOfChange.js
  packages/rule-components/src/RuleFilters/ruleStatus.js
  packages/rule-components/src/RuleFilters/totalRisk.js
  packages/rule-components/src/RuleTable/RuleTable.js
  packages/rule-components/src/RuleTable/constants.js
  packages/rule-components/src/RuleTable/helpers.js
  packages/rule-components/src/RuleTable/index.js
  packages/rule-components/src/RuleTable/index.scss
  packages/rule-components/src/index.js
Labels: release

#389 Use PF4 spinner in Sources wizard
  packages/sources/src/addSourceWizard/steps/LoadingStep.js
  packages/sources/src/tests/addSourceWizard/__snapshots__/steps.test.js.snap
  packages/sources/src/tests/addSourceWizard/steps.test.js
Labels: release, sources

#395 Add missing authtype for cloud meter arn
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
Labels: bug, release, sources

#392 RHICOMPL-502 - Add tailoring and selected filter to rules table
  packages/inventory-compliance/src/RulesComplianceFilter.js
  packages/inventory-compliance/src/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable.test.js
  packages/inventory-compliance/src/__snapshots__/RulesComplianceFilter.test.js.snap
  packages/inventory-compliance/src/__snapshots__/SystemRulesTable.test.js.snap
  packages/inventory-compliance/src/defaultColumns.js
Labels: release

#394 implemented ocm report details component
  package-lock.json
  package.json
  packages/rule-components/src/ReportDetails/LinkInDetails.js
  packages/rule-components/src/ReportDetails/RiskDescription.js
  packages/rule-components/src/ReportDetails/RuleFeedback.js
  packages/rule-components/src/ReportDetails/constants.js
  packages/rule-components/src/ReportDetails/index.js
  packages/rule-components/src/ReportDetails/index.scss
  packages/rule-components/src/index.js
Labels: release

#399 Create authApp
  packages/sources/src/api/constants.js
  packages/sources/src/api/createSource.js
  packages/sources/src/api/index.js
  packages/sources/src/tests/api/createSource.test.js
Labels: enhancement, release, sources

#387 Select multiple items when array of items in passed to selectEntity
  packages/inventory/src/redux/entities.js
Labels: release

#398 Remove count numbers in chart legend
  packages/pdf-generator/src/components/Chart.js
Labels: release

#397 update doc links and instructions in cost management sources
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedComponents/azure/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/arn.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_azure.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_openshift.test.js
  packages/sources/src/utilities/stringConstants.js
Labels: enhancement, release, sources

#400 Fixes warning message about rows[0] being invalid to Table
  packages/components/src/Components/SkeletonTable/SkeletonTable.js
  packages/components/src/Components/SkeletonTable/__snapshots__/SkeletonTable.test.js.snap
Labels: release

#405 Use break-word in notification styles.
  packages/notifications/src/notifications.scss
Labels: notifications, release

#401 refactored like dislike buttons
  packages/rule-components/src/ReportDetails/RuleFeedback.js
  packages/rule-components/src/ReportDetails/index.js
  packages/rule-components/src/ReportDetails/index.scss
Labels: release

#406 Export TagWithDialog component in order to properly show tags in other apps
  packages/inventory/src/Inventory.js
Labels: release

#408 fixed vertical aligment of items in the table
  packages/rule-components/src/RuleTable/RuleTable.js
  packages/rule-components/src/RuleTable/index.scss
Labels: release

#409 Add popover for long values in wizard summary
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/sourceFormRenderer/components/ValuePopover.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
  packages/sources/src/tests/sourceFormRenderer/components/valuePopover.test.js
Labels: enhancement, sources

#410 Update wizard and catalog wording
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/styles/costManagement.scss
  packages/sources/src/tests/sourceFormRenderer/components/__snapshots__/sourceWizardSummary.test.js.snap
Labels: enhancement, release, sources

#411 Use solid error icon in wizard
  packages/sources/src/addSourceWizard/steps/ErroredStep.js
Labels: bug, release, sources

#396 [RFR] Only Display Checkboxes for Remediable Rules in Inventory-Insights
  packages/inventory-insights/src/Insights.js
Labels: bug, release

#412 Add source filter to inventory
  packages/inventory/package.json
  packages/inventory/src/EntityTableToolbar.js
  packages/inventory/src/api/index.js
  packages/inventory/src/constants.js
Labels: release

#413 Change Finish to Add in summary description
  packages/sources/src/addSourceWizard/SourceAddSchema.js
Labels: bug, release, sources

#403 Add delete option to EntityDetail
  packages/inventory/src/DeleteModal.js
  packages/inventory/src/EntityDetail.js
  packages/inventory/src/index.js
  packages/inventory/src/redux/action-types.js
  packages/inventory/src/redux/actions.js
Labels: release

#414 Apply default filters to inventory API calls
  packages/inventory/src/api/index.js
  packages/inventory/src/constants.js
Labels: release

#415 [RFR] Set row collapse to not change on filtering/sorting
  packages/inventory-insights/src/Insights.js
Labels: enhancement, inventory/insights, release minor

#417 Do not include slash in inventory detail if one is there
  packages/inventory/src/EntityTable.js
Labels: release

#416 [RFR] Add Label to Battery in Insights-Inventory
  packages/inventory-insights/src/Constants.js
  packages/inventory-insights/src/Insights.js
Labels: enhancement, inventory/insights, release

#422 Remove seconds for exact date format
  packages/components/src/Components/DateFormat/__snapshots__/DateFormat.test.js.snap
  packages/components/src/Components/DateFormat/helper.js
  packages/components/src/Components/DateFormat/helper.test.js
Labels: release

#419 Add rhsm detail information
  babel.config.js
  package-lock.json
  package.json
  packages/inventory-general-info/src/BiosCard.js
  packages/inventory-general-info/src/InfrastructureCard.js
  packages/inventory-general-info/src/InfrastructureCard.test.js
  packages/inventory-general-info/src/OperatingSystemCard.js
  packages/inventory-general-info/src/OperatingSystemCard.test.js
  packages/inventory-general-info/src/SystemCard.js
  packages/inventory-general-info/src/SystemCard.test.js
  packages/inventory-general-info/src/__mock__/selectors.js
  packages/inventory-general-info/src/__snapshots__/BiosCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/__snapshots__/InfrastructureCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/OperatingSystemCard.test.js.snap
  packages/inventory-general-info/src/__snapshots__/SystemCard.test.js.snap
  packages/inventory-general-info/src/redux/reducers.js
  packages/inventory-general-info/src/redux/reducers.test.js
  packages/inventory-general-info/src/selectors.js
  packages/inventory-general-info/src/selectors.test.js
Labels: release

#426 Use isEqual instead of JSON.stringify
  packages/inventory/src/InventoryList.js
Labels: release

#427 Show empty state if inventory detail not loaded correctly
  packages/inventory/src/EntityDetail.js
Labels: release
