Repository RedHatInsights/frontend-components, pull requests merged in 2020-11, with the labels that each got.

#801 Add SAP SIDs to general information page
  packages/inventory-general-info/src/SystemCard.js
  packages/inventory-general-info/src/SystemCard.test.js
  packages/inventory-general-info/src/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/__snapshots__/SystemCard.test.js.snap
  packages/inventory-general-info/src/selectors.js
Labels: inventory/general-info, release

#802 Disable apply selected if nothing is selected
  packages/components/src/Components/TagModal/TagModal.js
  packages/components/src/Components/TagModal/TagModal.test.js
  packages/components/src/Components/TagModal/__snapshots__/TagModal.test.js.snap
Labels: release

#803 Add new beta branches for builds
  packages/config/index.js
Labels: approved, release

#798 Bumping OCP docs version to 4.6
  packages/sources/src/utilities/stringConstants.js
Labels: release, sources

#806 Add select options to SkeletonTable
  package-lock.json
  packages/components/src/Components/SkeletonTable/SkeletonTable.js
  packages/components/src/Components/SkeletonTable/SkeletonTable.test.js
  packages/components/src/Components/SkeletonTable/__snapshots__/SkeletonTable.test.js.snap
  packages/components/src/Components/TagModal/__snapshots__/TableWithFilter.test.js.snap
Labels: release

#809 Load AWS account number from api in sub watch
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/subscriptionWatch.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/subscription_watch_arn.test.js
Labels: release, sources

#810 Allow to select same tags with different values
  packages/components/src/Components/FilterHooks/constants.js
  packages/components/src/Components/FilterHooks/constants.test.js
  packages/inventory/src/components/filters/useTagsFilter.test.js
Labels: bug, components, release

#811 Add tag key to tag filter hook
  packages/components/src/Components/FilterHooks/constants.js
Labels: release

#812 Fix initial tagFilter parsing
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/shared/constants.js
  packages/inventory/src/shared/constants.test.js
Labels: inventory, release

#815 Use tagKey from item when constructing chips
  packages/components/src/Components/FilterHooks/constants.js
  packages/components/src/Components/FilterHooks/constants.test.js
Labels: bug, release

#817 Improve inventory build by adding esm and cjs modules
  babel.config.js
  packages/inventory-general-info/src/SystemCard.js
  packages/inventory/config/rollup.config.js
  packages/inventory/package.json
Labels: release

#818 Add async inventory components to be used with scalprum
  package-lock.json
  package.json
  packages/components/config/rollup.config.js
  packages/components/package.json
  packages/components/src/Components/Inventory/AppInfo.js
  packages/components/src/Components/Inventory/AsyncInventory.js
  packages/components/src/Components/Inventory/DetailWrapper.js
  packages/components/src/Components/Inventory/InventoryDetail.js
  packages/components/src/Components/Inventory/InventoryDetailHead.js
  packages/components/src/Components/Inventory/InventoryTable.js
  packages/components/src/Components/Inventory/TagWithDialog.js
  packages/components/src/Components/Inventory/index.js
Labels: release minor

#816 Change summary to use description list
  packages/sources/src/addSourceWizard/EditLink.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/editLink.test.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: release, sources
