Repository RedHatInsights/frontend-components, pull requests merged in 2021-06, with the labels that each got.

#1157 Fix wrong prop type in tagCount tests
  packages/components/src/TagCount/TagCount.test.js
Labels: components

#1158 fix(groupFilter): add dummy value to not crash PF select
  package-lock.json
  packages/components/src/ConditionalFilter/GroupFilter.js
  packages/components/src/ConditionalFilter/__snapshots__/GroupFilter.test.js.snap
Labels: bug, components, release

#1160 Update expandable SystemsTables styling
  packages/remediations/src/common/SystemsTable.js
  packages/remediations/src/common/systemsTable.scss
  packages/remediations/src/utils/utils.js
Labels: release

#1162 Check sortable duplicate using string
  packages/inventory/src/components/table/helpers.js
  packages/inventory/src/components/table/helpers.test.js
Labels: inventory, release

#1165 404/InvalidObject Wording Fix
  packages/components/src/InvalidObject/InvalidObject.js
  packages/components/src/InvalidObject/__snapshots__/InvalidObject.test.js.snap
Labels: release

#1163 Add more customizability to PDF insights label
  packages/pdf-generator/src/components/InsightsLabel.js
Labels: components, release

#1166 Update all config dependencies
  package-lock.json
  packages/config/package.json
Labels: config, dependencies, release

#1167 Fix styling of Empty State inside a table (mobile)
  packages/components/src/TableToolbar/TableToolbar.scss
Labels: bug, release

#1168 Fix DateFormat import in PDF generator
  packages/pdf-generator/src/components/PDFDocument.js
Labels: bug, pdf-generator, release

#1169 Fix typos
  packages/components/src/Maintenance/Maintenance.js
  packages/components/src/Maintenance/__snapshots__/Maintenance.test.js.snap
Labels: components, release

#1173 Toolbar mobile fix
  packages/components/src/TableToolbar/TableToolbar.scss
Labels: release

#1174 Update maintenance screen
  packages/components/src/Maintenance/Maintenance.js
  packages/components/src/Maintenance/__snapshots__/Maintenance.test.js.snap
Labels: components, release

#1164 Update dropdown action 'View in inventory' text
  packages/inventory/src/components/detail/TopBar.js
  packages/inventory/src/components/detail/TopBar.test.js
Labels: inventory, release

#1170 feat(config): add standalone
  .gitignore
  package-lock.json
  package.json
  packages/config-utils/README.md
  packages/config-utils/federated-modules.js
  packages/config-utils/index.js
  packages/config-utils/package.json
  packages/config-utils/proxy.js
  packages/config-utils/serveLocalFile.js
  packages/config-utils/standalone/helpers/checkout.js
  packages/config-utils/standalone/helpers/index.js
  packages/config-utils/standalone/helpers/router.js
  packages/config-utils/standalone/index.js
  packages/config-utils/standalone/services/backofficeProxy.js
  packages/config-utils/standalone/services/default/chrome.js
  packages/config-utils/standalone/services/default/config.js
  packages/config-utils/standalone/services/default/entitlements.js
  packages/config-utils/standalone/services/default/index.js
  packages/config-utils/standalone/services/default/keycloak/export_keycloak.sh
  packages/config-utils/standalone/services/default/keycloak/realm_export.json
  packages/config-utils/standalone/services/default/landing.js
  packages/config-utils/standalone/services/index.js
  packages/config-utils/standalone/services/rbac.js
  packages/config-utils/standalone/startService.js
  packages/config/README.md
  packages/config/index.js
  packages/config/package.json
  packages/config/src/config.js
  packages/config/src/config.test.js
  packages/config/src/cookieTransform.js
  packages/config/src/proxy.js
  packages/config/src/serveLocalFile.js
Labels: release minor

#1176 Handle missing onRemediationCreated fn
  packages/remediations/src/utils/utils.js
Labels: release

#1179 Added OUIA props to TableToolbar
  packages/components/src/TableToolbar/TableToolbar.js
  packages/components/src/TableToolbar/__snapshots__/TableToolbar.test.js.snap
  packages/inventory-general-info/src/InfoTable/__snapshots__/InfoTable.test.js.snap
Labels: components, release

#1181 Add useChrome hook to return chrome global context.
  package-lock.json
  packages/components/package.json
  packages/components/src/useChrome/index.js
  packages/components/src/useChrome/useChrome.js
  packages/config-utils/federated-modules.js
Labels: components, release minor

#1180 Add console routes to proxy config utils
  packages/config-utils/proxy.js
  packages/config-utils/standalone/helpers/router.js
  packages/config/README.md
  packages/pdf-generator/src/utils/fonts.js
Labels: config, release

#1185 Force config to use latest version of config utils.
  package-lock.json
  packages/config/package.json
Labels: config, release

#1186 Allow "useCloud" in config options.
  packages/config/src/config.js
Labels: bug, config, release

#1184 Added OUIA props into DownloadButton
  packages/components/src/DownloadButton/DownloadButton.js
  packages/components/src/DownloadButton/__snapshots__/DownloadButton.test.js.snap
Labels: components, release

#1182 Add InsightsDisabled to detail header
  packages/inventory/src/components/detail/DetailWrapper.test.js
  packages/inventory/src/components/detail/FactsInfo.js
  packages/inventory/src/components/detail/__snapshots__/DetailWrapper.test.js.snap
Labels: inventory, release

#1188 Added OUIA props to BulkSelect
  packages/components/src/BulkSelect/BulkSelect.js
  packages/components/src/BulkSelect/__snapshots__/BulkSelect.test.js.snap
  packages/components/src/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
Labels: components, release

#1190 fix(config): fix devServer port
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: bug, config, release

#1189 Add empty state for Insights not connected
  packages/components/src/NotConnected/NotConnected.js
  packages/components/src/NotConnected/NotConnected.test.js
  packages/components/src/NotConnected/__snapshots__/NotConnected.test.js.snap
  packages/components/src/NotConnected/index.js
Labels: components, enhancement, release

#1192 Added OUIA props into Input component
  packages/components/src/Input/Input.js
  packages/components/src/Input/__snapshots__/Input.test.js.snap
  packages/components/src/SimpleTableFilter/__snapshots__/SimpleTableFilter.test.js.snap
Labels: components, release

#1193 fix(proxy): split standalone proxy
  package-lock.json
  packages/config-utils/package.json
  packages/config-utils/proxy.js
  packages/config-utils/router.js
  packages/config-utils/standalone/proxy.js
  packages/config/package.json
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: config, release

#1197 Add toUpperCase function to make first letter upper case
  packages/utils/src/helpers/helpers.js
Labels: release, utils

#1198 Fix defaultGetEntities example
  packages/inventory/doc/custom_fetch.md
Labels: inventory

#1201 Add placeholders to prebaked inventory filters
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/__snapshots__/EntityTableToolbar.test.js.snap
Labels: inventory, release
