Repository RedHatInsights/frontend-components, pull requests merged in 2021-07, with the labels that each got.

#1199 Add docs of chrome API.
  package-lock.json
  packages/docs/components/example-component/code-highlight.js
  packages/docs/components/example-component/expandable-panel.js
  packages/docs/components/example-component/index.js
  packages/docs/components/layout/mdx-provider-components.js
  packages/docs/components/navigation/chrome-navigation.js
  packages/docs/components/navigation/chrome-navigation.json
  packages/docs/components/navigation/common-navigation.js
  packages/docs/components/navigation/components-navigation.json
  packages/docs/components/navigation/navigation-mapper.js
  packages/docs/docs-generator.js
  packages/docs/examples/chrome/api/app-action.js
  packages/docs/examples/chrome/api/app-object-id.js
  packages/docs/examples/chrome/api/create-case.js
  packages/docs/examples/chrome/api/use-chrome.js
  packages/docs/examples/chrome/api/window-chrome.js
  packages/docs/generate-chrome-nav.js
  packages/docs/pages/chrome/chrome-api.md
  packages/docs/pages/chrome/index.md
  packages/docs/pages/chrome/visibility-functions.md
Labels: docs

#1203 Add table of contents
  package-lock.json
  packages/docs/components/example-component/index.js
  packages/docs/components/layout/index.js
  packages/docs/components/layout/mdx-provider-components.js
  packages/docs/components/table-of-contents/index.js
  packages/docs/docker.package.json
  packages/docs/package.json
  packages/docs/pages/chrome/chrome-api.md
Labels: docs

#1204 Pass exactUrl attribute to proxy
  packages/config/src/config.js
Labels: bug, config, release

#1196 Fix/standalone proxy
  package-lock.json
  packages/config-utils/package.json
  packages/config-utils/proxy.js
  packages/config-utils/router.js
  packages/config-utils/standalone/helpers/index.js
  packages/config-utils/standalone/proxy.js
  packages/config-utils/standalone/services/default/chrome.js
  packages/config/package.json
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: release

#1205 Bump scalprum dependency.
  package-lock.json
  packages/components/package.json
Labels: components, dependencies, release

#1212 Fix PDF generator charts incorrectly sorting items by y-value
  packages/pdf-generator/src/components/Chart.js
Labels: bug, pdf-generator, release

#1214 feat(proxy): add middleware registry
  packages/config-utils/proxy.js
  packages/config/README.md
  packages/config/src/config.js
Labels: release minor

#1215 feat(standalone): pipe docker stdout
  packages/config-utils/standalone/startService.js
Labels: release

#1216 fix(proxy): use systemwide proxy while proxying
  package-lock.json
  packages/config-utils/proxy.js
  packages/config/README.md
  packages/config/package.json
  packages/config/src/config.js
Labels: config, release

#1217 fix(config-utils): chunk mapper prefix
  packages/config-utils/chunk-mapper.js
Labels: bug, config, release

#1218 fix(inventory): use default new tab browser handlers.
  packages/inventory/src/components/table/TitleColumn.js
  packages/inventory/src/components/table/TitleColumn.test.js
Labels: bug, inventory, release

#1220 fix(webpack-proxy): workaround akamai CORS
  packages/config-utils/proxy.js
  packages/config/package.json
Labels: config, release

#1219 Add async inventory trough inventory fed modules
  packages/components/src/Inventory/AppInfo.js
  packages/components/src/Inventory/AsyncInventory.js
  packages/components/src/Inventory/DetailWrapper.js
  packages/components/src/Inventory/InventoryDetail.js
  packages/components/src/Inventory/InventoryDetailHead.js
  packages/components/src/Inventory/InventoryTable.js
  packages/components/src/Inventory/TagWithDialog.js
  packages/inventory/README.md
Labels: components, release

#1222 fix(standalone): fix cookie inject regex
  packages/config-utils/cookieTransform.js
  packages/config-utils/proxy.js
  packages/config-utils/standalone/services/rbac.js
Labels: release

#1223 Update text of 'Not connected' empty state
  packages/components/src/NotConnected/NotConnected.js
  packages/components/src/NotConnected/__snapshots__/NotConnected.test.js.snap
Labels: components, release
