Repository RedHatInsights/frontend-components, pull requests merged in 2021-03, with the labels that each got.

#996 Pdf gen v3 compatible
  packages/pdf-generator/package.json
  packages/pdf-generator/src/components/PDFDocument.js
Labels: release minor

#997 Add import eslint rule for FEC modules
  .eslintrc.js
  config/.eslintrc.yml
  package-lock.json
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/lib/rules/disallow-fec-relative-imports.js
  packages/eslint-config/package.json
  packages/eslint-config/tests/lib/rules/disallow-fec-relative-imports.test.js
Labels: release minor

#1000 Update docs build
  packages/docs/components/example-component/expandable-panel.js
  packages/docs/components/example-component/index.js
  packages/docs/docs-generator.js
  packages/inventory/src/components/table/EntityTable.js
Labels: docs

#1003 feat(docs): generate docs for non react modules
  packages/docs/.gitignore
  packages/docs/components-generator.js
  packages/docs/components/navigation/index.js
  packages/docs/docgen.js
  packages/docs/docs-generator.js
  packages/docs/examples/debounce-debounceFunction/example-debounce.js
  packages/docs/functions-generator.js
  packages/docs/generate-components-nav.js
  packages/docs/generate-functions-md.js
  packages/docs/generate-react-md.js
  packages/docs/package.json
  packages/utils/src/debounce/debounce.js
Labels: docs, on hold

#1007 fix(tagsModal): skeleton flash
  packages/inventory/src/redux/entities.js
  packages/inventory/src/redux/entityDetails.js
  packages/inventory/src/shared/TagsModal.js
  packages/inventory/src/shared/TagsModal.test.js
Labels: bug, inventory, release

#1008 fix(inventory): initialize active app on mount
  packages/inventory/src/components/detail/ApplicationDetails.js
Labels: bug, inventory, release

#1010 Docs nav groups
  .eslintignore
  config/.eslintrc.yml
  package-lock.json
  package.json
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/TagModal/TagModal.js
  packages/docs/components/example-component/index.js
  packages/docs/components/navigation/index.js
  packages/docs/generate-components-nav.js
  packages/docs/package.json
  packages/docs/pages/_app.js
  packages/eslint-config/tests/lib/rules/disallow-fec-relative-imports.test.js
  packages/inventory-general-info/src/selectors/selectors.js
  packages/inventory/src/api/api.js
  packages/inventory/src/shared/TagsModal.test.js
  packages/pdf-generator/src/components/Chart.js
  packages/remediations/src/tests/.eslintrc
  packages/utils/src/debounce/debounce.js
Labels: docs

#1002 Add chart bar
  packages/pdf-generator/src/components/Chart.js
Labels: release

#1012 fix(docs): wrap mdlinks in router Link
  packages/docs/components/layout/mdx-provider-components.js
  packages/utils/src/debounce/debounce.js
Labels: docs

#1014 Update documentation
  packages/components/src/ConditionalFilter/CheckboxFilter.js
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/ConditionalFilter/conditionalFilterConstants.test.js
  packages/components/src/DateFormat/DateFormat.js
  packages/docs/docs-generator.js
  packages/docs/examples/CheckboxFilter/simple-example.js
  packages/docs/examples/DateFormat/data-types.js
  packages/docs/examples/DateFormat/date-formats.js
  packages/docs/examples/DateFormat/extra-title.js
  packages/docs/examples/DateFormat/tooltip-props.js
  packages/docs/generate-functions-md.js
  packages/utils/src/debounce/debounce.js
Labels: docs

#1004 chore(InventoryDetail): display custom app children components
  packages/inventory/src/components/detail/InventoryDetail.js
Labels: inventory, release

#1013 fix react-token import path
  packages/pdf-generator/src/components/Chart.js
Labels: release

#998 Remove v2 legacy code
  babel.config.js
  babel.v3.config.js
  config/.eslintrc.yml
  config/.gitignore
  packages/charts/.gitignore
  packages/charts/babel.config.js
  packages/charts/package.json
  packages/components/.gitignore
  packages/components/config/rollup.config.js
  packages/components/package.json
  packages/components/src/Inventory/AppInfo.js
  packages/components/src/Inventory/AsyncInventory.js
  packages/components/src/Inventory/DetailWrapper.js
  packages/components/src/Inventory/InventoryDetail.js
  packages/components/src/Inventory/InventoryDetailHead.js
  packages/components/src/Inventory/InventoryLoadError.js
  packages/components/src/Inventory/InventoryTable.js
  packages/components/src/Inventory/TagWithDialog.js
  packages/components/src/Inventory/index.js
  packages/docs/examples/Ansible/normal-example.js
  packages/docs/examples/Battery/critical-severity.js
  packages/docs/examples/Battery/high-severity.js
  packages/docs/examples/Battery/low-severity.js
  packages/docs/examples/Battery/medium-severity.js
  packages/docs/examples/CriticalBattery/simple-example.js
  packages/docs/pages/_app.js
  packages/inventory-compliance/.gitignore
  packages/inventory-compliance/package.json
  packages/inventory-general-info/.gitignore
  packages/inventory-general-info/package.json
  packages/inventory-general-info/src/SystemCard/SystemCard.js
  packages/inventory-general-info/src/SystemCard/SystemCard.test.js
  packages/inventory-insights/.gitignore
  packages/inventory-insights/babel.config.js
  packages/inventory-insights/src/Insights/Insights.js
  packages/inventory/.gitignore
  packages/inventory/package.json
  packages/inventory/src/actions.js
  packages/inventory/src/redux/entities.js
  packages/inventory/src/redux/entityDetails.js
  packages/notifications/.gitignore
  packages/notifications/babel.config.js
  packages/notifications/config/rollup.config.js
  packages/notifications/src/actions.js
  packages/notifications/src/notifications.js
  packages/notifications/src/notificationsReducer.js
  packages/pdf-generator/.gitignore
  packages/remediations/.gitignore
  packages/remediations/package.json
  packages/remediations/src/RemediationButton.js
  packages/remediations/src/newSteps/selectPlaybook.js
  packages/rule-components/.gitignore
  packages/rule-components/package.json
  packages/translations/.gitignore
  packages/translations/package.json
  packages/utils/.gitignore
  packages/utils/babel.config.js
  packages/utils/package.json
  packages/utils/postinstall.js
Labels: release minor

#1017 Fix legacy styles import paths.
  packages/components/README.md
  packages/inventory/src/components/detail/InventoryDetail.scss
  packages/inventory/src/components/table/InventoryList.scss
  packages/translations/README.md
  packages/utils/README.md
Labels: bug, release

#1016 fix(remediations): add DDF to dependencies
  package-lock.json
  packages/remediations/package.json
Labels: dependencies

#1015 Fix root to rootFolder
  packages/config/index.js
Labels: config, release

#1022 fix(compliance): RHICOMPL-1488 Rules table header
  packages/inventory-compliance/src/SystemRulesTable/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable/SystemRulesTable.test.js
  packages/inventory-compliance/src/SystemRulesTable/__snapshots__/SystemRulesTable.test.js.snap
Labels: release

#1009 Add variant prop to skeleton table
  packages/components/src/SkeletonTable/SkeletonTable.js
  packages/components/src/TagModal/__snapshots__/TableWithFilter.test.js.snap
Labels: release

#1021 Improve Chart component in the pdf-generator
  packages/pdf-generator/src/components/Chart.js
  packages/pdf-generator/src/components/PDFDocument.js
Labels: release

#1024 Add panel label
  packages/pdf-generator/src/components/Panel.js
  packages/pdf-generator/src/utils/styles.js
Labels: release

#1026 Remove singleton flags from everything except react
  packages/config/federated-modules.js
Labels: config, release

#1023 Add settings for proxy
  packages/config/README.md
  packages/config/index.js
  packages/config/src/config.js
  packages/config/src/proxy.js
Labels: config, release

#1027 Add option to pass routes config or use direct routes
  packages/config/README.md
  packages/config/src/config.js
  packages/config/src/proxy.js
Labels: config, release

#1028 Show egg as client version
  packages/inventory-general-info/src/CollectionCard/CollectionCard.js
  packages/inventory-general-info/src/CollectionCard/CollectionCard.test.js
  packages/inventory-general-info/src/CollectionCard/__snapshots__/CollectionCard.test.js.snap
  packages/inventory-general-info/src/GeneralInformation/__snapshots__/GeneralInformation.test.js.snap
Labels: inventory/general-info, release

#1029 Allow hiding cards and fields in general information
  packages/inventory-general-info/src/BiosCard/BiosCard.js
  packages/inventory-general-info/src/BiosCard/BiosCard.test.js
  packages/inventory-general-info/src/BiosCard/__snapshots__/BiosCard.test.js.snap
  packages/inventory-general-info/src/CollectionCard/CollectionCard.js
  packages/inventory-general-info/src/CollectionCard/CollectionCard.test.js
  packages/inventory-general-info/src/CollectionCard/__snapshots__/CollectionCard.test.js.snap
  packages/inventory-general-info/src/ConfigurationCard/ConfigurationCard.js
  packages/inventory-general-info/src/ConfigurationCard/ConfigurationCard.test.js
  packages/inventory-general-info/src/ConfigurationCard/__snapshots__/ConfigurationCard.test.js.snap
  packages/inventory-general-info/src/GeneralInformation/GeneralInformation.js
  packages/inventory-general-info/src/GeneralInformation/GeneralInformation.test.js
  packages/inventory-general-info/src/GeneralInformation/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/InfrastructureCard/InfrastructureCard.js
  packages/inventory-general-info/src/InfrastructureCard/InfrastructureCard.test.js
  packages/inventory-general-info/src/InfrastructureCard/__snapshots__/InfrastructureCard.test.js.snap
  packages/inventory-general-info/src/OperatingSystemCard/OperatingSystemCard.js
  packages/inventory-general-info/src/OperatingSystemCard/OperatingSystemCard.test.js
  packages/inventory-general-info/src/OperatingSystemCard/__snapshots__/OperatingSystemCard.test.js.snap
  packages/inventory-general-info/src/SystemCard/SystemCard.js
  packages/inventory-general-info/src/SystemCard/SystemCard.test.js
  packages/inventory-general-info/src/SystemCard/__snapshots__/SystemCard.test.js.snap
  packages/inventory-general-info/src/constants/constants.js
Labels: release

#1025 fix(RulesTable): RHICOMPL-775 select all or none within filter
  packages/inventory-compliance/src/SystemRulesTable/SystemRulesTable.js
Labels: release

#1030 Add relative paths to eslint config
  .eslintrc.js
Labels: root

#1031 Remove old remediations wizard and use the new one
  packages/remediations/src/NewRemediationWizard/NewRemediationWizard.js
  packages/remediations/src/NewRemediationWizard/index.js
  packages/remediations/src/RemediationWizard/RemediationWizard.js
  packages/remediations/src/RemediationWizard/RemediationWizard.scss
  packages/remediations/src/RemediationWizard/RemediationWizardHelper.js
  packages/remediations/src/RemediationWizard/index.js
  packages/remediations/src/RemediationWizard/schema.js
  packages/remediations/src/index.js
  packages/remediations/src/index.scss
  packages/remediations/src/steps/ErrorStep.js
  packages/remediations/src/steps/ErrorStep.scss
  packages/remediations/src/steps/ExistingOrNew.js
  packages/remediations/src/steps/ExistingOrNew.scss
  packages/remediations/src/steps/IssueResolutionStep.js
  packages/remediations/src/steps/IssueResolutionStep.scss
  packages/remediations/src/steps/IssueTable.js
  packages/remediations/src/steps/IssueTable.scss
  packages/remediations/src/steps/LoadingStep.js
  packages/remediations/src/steps/LoadingStep.scss
  packages/remediations/src/steps/ResolutionModeStep.js
  packages/remediations/src/steps/SummaryStep.js
  packages/remediations/src/steps/fetchError.js
  packages/remediations/src/steps/issueResolution.js
  packages/remediations/src/steps/issueResolution.scss
  packages/remediations/src/steps/review.js
  packages/remediations/src/steps/review.scss
  packages/remediations/src/steps/reviewActions.js
  packages/remediations/src/steps/reviewActions.scss
  packages/remediations/src/steps/selectPlaybook.js
  packages/remediations/src/steps/selectPlaybook.scss
  packages/remediations/src/tests/remediationButton.test.js
  packages/remediations/src/tests/remediationWizard.test.js
  packages/remediations/src/tests/schema.test.js
  packages/remediations/src/tests/steps/fetchError.test.js
  packages/remediations/src/tests/steps/issueResolution.test.js
  packages/remediations/src/tests/steps/review.test.js
  packages/remediations/src/tests/steps/reviewActions.test.js
  packages/remediations/src/tests/steps/selectPlaybook.test.js
Labels: release

#1032 Do not stringify props of inv error component.
  packages/components/src/Inventory/InventoryLoadError.js
Labels: bug, release

#1034 Allow using onClick to show modals for extra items
  packages/inventory-general-info/src/BiosCard/BiosCard.js
  packages/inventory-general-info/src/BiosCard/BiosCard.test.js
  packages/inventory-general-info/src/BiosCard/__snapshots__/BiosCard.test.js.snap
  packages/inventory-general-info/src/CollectionCard/CollectionCard.js
  packages/inventory-general-info/src/CollectionCard/CollectionCard.test.js
  packages/inventory-general-info/src/CollectionCard/__snapshots__/CollectionCard.test.js.snap
  packages/inventory-general-info/src/ConfigurationCard/ConfigurationCard.js
  packages/inventory-general-info/src/ConfigurationCard/ConfigurationCard.test.js
  packages/inventory-general-info/src/ConfigurationCard/__snapshots__/ConfigurationCard.test.js.snap
  packages/inventory-general-info/src/InfrastructureCard/InfrastructureCard.js
  packages/inventory-general-info/src/InfrastructureCard/InfrastructureCard.test.js
  packages/inventory-general-info/src/InfrastructureCard/__snapshots__/InfrastructureCard.test.js.snap
  packages/inventory-general-info/src/OperatingSystemCard/OperatingSystemCard.js
  packages/inventory-general-info/src/OperatingSystemCard/OperatingSystemCard.test.js
  packages/inventory-general-info/src/OperatingSystemCard/__snapshots__/OperatingSystemCard.test.js.snap
  packages/inventory-general-info/src/SystemCard/SystemCard.js
  packages/inventory-general-info/src/SystemCard/SystemCard.test.js
  packages/inventory-general-info/src/SystemCard/__snapshots__/SystemCard.test.js.snap
Labels: release

#1035 Add option to pass custom delete node and func to remove group
  packages/components/src/FilterChips/FilterChips.js
  packages/components/src/FilterChips/FilterChips.test.js
  packages/components/src/FilterChips/__snapshots__/FilterChips.test.js.snap
  packages/components/src/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
Labels: release

#1036 Allow to setup proxy for Chrome 1 envs
  packages/config/README.md
  packages/config/package.json
  packages/config/src/config.js
  packages/config/src/proxy.js
Labels: config, release

#1037 Update Chrome serving
  packages/config/src/proxy.js
Labels: config, release

#1041 Add more appUrl customization
  packages/config/README.md
  packages/config/src/config.js
  packages/config/src/proxy.js
Labels: config, release

#1039 feat(RulesTable): RHICOMPL-1549 remediationAvailableFilter
  packages/inventory-compliance/src/Fixtures/Fixtures.js
  packages/inventory-compliance/src/SystemRulesTable/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable/SystemRulesTable.test.js
  packages/inventory-compliance/src/SystemRulesTable/__snapshots__/SystemRulesTable.test.js.snap
  packages/inventory-compliance/src/Utilities/FilterBuilderConfigBuilder.js
Labels: release

#1044 Add check for AppUrls
  packages/config/src/proxy.js
Labels: bug, config, release

#1042 Fix review steps by moving selector to bottom
  packages/remediations/src/steps/reviewSystems.js
Labels: release

#1045 Adds card to empty state on search, removes icon as per ux guidance 🤙🏾🥑
  packages/inventory-insights/package.json
  packages/inventory-insights/src/Insights/Insights.js
Labels: enhancement, inventory/insights, release

#1046 Remove side effects from review systems steps
  packages/remediations/src/steps/reviewSystems.js
  packages/remediations/src/utils/utils.js
Labels: release

#1047 Swap order of kebab n remediations buttons
  packages/inventory-insights/src/Constants/index.js
  packages/inventory-insights/src/Insights/Insights.js
  packages/inventory-insights/src/Insights/insights.scss
  packages/inventory-insights/src/MessageState/MessageState.js
Labels: inventory/insights, release

#1051 Fix undefined resolutions
  packages/remediations/src/RemediationWizard/RemediationWizard.js
Labels: release

#1049 Fix source map warnings in prod bundles.
  packages/config/src/config.js
Labels: release
