Repository RedHatInsights/frontend-components, pull requests merged in 2021-10, with the labels that each got.

#1268 Router package
  package-lock.json
  package.json
  packages/demo/package.json
  packages/router/.gitignore
  packages/router/.npmignore
  packages/router/README.md
  packages/router/babel.config.js
  packages/router/package.json
  packages/router/src/ChromeRouter/ChromeRouter.js
  packages/router/src/ChromeRouter/index.d.ts
  packages/router/src/ChromeRouter/index.js
  packages/router/src/Link/Link.js
  packages/router/src/Link/Link.test.js
  packages/router/src/Link/index.d.ts
  packages/router/src/Link/index.js
  packages/router/src/NavLink/NavLink.js
  packages/router/src/NavLink/NavLink.test.js
  packages/router/src/NavLink/index.d.ts
  packages/router/src/NavLink/index.js
  packages/router/src/Redirect/Redirect.js
  packages/router/src/Redirect/Redirect.test.js
  packages/router/src/Redirect/index.d.ts
  packages/router/src/Redirect/index.js
  packages/router/src/Route/Route.js
  packages/router/src/Route/Route.test.js
  packages/router/src/Route/index.d.ts
  packages/router/src/Route/index.js
  packages/router/src/Switch/Switch.js
  packages/router/src/Switch/Switch.test.js
  packages/router/src/Switch/index.d.ts
  packages/router/src/Switch/index.js
  packages/router/src/chromeRouterContext/chromeRouterContext.js
  packages/router/src/chromeRouterContext/index.d.ts
  packages/router/src/chromeRouterContext/index.js
  packages/router/src/index.d.ts
  packages/router/src/index.js
  packages/router/src/useHistory/index.d.ts
  packages/router/src/useHistory/index.js
  packages/router/src/useHistory/useHistory.js
  packages/router/src/useHistory/useHistory.test.js
  packages/router/src/useLocation/index.d.ts
  packages/router/src/useLocation/index.js
  packages/router/src/useLocation/useLocation.js
  packages/router/src/useLocation/useLocation.test.js
  packages/router/src/useRouteMatch/index.d.ts
  packages/router/src/useRouteMatch/index.js
  packages/router/src/useRouteMatch/useRouteMatch.js
  packages/router/src/useRouteMatch/useRouteMatch.test.js
  packages/router/tsconfig.json
  scripts/build-packages.js
Labels: router

#1281 Move CF menu under toolbar SplitItem in DOM
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
Labels: release, components

#1282 Mark quickstarts packge as a singleton.
  packages/config-utils/federated-modules.js
Labels: release, config

#1283 bump config utils version
  package-lock.json
  packages/config/package.json
Labels: dependencies, release, config

#1285 enable the ability to override the RBAC and/or Keycloak server ports
  packages/config-utils/README.md
  packages/config-utils/standalone/services/default/chrome.js
  packages/config-utils/standalone/services/rbac.js
Labels: release, config

#1290 Move ref for Menu straight to the GroupFilter
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/ConditionalFilter/GroupFilter.js
  packages/components/src/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/ConditionalFilter/__snapshots__/GroupFilter.test.js.snap
Labels: release, components

#1293 RH font fix, bold text fix, fixed typo in Battery.js
  package-lock.json
  packages/demo/package.json
  packages/demo/webpack.config.js
  packages/pdf-generator/src/components/Battery.js
  packages/pdf-generator/src/utils/styles.js
Labels: release, pdf-generator
