Repository RedHatInsights/frontend-components, pull requests merged in 2021-08, with the labels that each got.

#1225 fix(standalone): ignore esi query params
  packages/config-utils/standalone/services/default/chrome.js
Labels: bug, config, release

#1227 Update async component
  packages/components/src/AsyncComponent/index.js
Labels: bug, components, release

#1230 fix(fedmod): properly share scalprum
  packages/config-utils/federated-modules.js
Labels: release

#1231 Fix docs example rendering for async code.
  packages/docs/components/example-component/code-highlight.js
  packages/docs/components/example-component/expandable-panel.js
  packages/docs/components/example-component/index.js
  packages/docs/components/navigation/components-navigation.json
Labels: docs

#1233 Add deprecation information to each inventory detail package
  packages/inventory-compliance/README.md
  packages/inventory-general-info/README.md
  packages/inventory-insights/README.md
Labels: release

#1232 Enable webpack 5 from docs
  .dockerignore
  Dockerfile
  Dockerfile.dev
  docker-compose.yml
  package-lock.json
  packages/docs/.babelrc
  packages/docs/docker.package.json
  packages/docs/next.config.js
  packages/docs/package.json
Labels: docs

#1229 Add usePendoFeedback hook.
  packages/components/src/usePendoFeedback/index.js
  packages/components/src/usePendoFeedback/usePendoFeedback.js
Labels: release

#1234 Split Portal to separate file
  package-lock.json
  packages/notifications/package.json
  packages/notifications/src/NotificationPortal/NotificationPortal.js
  packages/notifications/src/Portal/Portal.js
  packages/notifications/src/Portal/index.js
  packages/notifications/src/Portal/portal.scss
  packages/notifications/src/index.scss
Labels: release, notifications

#1235 Conditional filter mobile view
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/ConditionalFilter/conditional-filter.scss
  packages/components/src/PrimaryToolbar/PrimaryToolbar.js
  packages/components/src/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
  packages/components/src/TagModal/__snapshots__/TableWithFilter.test.js.snap
  packages/inventory-compliance/src/SystemRulesTable/__snapshots__/SystemRulesTable.test.js.snap
  packages/inventory-general-info/src/InfoTable/__snapshots__/InfoTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/EntityTableToolbar.test.js.snap
Labels: release, components

#1237 Fix propTypes for RuleTable
  packages/rule-components/src/RuleTable/RuleTable.js
Labels: release

#1241 feat(RemediationsButton): Allow passing props for button
  packages/remediations/src/RemediationButton/RemediationButton.js
Labels: release

#1243 Add 'Unknown' tooltip to Shield component
  packages/components/src/Shield/Shield.js
  packages/components/src/Shield/__snapshots__/Shield.test.js.snap
  packages/components/src/Shield/consts.js
Labels: release, components

#1239 Wrap async comp
  packages/components/src/AsyncComponent/index.js
Labels: release

#1245 fix(standalone): use qa build for chrome stage env
  packages/config-utils/standalone/helpers/checkout.js
Labels: bug, release, config

#1244 Remove duplicate conditional filter inputs
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/ConditionalFilter/ConditionalFilter.test.js
  packages/components/src/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/PrimaryToolbar/PrimaryToolbar.test.js
  packages/components/src/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
Labels: release

#1246 Fix rule component scss import.
  packages/rule-components/src/RuleTable/RuleTable.js
Labels: bug, release

#1251 Use menu components instead of select in group
  packages/components/src/ConditionalFilter/GroupFilter.js
  packages/components/src/ConditionalFilter/GroupFilter.test.js
  packages/components/src/ConditionalFilter/__snapshots__/GroupFilter.test.js.snap
  packages/components/src/ConditionalFilter/conditional-filter.scss
  packages/components/src/ConditionalFilter/groupFilterConstants.js
  packages/components/src/FilterHooks/tagFilterHook.scss
Labels: release

#1252 Remove obsolete fileloader
  package-lock.json
  packages/config/package.json
  packages/config/src/config.js
Labels: dependencies, release, config

#1254 Update index.js for stage-beta
  packages/config/index.js
Labels: release, config

#1255 Fix groupType re-export
  packages/components/src/ConditionalFilter/GroupFilter.js
  packages/components/src/ConditionalFilter/conditionalFilterConstants.js
  packages/components/src/ConditionalFilter/groupFilterConstants.js
  packages/components/src/ConditionalFilter/groupType.js
  packages/components/src/ConditionalFilter/index.js
Labels: bug, release, components

#1257 fix(proxy): don't accept encoding
  packages/config-utils/standalone/services/default/chrome.js
Labels: bug, release, config
