Repository RedHatInsights/frontend-components, pull requests merged in 2021-04, with the labels that each got.

#1055 fix(config): bring back babel loader :skull_and_crossbones:
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: bug, release

#1058 feat(compliance): RHICOMPL-1532 SystemRulesTable addional toolbar items
  packages/inventory-compliance/src/SystemRulesTable/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable/SystemRulesTable.test.js
  packages/inventory-compliance/src/SystemRulesTable/__snapshots__/SystemRulesTable.test.js.snap
Labels: release

#1060 fix(ComplianceEmptyState): RHICOMPL-744 wrapped primary button
  packages/inventory-compliance/src/ComplianceEmptyState/ComplianceEmptyState.js
  packages/inventory-compliance/src/ComplianceEmptyState/__snapshots__/ComplianceEmptyState.test.js.snap
Labels: bug, inventory/compliance, release

#1061 Advisor report table to have sticky header
  packages/inventory-insights/src/Insights/Insights.js
Labels: enhancement, inventory/insights, release

#1062 Fix broken inv table with title as cells
  packages/inventory/src/components/table/__snapshots__/EntityTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/helpers.test.js.snap
  packages/inventory/src/components/table/helpers.js
  packages/inventory/src/components/table/helpers.test.js
Labels: release

#1064 USe correct equality fn check for columns
  packages/inventory/src/components/table/EntityTable.js
Labels: release

#1065 Fallback to index.html when file not found
  packages/config/README.md
  packages/config/src/config.js
  packages/config/src/proxy.js
Labels: config, release

#1066 fix(config): incorrect module condition
  packages/config/federated-modules.js
Labels: bug, release

#1067 Use relative PF import in inventory list
  packages/inventory/src/components/table/InventoryList.js
Labels: bug, release

#1068 fix(compliance): RHICOMPL-1658 show filter labels on rules table
  packages/inventory-compliance/src/SystemRulesTable/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable/__snapshots__/SystemRulesTable.test.js.snap
Labels: release

#1069 Rever direct imports to relative ones
  packages/inventory/src/components/detail/ApplicationDetails.js
  packages/inventory/src/components/detail/DetailRenderer.js
  packages/inventory/src/components/detail/DetailWrapper.js
  packages/inventory/src/components/detail/FactsInfo.js
  packages/inventory/src/components/detail/SystemNotFound.js
  packages/inventory/src/components/detail/TopBar.js
  packages/inventory/src/components/drawer/BasicInfo.js
  packages/inventory/src/components/drawer/SystemIssues.js
  packages/inventory/src/components/table/NoSystemsTable.js
  packages/inventory/src/components/table/Pagination.js
  packages/inventory/src/shared/AccessDenied.js
  packages/inventory/src/shared/DeleteModal.js
  packages/inventory/src/shared/Wrapper.js
Labels: release

#1070 Fix InventoryList prop typo s/guttter/gutter/
  packages/inventory/src/components/table/InventoryList.js
  packages/inventory/src/components/table/__snapshots__/InventoryList.test.js.snap
Labels: release

#1073 feat(FilterConfig): Add support for grouped filters
  packages/inventory-compliance/src/Utilities/ChipBuilder.js
  packages/inventory-compliance/src/Utilities/FilterBuilder.js
  packages/inventory-compliance/src/Utilities/FilterConfigBuilder.js
  packages/inventory-compliance/src/Utilities/FilterConfigBuilder.test.js
  packages/inventory-compliance/src/Utilities/__snapshots__/FilterConfigBuilder.test.js.snap
Labels: release

#1076 Add fail notification for remediations wizard
  packages/remediations/src/tests/utils.test.js
  packages/remediations/src/utils/utils.js
Labels: release

#1079 fix(rule-components): add missing main entry
  packages/rule-components/package.json
Labels: bug, release

#1078 Add OS release to inventory table
  packages/inventory/package.json
  packages/inventory/src/api/api.js
  packages/inventory/src/redux/entities.js
Labels: inventory, release

#1080 Fix global systems not being fetched
  packages/remediations/src/RemediationWizard/RemediationWizard.js
  packages/remediations/src/steps/selectPlaybook.js
  packages/remediations/src/tests/steps/selectPlaybook.test.js
Labels: release

#1081 Change os_release to operating_system
  packages/inventory/src/api/api.js
  packages/inventory/src/redux/entities.js
Labels: inventory, release

#1082 Show operating system in label
  packages/inventory/src/redux/entities.js
  packages/inventory/src/shared/OperatingSystemFormatter.js
  packages/inventory/src/shared/OperatingSystemFormatter.test.js
Labels: inventory, release

#1074 Make Remediation wizard open faster
  packages/remediations/src/RemediationWizard/RemediationWizard.js
  packages/remediations/src/RemediationWizard/schema.js
  packages/remediations/src/redux/action-types.js
  packages/remediations/src/redux/actions/resolution-actions.js
  packages/remediations/src/redux/reducers/resolutions-reducer.js
  packages/remediations/src/steps/issueResolution.js
  packages/remediations/src/steps/review.js
  packages/remediations/src/steps/reviewActions.js
  packages/remediations/src/steps/selectPlaybook.js
  packages/remediations/src/tests/schema.test.js
  packages/remediations/src/tests/steps/issueResolution.test.js
  packages/remediations/src/tests/steps/review.test.js
  packages/remediations/src/tests/steps/reviewActions.test.js
  packages/remediations/src/tests/steps/reviewSystems.test.js
  packages/remediations/src/tests/steps/selectPlaybook.test.js
  packages/remediations/src/tests/testData.js
  packages/remediations/src/tests/utils.test.js
  packages/remediations/src/utils/utils.js
Labels: release

#1056 Visibility prop of delete button in filter chips
  packages/components/src/FilterChips/FilterChips.js
  packages/components/src/PrimaryToolbar/PrimaryToolbar.js
Labels: release

#1084 Use extension to test (not whole name)
  packages/config/src/plugins.js
Labels: bug, config, release

#1072 Add support for PF expand all
  packages/components/src/PrimaryToolbar/PrimaryToolbar.js
Labels: release

#1085 Allow to pass custom component in actions config
  packages/components/src/PrimaryToolbar/Actions.js
  packages/components/src/PrimaryToolbar/Actions.test.js
Labels: bug, components, release

#1086 fix(compliance): RHICOMPL-1741 filter chip remove
  packages/inventory-compliance/src/Utilities/FilterConfigBuilder.js
Labels: release

#1090 Transform jwt cookie to x-hr-identity header
  packages/config/README.md
  packages/config/package.json
  packages/config/src/cookieTransform.js
  packages/config/src/proxy.js
Labels: config, enhancement, release

#1091 Remove button focus outline none
  packages/utils/src/styles/_helpers.scss
Labels: release

#1092 Fix immutable error on sort in Remediations wizard
  packages/remediations/src/utils/utils.js
Labels: release

#1096 Do not use all issues as issues multiple
  packages/remediations/src/RemediationWizard/RemediationWizard.js
Labels: release

#1097 Add utility for serving local files
  packages/config/README.md
  packages/config/src/serveLocalFile.js
Labels: config, enhancement, release

#1093 fix(RulesTable): Fix Ansible sorting with variable columns
  packages/inventory-compliance/src/SystemRulesTable/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable/__snapshots__/SystemRulesTable.test.js.snap
  packages/inventory-compliance/src/Utilities/Helpers.js
Labels: release minor

#1094 Convert pagination to functional component
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/Pagination.js
  packages/inventory/src/components/table/Pagination.test.js
Labels: enhancement, inventory, release

#1099 Use more reasonable values for header width
  packages/inventory/src/redux/entities.js
Labels: release

#1098 Refactor ContextInventoryList to functional component
  packages/inventory/src/components/table/InventoryList.js
  packages/inventory/src/components/table/InventoryList.test.js
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
Labels: inventory, release

#1101 Fix percentage for pie charts
  packages/pdf-generator/src/components/Chart.js
Labels: release

#1100 Allow passing custom props to BulkSelect items
  packages/components/src/BulkSelect/BulkSelect.js
  packages/components/src/BulkSelect/BulkSelect.test.js
  packages/components/src/BulkSelect/__snapshots__/BulkSelect.test.js.snap
Labels: components, release

#1087 Allow Passing custom no results component
  packages/inventory/src/components/table/EntityTable.js
  packages/inventory/src/components/table/EntityTable.test.js
  packages/inventory/src/components/table/__snapshots__/EntityTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/helpers.test.js.snap
  packages/inventory/src/components/table/helpers.js
  packages/inventory/src/components/table/helpers.test.js
Labels: inventory, release

#1103 Refactor onRefreshData to be controlled from one place
  packages/inventory/src/components/table/EntityTable.js
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/EntityTableToolbar.test.js
  packages/inventory/src/components/table/InventoryList.js
  packages/inventory/src/components/table/InventoryList.test.js
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/Pagination.js
  packages/inventory/src/components/table/Pagination.test.js
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
  packages/inventory/src/shared/constants.js
Labels: inventory, release

#1104 Add ErrorState to InventoryTable
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/InventoryTable.test.js
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
  packages/inventory/src/redux/entities.js
Labels: inventory, release
