Repository RedHatInsights/frontend-components, pull requests merged in 2021-11, with the labels that each got.

#1300 Fix GroupFilter styling
  packages/components/src/ConditionalFilter/conditional-filter.scss
Labels: release, components

#1301 Fix group filter when selected is empty
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/ConditionalFilter/ConditionalFilter.test.js
  packages/components/src/ConditionalFilter/GroupFilter.js
  packages/components/src/ConditionalFilter/GroupFilter.test.js
  packages/components/src/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/ConditionalFilter/groupFilterConstants.js
Labels: release, components

#1302 Add glob search fo PF node_modules styles.
  packages/config-utils/search-ignored-styles.js
Labels: release, config

#1286 Add treeView groupType to Conditional Filter
  packages/components/src/ConditionalFilter/GroupFilter.js
  packages/components/src/ConditionalFilter/GroupFilter.test.js
  packages/components/src/ConditionalFilter/__snapshots__/GroupFilter.test.js.snap
  packages/components/src/ConditionalFilter/group-filter.scss
  packages/components/src/ConditionalFilter/groupFilterConstants.js
  packages/components/src/ConditionalFilter/groupFilterConstants.test.js
  packages/components/src/ConditionalFilter/groupType.js
Labels: release, components

#1303 Remove PF styles from webpack build.
  package-lock.json
  packages/config/README.md
  packages/config/package.json
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: release minor, config

#1304 Remove redux and react-redux from dependency sharing
  packages/config-utils/federated-modules.js
Labels: bug, release, config

#1308 Add HTTPSProxyAgent to prod envs.
  packages/config-utils/proxy.js
Labels: release, config

#1309 chore(config): bump utils
  packages/config/package.json
Labels: release, config

#1307 Pf skeleton loader
  packages/components/src/Skeleton/Skeleton.js
  packages/components/src/Skeleton/Skeleton.ts
  packages/components/src/Skeleton/__snapshots__/Skeleton.test.js.snap
  packages/components/src/Skeleton/skeleton.scss
  packages/components/src/SkeletonTable/SkeletonTable.js
  packages/components/src/SkeletonTable/SkeletonTable.scss
  packages/components/src/TagModal/__snapshots__/TableWithFilter.test.js.snap
  packages/inventory-general-info/src/BiosCard/__snapshots__/BiosCard.test.js.snap
  packages/inventory-general-info/src/CollectionCard/__snapshots__/CollectionCard.test.js.snap
  packages/inventory-general-info/src/ConfigurationCard/__snapshots__/ConfigurationCard.test.js.snap
  packages/inventory-general-info/src/GeneralInformation/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/InfrastructureCard/__snapshots__/InfrastructureCard.test.js.snap
  packages/inventory-general-info/src/OperatingSystemCard/__snapshots__/OperatingSystemCard.test.js.snap
  packages/inventory-general-info/src/SystemCard/__snapshots__/SystemCard.test.js.snap
  packages/inventory/src/components/detail/__snapshots__/DetailWrapper.test.js.snap
  packages/inventory/src/components/drawer/__snapshots__/SystemIssues.test.js.snap
Labels: release minor, components

#1311 Allow functions as default exports from config
  packages/config-utils/serve-federated.js
Labels: release

#1312 Update utils version of config to newest one
  package-lock.json
  packages/config/bin/fec.js
  packages/config/package.json
Labels: release

#1310 Re-introduce selectable groups to groups filter
  packages/components/src/ConditionalFilter/ConditionalFilter.test.js
  packages/components/src/ConditionalFilter/GroupFilter.js
  packages/components/src/ConditionalFilter/GroupFilter.test.js
  packages/components/src/ConditionalFilter/__snapshots__/GroupFilter.test.js.snap
  packages/components/src/ConditionalFilter/groupFilterConstants.js
Labels: release

#1313 Make meta.notifications consume a function
  packages/notifications/doc/notifications.md
  packages/notifications/src/notificationsMiddleware/notificationsMiddleware.js
  packages/notifications/src/notificationsMiddleware/notificationsMiddleware.test.js
Labels: release, notifications

#1314 Fix webpack dev server container loading
  packages/config/src/config.js
  packages/config/src/config.test.js
  packages/config/src/plugins.js
Labels: bug, release, config

#1315 Add window check to reducer registry.
  packages/utils/src/ReducerRegistry/ReducerRegistry.js
Labels: bug, release

#1316 Add extensions plugin and adjust fed mod plugin
  packages/config-utils/README.md
  packages/config-utils/extension-mapper.js
  packages/config-utils/extensions-plugin.js
  packages/config-utils/federated-modules.js
Labels: release

#1317 Add extension plugin by increasing version number of utils package
  package-lock.json
  packages/config/extensnions-plugin.js
  packages/config/package.json
Labels: release

#1318 Fix correct name for extensions plugin file
  packages/config/extensions-plugin.js
Labels: bug, release, config
