Repository RedHatInsights/frontend-components, pull requests merged in 2021-09, with the labels that each got.

#1256 Add useScreenSize hook
  packages/components/doc/useScreenSize.md
  packages/components/src/useScreenSize/breakpoints.js
  packages/components/src/useScreenSize/getVariant.js
  packages/components/src/useScreenSize/index.js
  packages/components/src/useScreenSize/isSmallScreen.js
  packages/components/src/useScreenSize/useScreenSize.js
  packages/components/src/useScreenSize/useScreenSize.test.js
Labels: release minor, components

#1261 Implement expand on hover for Truncate
  packages/components/src/Truncate/Truncate.js
  packages/components/src/Truncate/Truncate.test.js
  packages/components/src/Truncate/__snapshots__/Truncate.test.js.snap
Labels: release, components

#1262 Fix date snapshots
  package-lock.json
  packages/inventory-compliance/src/SystemPolicyCards/__snapshots__/SystemPolicyCards.test.js.snap
Labels: tests

#1263 fix(proxy): fix html chunks
  packages/config-utils/standalone/services/default/chrome.js
Labels: release, config

#1264 Update axios
  package-lock.json
  packages/inventory-insights/package.json
  packages/inventory/package.json
  packages/utils/package.json
Labels: dependencies, release

#1265 Remove custom styles as they mess the PDF render
  packages/pdf-generator/src/utils/styles.js
Labels: release

#1269 Add chrome's PDF generator
  package-lock.json
  packages/pdf-generator/package.json
  packages/pdf-generator/src/DownloadButton.js
  packages/pdf-generator/src/index.js
Labels: release

#1270 add cost-management to default entitlements
  packages/config-utils/cookieTransform.js
Labels: release, config

#1272 OUIA IDs for Primary toolbar
  packages/components/src/BulkSelect/BulkSelect.js
  packages/components/src/BulkSelect/__snapshots__/BulkSelect.test.js.snap
  packages/components/src/ConditionalFilter/CheckboxFilter.js
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/ConditionalFilter/RadioFilter.js
  packages/components/src/ConditionalFilter/TextFilter.js
  packages/components/src/ConditionalFilter/__snapshots__/CheckboxFilter.test.js.snap
  packages/components/src/ConditionalFilter/__snapshots__/ConditionalFilter.test.js.snap
  packages/components/src/ConditionalFilter/__snapshots__/RadioFilter.test.js.snap
  packages/components/src/ConditionalFilter/__snapshots__/TextFilter.test.js.snap
  packages/components/src/DownloadButton/DownloadButton.js
  packages/components/src/DownloadButton/__snapshots__/DownloadButton.test.js.snap
  packages/components/src/FilterChips/FilterChips.js
  packages/components/src/FilterChips/__snapshots__/FilterChips.test.js.snap
  packages/components/src/PrimaryToolbar/Actions.js
  packages/components/src/PrimaryToolbar/PrimaryToolbar.js
  packages/components/src/PrimaryToolbar/__snapshots__/Actions.test.js.snap
  packages/components/src/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
  packages/inventory-general-info/src/InfoTable/__snapshots__/InfoTable.test.js.snap
Labels: release, components

#1273 added user to Keycloak for cost management
  packages/config-utils/standalone/services/default/keycloak/realm_export.json
  packages/utils/package.json
Labels: release, config

#1275 fix(proxy): don't use agent for routes
  packages/config-utils/proxy.js
Labels: release, config

#1278 add easy keycloakUri option
  packages/config-utils/proxy.js
  packages/config/README.md
  packages/config/src/config.js
Labels: release, config

#1276 Update webpack dev server
  package-lock.json
  packages/config-utils/proxy.js
  packages/config/package.json
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: config

#1274 Conditional filter Group fixes
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/ConditionalFilter/GroupFilter.js
  packages/components/src/ConditionalFilter/__snapshots__/GroupFilter.test.js.snap
  packages/components/src/ConditionalFilter/conditional-filter.scss
Labels: release

#1280 Fix not working closing the menu with inside click
  packages/components/src/ConditionalFilter/GroupFilter.js
Labels: release
