Repository RedHatInsights/frontend-components, pull requests merged in 2021-02, with the labels that each got.

#929 Hot fix PDF chart renderer
  packages/pdf-generator/rollup.config.js
  packages/pdf-generator/src/components/Chart.js
Labels: release

#926 Fix typo in error message
  packages/components/src/ErrorState/DefaultErrorMessage.js
Labels: release

#932 Hide satellite source type
  packages/sources/src/utilities/filterTypes.js
Labels: enhancement, release, sources

#934 Use value instead of label for app mutator
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
Labels: release, sources

#933 Load Google Cost account from api
  packages/sources/src/addSourceWizard/hardcodedComponents/gcp/costManagement.js
  packages/sources/src/api/constants.js
  packages/sources/src/api/index.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/google_cost.test.js
Labels: enhancement, sources

#930 Add callback function for Sources wizard submit
  packages/sources/README.md
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
Labels: release, sources

#935 Allow to rewrite id in notifications
  packages/notifications/src/redux/reducers/notifications.js
Labels: notifications, release

#928 Update the sources wizard to include the new operator flow
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_openshift.test.js
Labels: release, sources

#923 fix(inv-insights): fixed missing main file
  packages/inventory-insights/package.json
Labels: release

#937 fix(components): fix missing css files for legacy build
  packages/components/.gitignore
  packages/components/create-styles.js
  packages/components/package.json
Labels: bug, release

#938 Switch sources to use ESM
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/ValidatorReset.js
  packages/sources/src/addSourceWizard/descriptions/SubWatchDescription.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedComponents/azure/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedComponents/gcp/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedComponents/openshift/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/addSourceWizard/schemaBuilder.js
  packages/sources/src/sourceFormRenderer/components/AuthSelect.js
  packages/sources/src/sourceFormRenderer/components/Authentication.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/sourceFormRenderer/components/EnhancedRadio.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/sourceFormRenderer/index.js
  packages/sources/src/sourceFormRenderer/resolveProps/validated.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/arn.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_azure.test.js
  packages/sources/src/tests/addSourceWizard/validatorReset.test.js
  packages/sources/src/tests/sourceFormRenderer/authentication.test.js
  packages/sources/src/tests/sourceFormRenderer/components/authSelect.test.js
  packages/sources/src/tests/sourceFormRenderer/components/cardSelect.test.js
  packages/sources/src/tests/sourceFormRenderer/components/enhancedRadio.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
  packages/sources/src/tests/sourceFormRenderer/resolveProps/validated.test.js
Labels: release, sources

#939 Fix description term length in Wizard Summary
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/styles/cardSelect.scss
Labels: release, sources

#931 fix(components): move CSS imports out of index files
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/ConditionalFilter/TextFilter.js
  packages/components/src/ConditionalFilter/index.js
  packages/components/src/FilterChips/FilterChips.js
  packages/components/src/FilterChips/index.js
  packages/components/src/FilterHooks/index.js
  packages/components/src/FilterHooks/tagFilterHook.js
  packages/components/src/Filters/FilterDropdown.js
  packages/components/src/Filters/filter-dropdown.scss
  packages/components/src/Filters/index.js
  packages/components/src/InvalidObject/InvalidObject.js
  packages/components/src/InvalidObject/index.js
  packages/components/src/Main/Main.js
  packages/components/src/Main/index.js
  packages/components/src/Maintenance/index.js
  packages/components/src/NotAuthorized/index.js
  packages/components/src/PageHeader/PageHeader.js
  packages/components/src/PageHeader/index.js
  packages/components/src/PrimaryToolbar/PrimaryToolbar.js
  packages/components/src/PrimaryToolbar/index.js
  packages/components/src/SimpleTableFilter/SimpleTableFilter.js
  packages/components/src/SimpleTableFilter/index.js
  packages/components/src/TabLayout/TabLayout.js
  packages/components/src/TabLayout/index.js
  packages/components/src/TagCount/TagCount.js
  packages/components/src/TagCount/index.js
  packages/components/src/TreeTable/decorator.js
  packages/components/src/TreeTable/index.js
  packages/components/src/Unavailable/Unavailable.js
  packages/components/src/Unavailable/index.js
  packages/components/src/index.scss
Labels: bug, release

#920 Structured docs nav
  packages/docs/.gitignore
  packages/docs/components/navigation/components-navigation.json
  packages/docs/components/navigation/index.js
  packages/docs/docs-generator.js
Labels: docs

#941 Fix macos build
  package-lock.json
  package.json
  packages/components/create-styles.js
  packages/inventory/package.json
  packages/inventory/src/components/detail/InventoryDetail.scss
  packages/inventory/src/components/table/InventoryList.scss
  packages/pdf-generator/src/components/PDFDocument.js
Labels: bug, on hold

#936 General info paper cuts
  packages/inventory-general-info/src/BiosCard/BiosCard.js
  packages/inventory-general-info/src/BiosCard/__snapshots__/BiosCard.test.js.snap
  packages/inventory-general-info/src/CollectionCard/CollectionCard.js
  packages/inventory-general-info/src/CollectionCard/__snapshots__/CollectionCard.test.js.snap
  packages/inventory-general-info/src/ConfigurationCard/ConfigurationCard.js
  packages/inventory-general-info/src/ConfigurationCard/__snapshots__/ConfigurationCard.test.js.snap
  packages/inventory-general-info/src/GeneralInformation/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/InfrastructureCard/InfrastructureCard.js
  packages/inventory-general-info/src/InfrastructureCard/__snapshots__/InfrastructureCard.test.js.snap
  packages/inventory-general-info/src/LoadingCard/LoadingCard.js
  packages/inventory-general-info/src/LoadingCard/LoadingCard.test.js
  packages/inventory-general-info/src/LoadingCard/__snapshots__/LoadingCard.test.js.snap
  packages/inventory-general-info/src/OperatingSystemCard/OperatingSystemCard.js
  packages/inventory-general-info/src/OperatingSystemCard/OperatingSystemCard.test.js
  packages/inventory-general-info/src/OperatingSystemCard/__snapshots__/OperatingSystemCard.test.js.snap
  packages/inventory-general-info/src/SystemCard/SystemCard.js
  packages/inventory-general-info/src/SystemCard/__snapshots__/SystemCard.test.js.snap
  packages/inventory-general-info/src/selectors/selectors.js
  packages/inventory-general-info/src/selectors/selectors.test.js
Labels: inventory/general-info, release

#942 Update Utils usage in Sources to V3
  packages/sources/package.json
  packages/sources/src/api/index.js
Labels: release, sources

#949 Pass getEntities to connected inventory
  packages/inventory/src/Inventory.js
Labels: release

#950 Export api partials as seperate key
  packages/inventory/src/Inventory.js
  packages/inventory/src/index.js
Labels: release

#951 feat(docs): generate nav and files for all react components
  packages/docs/.gitignore
  packages/docs/components/navigation/index.js
  packages/docs/docgen.js
  packages/docs/docs-generator.js
  packages/docs/generate-components-nav.js
  packages/docs/pages/api/hello.js
  packages/docs/sort-files.js
Labels: docs

#952 fix(SystemPolicyCard): RHICOMPL-1162 - Use DateFormat for last scanned
  packages/inventory-compliance/src/SystemPolicyCard/SystemPolicyCard.js
  packages/inventory-compliance/src/SystemPolicyCard/__snapshots__/SystemPolicyCard.test.js.snap
  packages/inventory-compliance/src/SystemPolicyCards/__snapshots__/SystemPolicyCards.test.js.snap
Labels: release

#953 Add unregister callback when registering reducer
  packages/utils/src/ReducerRegistry/ReducerRegistry.js
  packages/utils/src/ReducerRegistry/ReducerRegistry.test.js
Labels: release

#955 fix wording and colors in error state
  packages/components/src/ErrorState/DefaultErrorMessage.js
  packages/components/src/ErrorState/ErrorState.js
  packages/components/src/ErrorState/error-state.scss
Labels: release

#956 Include fed-mods file in assets so webpack actually includes them
  packages/config/chunk-mapper.js
Labels: release

#958 Fix status link in Error state
  packages/components/src/ErrorState/DefaultErrorMessage.js
Labels: components, release

#959 Select the first app when there is only one available
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/api/createSource.js
  packages/sources/src/sourceFormRenderer/components/EnhancedRadio.js
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
  packages/sources/src/tests/api/createSource.test.js
  packages/sources/src/tests/sourceFormRenderer/components/enhancedRadio.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
  packages/sources/src/utilities/stringConstants.js
Labels: release, sources

#961 Move CSM to CPU Flags in System Card
  packages/inventory-general-info/src/BiosCard/BiosCard.js
  packages/inventory-general-info/src/BiosCard/BiosCard.test.js
  packages/inventory-general-info/src/BiosCard/__snapshots__/BiosCard.test.js.snap
  packages/inventory-general-info/src/GeneralInformation/__snapshots__/GeneralInformation.test.js.snap
  packages/inventory-general-info/src/SystemCard/SystemCard.js
  packages/inventory-general-info/src/SystemCard/SystemCard.test.js
  packages/inventory-general-info/src/SystemCard/__snapshots__/SystemCard.test.js.snap
  packages/inventory-general-info/src/__mock__/selectors.js
  packages/inventory-general-info/src/selectors/selectors.js
  packages/inventory-general-info/src/selectors/selectors.test.js
Labels: inventory/general-info, release

#963 chore(docs): ignore docs package from "start" script
  package.json
Labels: docs

#964 Change perPage to per_page to fix getEntities
  packages/inventory/src/redux/actions.js
Labels: bug, inventory, release

#967 Add temporary beta rewrite.
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: release

#969 Fix invalid prop types and invalid keys.
  packages/charts/src/SeverityLine/SeverityLine.js
  packages/components/src/ConditionalFilter/GroupFilter.js
  packages/components/src/ConditionalFilter/__snapshots__/GroupFilter.test.js.snap
  packages/components/src/DownloadButton/DownloadButton.js
  packages/components/src/FilterHooks/tagFilterHook.js
  packages/sources/package.json
Labels: release

#970 Do not use hot reload chunks
  packages/config/chunk-mapper.js
Labels: release

#971 Update html-webpack-plugin to latest
  packages/config/package.json
  packages/config/src/plugins.test.js
Labels: config, dependencies, release

#968 Add group name in the pdf document
  packages/pdf-generator/src/components/PDFDocument.js
  packages/pdf-generator/src/utils/styles.js
Labels: release

#972 Add new async component that wraps ScalprumComponent
  packages/components/src/AsyncComponent/index.js
  packages/components/src/index.js
Labels: release

#974 fix(config): add the option to exclude shared package
  packages/config/federated-modules.js
Labels: config, release

#975 Enable option to pass sass prefix
  packages/config/src/config.js
Labels: release

#973 fix(remediations): RHICOMPL-1292 for supported systems only
  packages/inventory-compliance/src/ComplianceRemediationButton/ComplianceRemediationButton.js
Labels: release

#978 fix(config): ignore webpack proxy with deployment
  packages/config/src/config.js
Labels: bug, config, release

#979 Remove eslint plugin
  packages/config/package.json
  packages/config/src/config.js
  packages/config/src/plugins.js
  packages/config/src/plugins.test.js
Labels: config, release

#980 Filter apps that do not belong to any source type
  packages/sources/src/tests/utilities/filterApps.spec.js
  packages/sources/src/utilities/filterApps.js
Labels: release, sources

#982 Reexport actions as default
  packages/notifications/src/redux/actions/action-types.js
  packages/notifications/src/redux/actions/notifications.js
Labels: bug, notifications

#976 Remove deprecated boundary prop from shield
  packages/components/src/Shield/Shield.js
  packages/components/src/Shield/__snapshots__/Shield.test.js.snap
Labels: components, release

#977 Add aria-label to description filter text input
  packages/rule-components/src/RuleFilters/description.js
Labels: release

#957 Use devtool: eval-cheap-module-source-map in development
  packages/config/src/config.js
Labels: release

#986 If last elem in location is not inv ID use secont to last
  packages/inventory/src/components/detail/InventoryDetail.js
Labels: release

#988 Update remediations to v3
  packages/remediations/.gitignore
  packages/remediations/README.md
  packages/remediations/config/rollup.config.js
  packages/remediations/config/webpack.config.js
  packages/remediations/config/webpack.constants.js
  packages/remediations/config/webpack.plugins.js
  packages/remediations/package.json
  packages/remediations/src/NewRemediationWizard/NewRemediationWizard.js
  packages/remediations/src/NewRemediationWizard/NewRemediationWizardHelper.js
  packages/remediations/src/NewRemediationWizard/index.js
  packages/remediations/src/NewRemediationWizard/schema.js
  packages/remediations/src/RemediationButton.js
  packages/remediations/src/RemediationButton/RemediationButton.js
  packages/remediations/src/RemediationButton/index.js
  packages/remediations/src/RemediationWizard/RemediationWizard.js
  packages/remediations/src/RemediationWizard/RemediationWizard.scss
  packages/remediations/src/RemediationWizard/index.js
  packages/remediations/src/index.js
  packages/remediations/src/index.scss
  packages/remediations/src/steps/ErrorStep.scss
  packages/remediations/src/steps/ExistingOrNew.js
  packages/remediations/src/steps/ExistingOrNew.scss
  packages/remediations/src/steps/IssueResolutionStep.scss
  packages/remediations/src/steps/LoadingStep.js
  packages/remediations/src/steps/LoadingStep.scss
  packages/remediations/src/steps/ResolutionModeStep.js
  packages/remediations/src/steps/SummaryStep.js
  packages/remediations/src/tests/remediationButton.test.js
  packages/remediations/src/tests/remediationWizard.test.js
  packages/remediations/src/tests/schema.test.js
  packages/remediations/src/tests/steps/reviewActions.test.js
  packages/remediations/src/tests/steps/selectPlaybook.test.js
  packages/remediations/src/tests/validator.test.js
  packages/remediations/src/utils/index.js
  packages/remediations/src/utils/utils.js
  packages/remediations/src/validate/index.js
  packages/remediations/src/validate/validator.js
Labels: on hold

#984 Remove singletings from certain shared dependencies.
  packages/config/federated-modules.js
  packages/config/package.json
Labels: bug, release

#987 Update inventory access denied states
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/__snapshots__/InventoryList.test.js.snap
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
  packages/inventory/src/shared/AccessDenied.js
Labels: release

#981 fix(config): use jsVarName for moduleName
  packages/config/federated-modules.js
  packages/config/src/jsVarName.js
  packages/config/src/plugins.js
Labels: release

#990 Add option to skip chrome 2 wrapper in order to render non module apps
  packages/config/src/chrome-render-loader.js
  packages/config/src/chrome-render-loader.test.js
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: release

#989 Migrate inventory to v3
  package-lock.json
  packages/inventory-general-info/src/SystemCard/SystemCard.js
  packages/inventory/.gitignore
  packages/inventory/.npmignore
  packages/inventory/config/rollup.config.js
  packages/inventory/config/webpack.config.js
  packages/inventory/config/webpack.constants.js
  packages/inventory/config/webpack.plugins.js
  packages/inventory/package.json
  packages/inventory/src/actions.js
  packages/inventory/src/api/api.js
  packages/inventory/src/api/systemIssues.js
  packages/inventory/src/components/detail/AppInfo.js
  packages/inventory/src/components/detail/DetailRenderer.js
  packages/inventory/src/components/detail/FactsInfo.js
  packages/inventory/src/components/detail/InventoryDetail.js
  packages/inventory/src/components/detail/TopBar.js
  packages/inventory/src/components/drawer/SystemIssues.js
  packages/inventory/src/components/filters/useTagsFilter.js
  packages/inventory/src/components/index.js
  packages/inventory/src/components/table/EntityTable.js
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/InventoryTable.test.js
  packages/inventory/src/components/table/NoSystemsTable.js
  packages/inventory/src/index.js
  packages/inventory/src/inventoryConnector/index.js
  packages/inventory/src/redux/entities.js
  packages/inventory/src/redux/index.js
  packages/inventory/src/redux/reducers.js
  packages/inventory/src/shared/AccessDenied.js
  packages/inventory/src/shared/TagWithDialog.js
  packages/inventory/src/shared/TagsModal.js
  packages/inventory/src/shared/Wrapper.js
Labels: release

#991 Fix GroupFilter undefined event issue
  packages/components/src/ConditionalFilter/GroupFilter.js
Labels: release

#992 fix(supported popover): RHICOMPL-1461 update docs link
  packages/inventory-compliance/src/PresentationalComponents/UnsupportedSSGVersion.js
  packages/inventory-compliance/src/index.js
Labels: release

#993 fix(RemediationsButton): RHICOMPL-1456 - Ensure supported is passed in
  packages/inventory-compliance/src/Compliance/Compliance.js
  packages/inventory-compliance/src/ComplianceRemediationButton/ComplianceRemediationButton.js
  packages/inventory-compliance/src/Fixtures/Fixtures.js
  packages/inventory-compliance/src/SystemRulesTable/SystemRulesTable.js
  packages/inventory-compliance/src/SystemRulesTable/__snapshots__/SystemRulesTable.test.js.snap
Labels: release

#994 chore(deps): Update remediations package to v3
  packages/inventory-compliance/package.json
  packages/inventory-compliance/src/ComplianceRemediationButton/ComplianceRemediationButton.js
Labels: release
