Repository RedHatInsights/frontend-components, pull requests merged in 2021-05, with the labels that each got.

#1108 Add autoRefresh functionality
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/InventoryTable.test.js
Labels: inventory, release

#1105 Allow to pass custom columns as a prop
  config/.gitignore
  packages/inventory/README.md
  packages/inventory/doc/props.md
  packages/inventory/src/components/table/EntityTable.js
  packages/inventory/src/components/table/EntityTable.test.js
  packages/inventory/src/components/table/__snapshots__/EntityTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/InventoryList.test.js.snap
  packages/inventory/src/redux/entities.js
Labels: inventory, release

#1110 Keep columns in inventory table compatible
  packages/inventory/doc/props.md
  packages/inventory/src/components/table/EntityTable.js
  packages/inventory/src/components/table/EntityTable.test.js
  packages/inventory/src/components/table/__snapshots__/EntityTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/InventoryList.test.js.snap
  packages/inventory/src/redux/entities.js
Labels: inventory, release

#1111 Set tagsModalLoaded when fetching all tagts
  packages/inventory/src/redux/entities.js
Labels: inventory, release

#1113 Add initialLoading for inventory table
  packages/inventory/doc/props.md
  packages/inventory/src/components/table/EntityTable.js
  packages/inventory/src/components/table/EntityTable.test.js
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/EntityTableToolbar.test.js
  packages/inventory/src/components/table/InventoryList.test.js
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/InventoryTable.test.js
  packages/inventory/src/components/table/InventoryTableInitialLoading.test.js
  packages/inventory/src/components/table/Pagination.js
  packages/inventory/src/components/table/Pagination.test.js
  packages/inventory/src/components/table/__snapshots__/EntityTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/Pagination.test.js.snap
Labels: inventory, release

#1114 Allow to set columns as function
  packages/inventory/doc/props.md
  packages/inventory/src/components/table/EntityTable.js
  packages/inventory/src/components/table/EntityTable.test.js
Labels: inventory, release

#1116 Inventory bug fixing
  packages/inventory/doc/props.md
  packages/inventory/src/api/api.js
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/InventoryList.js
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
Labels: bug, inventory, release

#1121 Fix undefined issue ID in issueResolution step
  packages/remediations/src/steps/issueResolution.js
Labels: release

#1115 fix: fonts path for pdfs
  packages/pdf-generator/src/utils/fonts.js
Labels: release

#1122 Provide defaultGetEntities function in custom getEntities
  packages/inventory/doc/custom_fetch.md
  packages/inventory/src/redux/actions.js
Labels: enhancement, inventory, release

#1131 RHICOMPL-1829: update link to supported SSGs in compliance
  packages/inventory-compliance/src/PresentationalComponents/UnsupportedSSGVersion.js
Labels: release

#1130 RHICOMPL-744: replace the compliance empty state icon
  babel.config.js
  packages/inventory-compliance/src/ComplianceEmptyState/ComplianceEmptyState.js
  packages/inventory-compliance/src/ComplianceEmptyState/__snapshots__/ComplianceEmptyState.test.js.snap
Labels: release

#1135 Annotate Remediation wizard with ouia-id
  packages/remediations/src/RemediationWizard/RemediationWizard.js
  packages/remediations/src/steps/fetchError.js
  packages/remediations/src/steps/issueResolution.js
  packages/remediations/src/steps/review.js
  packages/remediations/src/steps/reviewActions.js
  packages/remediations/src/steps/reviewSystems.js
  packages/remediations/src/steps/selectPlaybook.js
Labels: release

#1112 Add SelectOption for a group
  packages/components/src/ConditionalFilter/GroupFilter.js
  packages/components/src/ConditionalFilter/GroupFilter.test.js
  packages/components/src/ConditionalFilter/__snapshots__/GroupFilter.test.js.snap
Labels: release

#1133 Remove deprecated node-sass in favor of dart-sass
  package-lock.json
  package.json
  packages/components/create-styles.js
  packages/config/package.json
  scripts/build-styles.js
Labels: release

#1127 Fix systems seletion in Remediation Wizard
  packages/remediations/src/RemediationWizard/RemediationWizard.js
  packages/remediations/src/RemediationWizard/schema.js
  packages/remediations/src/steps/issueResolution.js
  packages/remediations/src/steps/review.js
  packages/remediations/src/steps/reviewActions.js
  packages/remediations/src/steps/reviewSystems.js
  packages/remediations/src/steps/selectPlaybook.js
  packages/remediations/src/tests/schema.test.js
  packages/remediations/src/tests/steps/review.test.js
  packages/remediations/src/tests/steps/reviewActions.test.js
  packages/remediations/src/tests/steps/reviewSystems.test.js
  packages/remediations/src/tests/steps/selectPlaybook.test.js
  packages/remediations/src/tests/testData.js
  packages/remediations/src/tests/utils.test.js
  packages/remediations/src/utils/utils.js
Labels: release

#1137 de-duplicate config utils package
  packages/config-utils/cookieTransform.js
  packages/config-utils/package.json
  packages/config-utils/proxy.js
  packages/config-utils/serveLocalFile.js
  packages/config/README.md
  packages/config/chunk-mapper.js
  packages/config/federated-modules.js
  packages/config/package.json
  packages/config/src/chrome-render-loader.js
  packages/config/src/chrome-render-loader.test.js
  packages/config/src/config.js
  packages/config/src/jsVarName.js
  packages/config/src/plugins.js
Labels: release

#1139 add config utils re-exports
  packages/config/chunk-mapper.js
  packages/config/federated-modules.js
  packages/config/src/cookieTransform.js
  packages/config/src/proxy.js
  packages/config/src/serveLocalFile.js
Labels: config, release

#1143 Fix chrome render loader reference
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: bug, config, release

#1146 Update nodesi to fix vulnerability
  package-lock.json
  packages/config/package.json
Labels: config, release

#1147 Allow react 17 as a peer dependency for most packages.
  package-lock.json
  packages/charts/package.json
  packages/components/package.json
  packages/inventory-compliance/package.json
  packages/inventory-general-info/package.json
  packages/inventory-insights/package.json
  packages/inventory/package.json
  packages/notifications/package.json
  packages/remediations/package.json
  packages/translations/package.json
  packages/utils/package.json
Labels: dependencies, release

#1148 remove prettier/react from eslint config
  packages/eslint-config/index.js
Labels: bug, release

#1134 chore(config): cleanup
  package-lock.json
  packages/config-utils/cookieTransform.js
  packages/config-utils/federated-modules.js
  packages/config/README.md
  packages/config/index.js
  packages/config/package.json
  packages/config/src/config.js
  packages/config/src/config.test.js
  packages/config/src/plugins.js
  packages/config/src/plugins.test.js
  packages/pdf-generator/src/components/PDFDocument.js
  packages/rule-components/package.json
  packages/translations/README.md
  packages/utils/src/helpers/index.js
  packages/utils/src/inventoryDependencies/index.js
  packages/utils/src/styles/_mixins.scss
Labels: release

#1151 Add router to proxy config
  packages/config-utils/proxy.js
  packages/config-utils/router.js
  packages/config/README.md
Labels: config, enhancement, release

#1152 Fix root folder in strings
  packages/config/index.js
Labels: bug, config, release

#1153 fix(config): add URL fallback to fallbacks
  package-lock.json
  packages/config/package.json
  packages/config/src/config.js
Labels: config, release

#1149 Import promise middleware properly
  packages/remediations/src/RemediationWizard/RemediationWizard.js
  packages/remediations/src/tests/remediationWizard.test.js
  packages/remediations/src/tests/steps/reviewSystems.test.js
Labels: release

#1132 Apply DOCs outline
  packages/docs/.gitignore
  packages/docs/components/layout/mdx-provider-components.js
  packages/docs/components/navigation/components-navigation.js
  packages/docs/components/navigation/components-navigation.json
  packages/docs/components/sections/sections-definition.json
  packages/docs/generate-functions-md.js
  packages/docs/generate-react-md.js
  packages/docs/layouts/chrome.js
  packages/docs/layouts/nested-layout.js
  packages/docs/pages/_app.js
  packages/docs/pages/chrome/chrome-api.md
  packages/docs/pages/chrome/chrome-navigation.md
  packages/docs/pages/chrome/contribute.md
  packages/docs/pages/chrome/index.md
  packages/docs/pages/chrome/local-development.md
  packages/docs/pages/common-issues/index.md
  packages/docs/pages/csc/environments.md
  packages/docs/pages/csc/examples.md
  packages/docs/pages/csc/index.md
  packages/docs/pages/deployment-process/index.md
  packages/docs/pages/fec/build-variants.md
  packages/docs/pages/fec/contribution.md
  packages/docs/pages/fec/getting-started.md
  packages/docs/pages/fec/import-paths.md
  packages/docs/pages/fed/consuming-module.md
  packages/docs/pages/fed/index.md
  packages/docs/pages/fed/sharing-module.md
  packages/docs/pages/fed/versioning.md
  packages/docs/pages/insights-standalone/index.md
  packages/docs/pages/inventory-components/examples.md
  packages/docs/pages/inventory-components/index.md
  packages/docs/pages/landing-page/index.md
  packages/docs/pages/landing-page/updating-content.md
  packages/docs/pages/new-app-ui/index.md
  packages/docs/pages/proxies/index.md
  packages/docs/pages/proxies/insights-proxy.md
  packages/docs/pages/proxies/webpack-proxy.md
Labels: docs

#1155 Add table of attributes for the useProxy
  packages/config/README.md
Labels: config

#1156 Clean up inventory propTypes and errors in tests
  packages/components/src/TagModal/TagModal.js
  packages/components/src/TagModal/__snapshots__/TagModal.test.js.snap
  packages/inventory/src/components/table/EntityTable.js
  packages/inventory/src/components/table/EntityTable.test.js
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/TitleColumn.js
  packages/inventory/src/components/table/__snapshots__/EntityTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/TitleColumn.test.js.snap
  packages/inventory/src/shared/OperatingSystemFormatter.js
Labels: inventory, release
