Repository RedHatInsights/frontend-components, pull requests merged in 2021-01, with the labels that each got.

#854 Polish docs
  packages/components/package.json
  packages/components/src/Components/Battery/Battery.js
  packages/components/src/Components/Battery/CriticalBattery.js
  packages/components/src/Components/Breadcrumbs/Breadcrumbs.js
  packages/components/src/Components/Breadcrumbs/ConnectedBreadcrumbs.js
  packages/components/src/Components/ConditionalFilter/ConditionalFilter.js
  packages/components/src/Components/ConditionalFilter/constants.js
  packages/components/src/Components/Inventory/AppInfo.js
  packages/components/src/Components/PrimaryToolbar/PrimaryToolbar.js
  packages/docs/components/deprecation-warn/index.js
  packages/docs/components/example-component/create-code-sandbox-template.js
  packages/docs/components/example-component/expandable-panel.js
  packages/docs/components/extensive-prop/index.js
  packages/docs/components/layout/index.js
  packages/docs/components/layout/mdx-provider-components.js
  packages/docs/docs-generator.js
  packages/docs/examples/Battery/critical-severity.js
  packages/docs/examples/Battery/high-severity.js
  packages/docs/examples/Battery/low-severity.js
  packages/docs/examples/Battery/medium-severity.js
  packages/docs/examples/CriticalBattery/simple-example.js
  packages/docs/next.config.js
  packages/docs/package.json
  packages/docs/pages/_app.js
  packages/docs/pages/_document.js
  packages/docs/styles/globals.css
Labels: docs

#857 Update Red Hat sources selection to use radio
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/sourceFormRenderer/components/EnhancedRadio.js
  packages/sources/src/sourceFormRenderer/index.js
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
  packages/sources/src/tests/sourceFormRenderer/components/enhancedRadio.test.js
Labels: release, sources

#853 fix(ComplianceRemediationButton): RHICOMPL-873 color
  packages/inventory-compliance/package.json
  packages/inventory-compliance/src/ComplianceRemediationButton.js
Labels: release

#855 Capitalized Cost Management & Access Management in Sources UI
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedComponents/azure/costManagement.js
Labels: release, sources

#860 Add AWS specific success state
  packages/sources/config/rollup.config.js
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/addSourceWizard/steps/AmazonFinishedStep.js
  packages/sources/src/styles/authSelect.scss
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
  packages/sources/src/tests/addSourceWizard/steps.test.js
Labels: release, sources

#862 Add source id when creating authentication
  packages/sources/src/api/createSource.js
  packages/sources/src/tests/api/createSource.test.js
Labels: release, sources

#858 Add named remediation button to remediation package
  packages/inventory-compliance/package.json
  packages/remediations/config/webpack.config.js
  packages/remediations/src/RemediationButton.js
Labels: release

#863 Add description to loading step
  packages/sources/src/addSourceWizard/FinalWizard.js
  packages/sources/src/addSourceWizard/steps/LoadingStep.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
Labels: enhancement, release, sources

#861 Update scalprum to include catch clause
  package-lock.json
  packages/components/package.json
Labels: release

#865 Use newest version of scalprum to use cjs build
  packages/components/package.json
Labels: release

#866 Add auto-registration step for subwatch-arn
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/helpers/applicationTypes.js
  packages/sources/src/tests/helpers/sourceTypes.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: enhancement, release, sources

#867 Add default props to async inventory
  packages/components/src/Components/Inventory/AsyncInventory.js
Labels: release

#868 Change summary to one column horizontal
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
Labels: release, sources

#869 Add missing index to remediations rollup config.
  packages/remediations/config/rollup.config.js
  packages/remediations/package.json
Labels: bug, release

#870 Add Alert for autoregistration for AWS sources
  packages/sources/src/sourceFormRenderer/components/EnhancedSelect.js
  packages/sources/src/tests/sourceFormRenderer/components/enhancedSelect.test.js
Labels: sources

#871 Allow to preselect source type and remove type selection
  packages/sources/README.md
  packages/sources/src/addSourceWizard/SourceAddModal.js
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/index.js
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
Labels: release, sources

#874 fix(remediations): RHICOMPL-1303 Playbook with no issue IDs
  packages/inventory-compliance/src/ComplianceRemediationButton.js
Labels: release

#864 fix(SystemPolicyCards): RHICOMPL-1213 same height on all cards
  packages/inventory-compliance/src/PresentationalComponents/UnsupportedSSGVersion.js
  packages/inventory-compliance/src/SystemPolicyCard.js
  packages/inventory-compliance/src/SystemPolicyCards.js
  packages/inventory-compliance/src/__snapshots__/SystemPolicyCards.test.js.snap
Labels: release

#875 Change Card to Tile in CardSelect
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/sourceFormRenderer/components/CardSelect.js
  packages/sources/src/styles/cardSelect.scss
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
  packages/sources/src/tests/sourceFormRenderer/components/cardSelect.test.js
Labels: release, sources

#878 Discard remediations rollup UMD build.
  packages/remediations/package.json
Labels: release

#879 Add Remediations button to UMD output.
  packages/remediations/config/webpack.config.js
Labels: bug, release

#877 Export ErrorState component
  packages/components/src/index.js
Labels: components, release

#881 Fix async inventory ref by introducing inner ref
  packages/components/src/Components/Inventory/AppInfo.js
  packages/components/src/Components/Inventory/AsyncInventory.js
  packages/components/src/Components/Inventory/DetailWrapper.js
  packages/components/src/Components/Inventory/InventoryDetail.js
  packages/components/src/Components/Inventory/InventoryDetailHead.js
  packages/components/src/Components/Inventory/InventoryTable.js
  packages/components/src/Components/Inventory/TagWithDialog.js
  packages/inventory/.gitignore
  packages/inventory/.npmignore
Labels: release

#883 Trim whitespace for hostname filtering
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/EntityTableToolbar.test.js
Labels: inventory, release

#880 Add icon for disabled insights systems
  packages/inventory/src/components/table/EntityTable.test.js
  packages/inventory/src/redux/entities.js
  packages/inventory/src/shared/InsightsDisconnected.js
  packages/inventory/src/shared/InsightsDisconnected.scss
Labels: inventory, release

#829 Remediation wizard chooseActions step
  packages/remediations/src/NewRemediationWizard.js
  packages/remediations/src/newSteps/issueResolution.js
  packages/remediations/src/newSteps/issueResolution.scss
  packages/remediations/src/newSteps/reviewActions.js
  packages/remediations/src/newSteps/reviewActions.scss
  packages/remediations/src/newSteps/selectPlaybook.js
  packages/remediations/src/schema.js
Labels: release

#886 fix(Remediations): RHICOMPL-1124 available only for supported
  packages/inventory-compliance/src/ComplianceRemediationButton.js
Labels: release

#888 Allow to use different modal variants in GeneralInfo
  packages/inventory-general-info/src/ConfigurationCard.js
  packages/inventory-general-info/src/GeneralInformation.js
  packages/inventory-general-info/src/InfrastructureCard.js
Labels: inventory/general-info, release

#885 Inventory - Change kebab to actions dropdown
  packages/inventory/src/components/detail/TopBar.js
  packages/inventory/src/components/detail/TopBar.test.js
Labels: inventory, release

#893 Set page to first one when filtering
  packages/inventory-general-info/src/InfoTable.js
  packages/inventory-general-info/src/InfoTable.test.js
  packages/inventory-general-info/src/__snapshots__/InfoTable.test.js.snap
Labels: inventory/general-info, release

#895 Remove additional beta from not auth component
  packages/components/src/Components/NotAuthorized/NotAuthorized.js
Labels: release

#896 Update host client to latest to update axios dependency
  package-lock.json
  package.json
  packages/inventory-general-info/package.json
  packages/inventory/package.json
Labels: dependencies, inventory/general-info, inventory/insights, release

#898 Fix inventory detail inifite load if no system found
  packages/inventory/src/components/detail/AppInfo.js
  packages/inventory/src/shared/TagsModal.js
Labels: release

#901 add ouia to TextInput component
  packages/components/src/Components/ConditionalFilter/Text.js
  packages/components/src/Components/ConditionalFilter/__snapshots__/Text.test.js.snap
Labels: release

#894 feat(docs): add file watcher for docs MD generator.
  package-lock.json
  package.json
  packages/docs/README.md
  packages/docs/docgen.js
  packages/docs/docs-generator.js
  packages/docs/package.json
Labels: docs

#903 Change timeout step title
  packages/sources/src/addSourceWizard/steps/TimeoutStep.js
  packages/sources/src/tests/addSourceWizard/finalWizard.test.js
Labels: release, sources

#902 Change ARN to use username field
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/tests/helpers/sourceTypes.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: release, sources

#904 Hot fix notifications by adding actions exporter
  packages/notifications/.gitignore
  packages/notifications/.npmignore
  packages/notifications/src/NotificationPortal.js
  packages/notifications/src/actions.js
  packages/notifications/src/index.js
  packages/notifications/src/notifications.js
  packages/notifications/src/notificationsMiddleware/index.js
  packages/notifications/src/notificationsReducer.js
Labels: release

#900 Allow to set custom fetch function for inventory
  packages/inventory/README.md
  packages/inventory/doc/custom_fetch.md
  packages/inventory/src/api/api.js
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/InventoryList.js
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/Pagination.js
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
  packages/inventory/src/redux/actions.js
  packages/inventory/src/shared/constants.js
Labels: inventory, release

#805 Add GCP to sources
  packages/sources/src/addSourceWizard/hardcodedComponents/gcp/costManagement.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/sourceFormRenderer/components/SourceWizardSummary.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/google_cost.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/helpers/applicationTypes.js
  packages/sources/src/tests/helpers/sourceTypes.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: release, sources

#906 Add prepublish script to utils package
  packages/utils/.gitignore
  packages/utils/.npmignore
  packages/utils/package.json
  packages/utils/postinstall.js
Labels: release

#907 Audit dependencies.
  package-lock.json
  package.json
Labels: dependencies

#908 Do not log error when copying styles to utilities folder
  packages/utils/postinstall.js
Labels: release

#909 Switch authentications to app.extra
  packages/sources/config/rollup.config.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/api/costManagementAuthentication.js
  packages/sources/src/api/createSource.js
  packages/sources/src/api/delay.js
  packages/sources/src/api/getApplicationStatus.js
  packages/sources/src/index.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/api/costManagementAuthentication.test.js
  packages/sources/src/tests/api/createSource.test.js
  packages/sources/src/tests/helpers/sourceTypes.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
Labels: release, sources

#912 Fix obsolete cost values
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/arn.js
  packages/sources/src/addSourceWizard/hardcodedComponents/azure/costManagement.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/arn.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/cost_management_azure.test.js
Labels: bug, release, sources

#913 Hide filters in Inventory
  packages/inventory/README.md
  packages/inventory/doc/hide_filters.md
  packages/inventory/src/components/table/EntityTableToolbar.js
  packages/inventory/src/components/table/InventoryList.js
  packages/inventory/src/components/table/InventoryTable.js
  packages/inventory/src/components/table/InventoryTable.test.js
  packages/inventory/src/components/table/Pagination.js
  packages/inventory/src/components/table/__snapshots__/InventoryTable.test.js.snap
  packages/inventory/src/redux/actions.js
Labels: enhancement, inventory, release

#914 fix(notifications): remove duplicate filename
  packages/notifications/src/NotificationPortal.js
Labels: release

#911 Update notifications docs for v3.
  packages/notifications/doc/notifications.md
Labels: docs

#916 Merge docs into master branch
  README.md
  package-lock.json
  package.json
  packages/components/src/Ansible/Ansible.js
  packages/components/src/Battery/Battery.js
  packages/components/src/Battery/CriticalBattery.js
  packages/components/src/Breadcrumbs/Breadcrumbs.js
  packages/components/src/Breadcrumbs/ConnectedBreadcrumbs.js
  packages/components/src/ConditionalFilter/ConditionalFilter.js
  packages/components/src/PrimaryToolbar/PrimaryToolbar.js
  packages/docs/.gitignore
  packages/docs/README.md
  packages/docs/components/deprecation-warn/index.js
  packages/docs/components/example-component/code-highlight.js
  packages/docs/components/example-component/codesandbox-svg-icons.js
  packages/docs/components/example-component/create-code-sandbox-template.js
  packages/docs/components/example-component/expandable-panel.js
  packages/docs/components/example-component/index.js
  packages/docs/components/extensive-prop/index.js
  packages/docs/components/layout/header-tools.js
  packages/docs/components/layout/index.js
  packages/docs/components/layout/mdx-provider-components.js
  packages/docs/components/navigation/components-navigation.json
  packages/docs/components/navigation/index.js
  packages/docs/docgen.js
  packages/docs/docs-generator.js
  packages/docs/examples/Ansible/normal-example.js
  packages/docs/examples/Battery/critical-severity.js
  packages/docs/examples/Battery/high-severity.js
  packages/docs/examples/Battery/low-severity.js
  packages/docs/examples/Battery/medium-severity.js
  packages/docs/examples/CriticalBattery/simple-example.js
  packages/docs/next.config.js
  packages/docs/package.json
  packages/docs/pages/_app.js
  packages/docs/pages/_document.js
  packages/docs/pages/api/hello.js
  packages/docs/pages/index.js
  packages/docs/public/codesandbox-logo.svg
  packages/docs/public/favicon.ico
  packages/docs/public/github-logo.svg
  packages/docs/public/logo.svg
  packages/docs/server.js
  packages/docs/styles/globals.css
Labels: docs

#924 fix(components): removed unused PF css import
  packages/components/src/Input/input.scss
  packages/components/src/index.scss
Labels: bug, release

#921 Make updates to Wizard
  packages/sources/src/addSourceWizard/SourceAddSchema.js
  packages/sources/src/addSourceWizard/descriptions/SubWatchDescription.js
  packages/sources/src/addSourceWizard/hardcodedComponents/aws/subscriptionWatch.js
  packages/sources/src/addSourceWizard/hardcodedSchemas.js
  packages/sources/src/sourceFormRenderer/components/EnhancedRadio.js
  packages/sources/src/sourceFormRenderer/components/EnhancedSelect.js
  packages/sources/src/sourceFormRenderer/index.js
  packages/sources/src/styles/cardSelect.scss
  packages/sources/src/tests/addSourceWizard/addSourceSchema.test.js
  packages/sources/src/tests/addSourceWizard/addSourceWizzard.test.js
  packages/sources/src/tests/addSourceWizard/descriptions/subWatchDescription.test.js
  packages/sources/src/tests/addSourceWizard/hardCodedComponents/subscription_watch_arn.test.js
  packages/sources/src/tests/addSourceWizard/schemaBuilder.test.js
  packages/sources/src/tests/sourceFormRenderer/components/enhancedRadio.test.js
  packages/sources/src/tests/sourceFormRenderer/components/enhancedSelect.test.js
  packages/sources/src/tests/sourceFormRenderer/components/sourceWizardSummary.test.js
  packages/sources/src/utilities/stringConstants.js
Labels: release, sources
