Repository RedHatInsights/frontend-components, pull requests merged in 2022-10, with the labels that each got.

#1615 Better filter hook types
  packages/components/src/FilterHooks/tagFilterHook.tsx
Labels: release

#1617 fix(RBAC): Correctly set and pass checkAll when using context
  packages/components/src/RBACProvider/RBACProvider.tsx
  packages/utils/src/RBACHook/RBACHook.ts
Labels: release

#1616 Dependency cleanup
  .eslintrc.js
  config/setupTests.js
  package-lock.json
  package.json
  packages/advisor-components/cypress/cypress.webpack.config.js
  packages/advisor-components/package.json
  packages/charts/package.json
  packages/charts/src/Matrix/Matrix.js
  packages/charts/src/Matrix/__snapshots__/Matrix.test.js.snap
  packages/components/cypress/cypress.webpack.config.js
  packages/components/package.json
  packages/components/src/AsyncComponent/index.tsx
  packages/components/src/DownloadButton/__snapshots__/DownloadButton.test.js.snap
  packages/components/src/Filters/__snapshots__/FilterInput.test.js.snap
  packages/components/src/Inventory/TagWithDialog.tsx
  packages/components/src/LongTextTooltip/__snapshots__/LongTextTooltip.test.js.snap
  packages/components/src/PrimaryToolbar/__snapshots__/Actions.test.js.snap
  packages/components/src/SkeletonTable/__snapshots__/SkeletonTable.test.js.snap
  packages/components/src/TagModal/__snapshots__/TableWithFilter.test.js.snap
  packages/config/package.json
  packages/create-crc-app/package.json
  packages/create-crc-app/templates/package.json
  packages/demo/package.json
  packages/docs/components/navigation/components-navigation.json
  packages/docs/next.config.mjs
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/notifications/package.json
  packages/pdf-generator/package.json
  packages/remediations/package.json
  packages/router/package.json
  packages/rule-components/package.json
  packages/translations/package.json
  packages/translations/src/Provider/__snapshots__/Provider.test.js.snap
  packages/types/index.d.ts
  packages/types/package.json
  packages/utils/package.json
  packages/utils/src/ReducerRegistry/ReducerRegistry.ts
  packages/utils/src/inventoryDependencies/index.js
  packages/utils/src/inventoryDependencies/inventoryDependencies.js
Labels: dependencies, release, tech debt

#1618 Capture Error status of spawn
  packages/config/src/scripts/build-script.js
Labels: release, config

#1620 Fix ChromAPI visibility function typo.
  packages/types/index.d.ts
Labels: bug, release

#1621 Remove PF styles import from simple table filter
  packages/components/src/SimpleTableFilter/simple-table-filter.scss
Labels: bug, release

#1624 Update ChromeAPI
  package-lock.json
  packages/types/index.d.ts
  packages/types/package.json
Labels: release

#1626 Pass isDisabled to groupFilter abd its filter text
  packages/components/src/ConditionalFilter/GroupFilter.tsx
  packages/components/src/ConditionalFilter/__snapshots__/GroupFilter.test.js.snap
Labels: release

#1627 Add mising group types
  packages/components/src/ConditionalFilter/CheckboxFilter.tsx
  packages/components/src/ConditionalFilter/ConditionalFilter.tsx
  packages/components/src/ConditionalFilter/GroupFilter.tsx
  packages/components/src/ConditionalFilter/RadioFilter.tsx
  packages/components/src/ConditionalFilter/TextFilter.tsx
  packages/components/src/ConditionalFilter/groupFilterConstants.ts
  packages/components/src/TagModal/TableWithFilter.tsx
  packages/components/src/TagModal/TagModal.tsx
Labels: release

#1625 fix(CypressUtils):adding missing package to the library
  package-lock.json
  packages/eslint-config/index.js
  packages/utils/package.json
  packages/utils/src/CypressUtils/PaginationUtils.js
  packages/utils/src/CypressUtils/TableUtils.js
  packages/utils/src/CypressUtils/UIFilters.js
Labels: release

#1629 Fix docs deployment.
  .gitignore
  Dockerfile
  docker-compose.yml
  package-lock.json
  packages/docs/next.config.mjs
  packages/pdf-generator/package.json
  tsconfig.json
Labels: bug, docs

#1628 Use proper group label and correct group type
  packages/components/src/ConditionalFilter/GroupFilter.tsx
  packages/components/src/ConditionalFilter/groupFilterConstants.ts
Labels: release

#1631 Fix missing fec config in static script
  packages/config/bin/fec.js
Labels: bug, release, config

#1632 npm audit
  jest.config.js
  package-lock.json
  package.json
  packages/config/package.json
  packages/docs/package.json
  packages/pdf-generator/package.json
  packages/rule-components/package.json
Labels: dependencies, tech debt

#1619 Add Router v6 migration steps guide docs
  .gitignore
  package-lock.json
  package.json
  packages/docs/components/blog-nav/index.js
  packages/docs/components/navigation/blog-navigation.json
  packages/docs/components/navigation/common-navigation.js
  packages/docs/components/navigation/news-navigation.json
  packages/docs/components/table-of-contents/index.js
  packages/docs/pages/blog/router-v6.mdx
  packages/docs/pages/index.js
Labels: docs

#1636 Webpack build optimization
  package-lock.json
  packages/config/package.json
  packages/config/src/config.js
  packages/config/src/plugins.js
  packages/config/src/plugins.test.js
  packages/docs/components/navigation/frontend-components-config-navigation.json
  packages/docs/pages/frontend-components-config/index.mdx
  packages/docs/pages/frontend-components-config/use-cache.mdx
Labels: release, config

#1638 fix(eslint-config): Remove cypress plugin
  packages/eslint-config/index.js
  packages/utils/src/CypressUtils/PaginationUtils.js
  packages/utils/src/CypressUtils/TableUtils.js
  packages/utils/src/CypressUtils/UIFilters.js
Labels: release, eslint-config

#1639 Fix puppeteer executable locations.
  packages/docs/search-index/site-crawler.js
  packages/docs/search-index/site-scraper.js
Labels: bug, docs

#1640 Enable webpack cache in fec dev script by default.
  packages/config/src/scripts/dev.webpack.config.js
Labels: release, config

#1643 Use ForkTsCheckerWebpackPlugin only if tsconfig exists.
  packages/config/src/plugins.js
  packages/config/src/plugins.test.js
Labels: bug, release, config

#1641 Add _unstableHotReload to chunk mapper.
  packages/config-utils/chunk-mapper.js
Labels: release, config

#1635 chore update types dependencies
  packages/components/package.json
  packages/utils/package.json
Labels: release

#1642 App hot reload dev server config
  package-lock.json
  packages/config/package.json
  packages/config/src/config.js
  packages/config/src/config.test.js
  packages/config/src/plugins.js
Labels: release, config, tech debt

#1644 Update quickstarts API type
  packages/types/index.d.ts
Labels: bug, release

#1645 Enable resolve config via fec.config.js
  package-lock.json
  packages/config/src/config.js
  packages/docs/pages/ui-onboarding/fec-binary.mdx
Labels: release, config

#1646 Pass external config to prod webpack config.
  packages/config/src/scripts/prod.webpack.config.js
Labels: bug, release, config

#1647 HMR docs
  package-lock.json
  packages/config/src/scripts/prod.webpack.config.js
  packages/docs/components/blog-nav/index.js
  packages/docs/components/navigation/frontend-components-config-navigation.json
  packages/docs/pages/frontend-components-config/hot-module-replacement.mdx
Labels: release, docs, config

#1648 Allow router v6 in peer dependencies.
  packages/advisor-components/package.json
  packages/charts/package.json
  packages/components/package.json
  packages/utils/package.json
Labels: dependencies, release

#1649 Add caching docs.
  package-lock.json
  packages/docs/components/navigation/common-issues-navigation.json
  packages/docs/examples/functionsHoistingCache/functionCache.js
  packages/docs/examples/functionsHoistingCache/invalidReturnValue.js
  packages/docs/examples/functionsHoistingCache/validReturnValue.js
  packages/docs/pages/common-issues/function-hoisting-and-cache.mdx
Labels: docs
