Repository RedHatInsights/frontend-components, pull requests merged in 2022-11, with the labels that each got.

#1652 Add missing no hash config to dev fed modules plugin.
  packages/config/src/scripts/webpack.plugins.js
Labels: release, config, tech debt

#1653 Fix: Flip hash condition for css and source map hashing.
  package-lock.json
  packages/config/src/plugins.js
Labels: bug, release, config

#1656 Fix jsdoc generator
  package-lock.json
  packages/docs/components/navigation/components-navigation.json
  packages/docs/generators/functions-generator.js
  packages/docs/generators/generate-functions-md.js
  packages/utils/src/CypressUtils/PaginationUtils.js
  packages/utils/src/CypressUtils/UIFilters.js
Labels: bug, docs

#1658 Fixing some @patternfly/react-core import statements
  packages/components/src/BulkSelect/BulkSelect.tsx
  packages/components/src/Filters/FilterDropdown.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/TableToolbar/TableToolbar.tsx
Labels: release, components, tech debt

#1659 proxy: try authorization Bearer token when no cs_jwt cookie present
  packages/config-utils/cookieTransform.js
Labels: release, utils

#1654 feat(cypressUtils): adding custom cypress commands
  packages/utils/src/CypressUtils/CustomCommands.js
  packages/utils/src/CypressUtils/TableUtils.js
  packages/utils/src/CypressUtils/UIFilters.js
  packages/utils/src/CypressUtils/index.js
Labels: release, utils

#1662 Update help topic function return type.
  packages/types/index.d.ts
Labels: release

#1663 bump types package version
  package-lock.json
  packages/components/package.json
  packages/utils/package.json
Labels: dependencies, release

#1665 Update yargs to v17.6.2 to fix JSON parse error
  package-lock.json
  packages/config/package.json
  packages/create-crc-app/package.json
Labels: release, config

#1661 fix(ReportDetails): ADVISOR-2790 - resolve frontend render issues
  package-lock.json
  package.json
  packages/advisor-components/cypress/plugins/index.js
  packages/advisor-components/cypress/support/index.js
  packages/advisor-components/package.json
  packages/advisor-components/src/ReportDetails/ReportDetails.scss
  packages/advisor-components/src/ReportDetails/ReportDetails.spec.ct.js
  packages/advisor-components/src/ReportDetails/__image_snapshots__/report details kba loaded renders component and matches screenshot #0.png
  packages/components/package.json
Labels: release, advisor-components

#1667 feat: make fec compatible with monorepo setups
  packages/config/src/scripts/dev-script.js
Labels: release minor, config

#1664 Update create-crc-app to current frontend-starter-app
  package-lock.json
  packages/create-crc-app/package.json
  packages/create-crc-app/templates/.eslintrc.js
  packages/create-crc-app/templates/.eslintrc.yml
  packages/create-crc-app/templates/.gitignore
  packages/create-crc-app/templates/.stylelintrc.json
  packages/create-crc-app/templates/.travis.yml
  packages/create-crc-app/templates/ARCHITECTURE.md
  packages/create-crc-app/templates/README.md
  packages/create-crc-app/templates/babel.config.js
  packages/create-crc-app/templates/config/empty.js
  packages/create-crc-app/templates/fec.config.js
  packages/create-crc-app/templates/package.json
  packages/create-crc-app/templates/src/App.js
  packages/create-crc-app/templates/src/App.tsx
  packages/create-crc-app/templates/src/AppEntry.js
  packages/create-crc-app/templates/src/AppEntry.tsx
  packages/create-crc-app/templates/src/Components/SampleComponent/sample-component.js
  packages/create-crc-app/templates/src/Components/SampleComponent/sample-component.scss
  packages/create-crc-app/templates/src/Components/SampleComponent/sample-component.test.tsx
  packages/create-crc-app/templates/src/Components/SampleComponent/sample-component.tsx
  packages/create-crc-app/templates/src/Routes.tsx
  packages/create-crc-app/templates/src/Routes/NoPermissionsPage/NoPermissionsPage.tsx
  packages/create-crc-app/templates/src/Routes/OopsPage/OopsPage.tsx
  packages/create-crc-app/templates/src/Routes/SamplePage/SamplePage.tsx
  packages/create-crc-app/templates/src/bootstrap.tsx
  packages/create-crc-app/templates/src/entry.ts
  packages/create-crc-app/templates/src/store/index.ts
  packages/create-crc-app/templates/src/types/index.d.ts
  packages/create-crc-app/templates/tsconfig.json
Labels: release

#1668 Ensure getBasename has a return type.
  packages/utils/src/helpers/helpers.ts
Labels: release, utils, tech debt

#1669 Update ChromeAPI types.
  package-lock.json
  packages/types/index.d.ts
Labels: release, tech debt

#1670 chore: Make utils compatible with cypres 11.x
  packages/utils/package.json
Labels: dependencies, release, utils

#1673 Fix conidtion value when setting proxy env.
  packages/config/src/scripts/dev.webpack.config.js
Labels: bug, release, config

#1672 Update router migration guide.
  package-lock.json
  packages/docs/.babelrc
  packages/docs/components/navigation/components-navigation.json
  packages/docs/pages/blog/router-v6.mdx
  packages/utils/src/CypressUtils/CustomCommands.js
Labels: docs

#1674 chore: bump comfing version after manual release
  package-lock.json
  packages/config/package.json
Labels: dependencies
