Repository RedHatInsights/frontend-components, pull requests merged in 2022-12, with the labels that each got.

#1671 Wrap notifications portal with ErrorBoundary and use hooks instead of connect
  packages/components/src/ErrorBoundary/ErrorBoundary.tsx
  packages/notifications/package.json
  packages/notifications/src/NotificationPortal/NotificationPortal.test.js
  packages/notifications/src/NotificationPortal/NotificationPortal.tsx
  packages/notifications/src/NotificationPortal/__snapshots__/NotificationPortal.test.js.snap
Labels: release

#1676 Remove legacy methods from create-crc-app templates
  package-lock.json
  packages/create-crc-app/templates/src/App.tsx
Labels: release, tech debt

#1679 fix(TemplateProcessor): fix asterisk rendering in pydata
  packages/advisor-components/src/TemplateProcessor/TemplateProcessor.tsx
Labels: bug

#1677 Remove redux integration from Main component.
  packages/components/src/Main/Main.test.js
  packages/components/src/Main/Main.tsx
  packages/components/src/Main/__snapshots__/Main.test.js.snap
Labels: release, components, tech debt

#1682 Deprecate PDF generator package
  packages/pdf-generator/README.md
Labels: release

#1684 Add new custom rule to warn about deprecated imports
  packages/eslint-config/index.js
  packages/eslint-config/lib/rules/deprecated-packages.js
Labels: release
