Repository RedHatInsights/frontend-components, pull requests merged in 2022-07, with the labels that each got.

#1572 fix: Block hook from updating unmounted component
  packages/utils/src/RBACHook/RBACHook.ts
Labels: bug, release, utils

#1578 Add missing chrome event return types.
  packages/types/index.d.ts
Labels: release

#1579 Add segment analytics docs.
  packages/docs/components/navigation/components-navigation.json
  packages/docs/components/sections/sections-definition.js
  packages/docs/pages/analytics/index.mdx
Labels: docs

#1584 fix(ConditionalFilter): Remove Number casting of text filter value
  packages/components/src/ConditionalFilter/ConditionalFilter.tsx
Labels: release, components

#1583 Add help topics to chrome type
  packages/types/index.d.ts
Labels: release

#1582 InsightsLabel update & removed unused css
  package-lock.json
  package.json
  packages/components/src/BulkSelect/BulkSelect.test.js
  packages/components/src/ConditionalFilter/GroupFilter.test.js
  packages/components/src/DownloadButton/__snapshots__/DownloadButton.test.js.snap
  packages/components/src/Filters/__snapshots__/FilterInput.test.js.snap
  packages/components/src/InsightsLabel/InsightsLabel.tsx
  packages/components/src/InsightsLabel/labels.scss
  packages/components/src/LongTextTooltip/__snapshots__/LongTextTooltip.test.js.snap
  packages/components/src/PrimaryToolbar/__snapshots__/Actions.test.js.snap
  packages/components/src/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
  packages/components/src/TagModal/__snapshots__/TableWithFilter.test.js.snap
  packages/components/src/TagModal/__snapshots__/TagModal.test.js.snap
  packages/components/src/index.scss
  packages/notifications/src/NotificationPagination/__snapshots__/NotificationPagination.test.js.snap
Labels: release, components

#1587 Add external plugins to prod config
  packages/config/src/scripts/prod.webpack.config.js
Labels: release, config

#1590 Fix CVE-2022-31129
  package-lock.json
  packages/config/package.json
Labels: release, config, tech debt
