Repository RedHatInsights/frontend-components, pull requests merged in 2022-03, with the labels that each got.

#1452 Allow disable cache for RBAC hook and RBAC get perms
  packages/utils/src/RBAC/RBAC.js
  packages/utils/src/RBACHook/RBACHook.js
Labels: release

#1457 Add eager to shared dependencies
  packages/config-utils/federated-modules.js
Labels: release

#1458 Add scalprum eager fetch
  packages/config-utils/federated-modules.js
Labels: release

#1459 Allow promise as function config
  packages/config-utils/serve-federated.js
Labels: release

#1460 Proper promisify
  packages/config-utils/serve-federated.js
Labels: release

#1449 [Chore] - Updated Eslint to v8.9.0
  jest.config.js
  package-lock.json
  package.json
  packages/components/src/TreeTable/decorator.tsx
  packages/create-crc-app/bin/create-crc-app.js
  packages/create-crc-app/templates/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/eslint-config/tests/lib/rules/disallow-fec-relative-imports.test.js
Labels: release, tech debt

#1401 Migrate Filters to TypeScript
  packages/components/src/Filters/FilterDropdown.js
  packages/components/src/Filters/FilterDropdown.tsx
  packages/components/src/Filters/FilterInput.js
  packages/components/src/Filters/FilterInput.tsx
  packages/components/src/Filters/__snapshots__/FilterDropdown.test.js.snap
  packages/components/src/Filters/__snapshots__/FilterInput.test.js.snap
  packages/components/src/Filters/index.ts
Labels: components, tech debt

#1471 Add testing guidelines for AsyncComponents
  packages/docs/components/navigation/fed-navigation.json
  packages/docs/pages/fed/testing.md
Labels: docs, tech debt

#1455 Enable TS build in utils package.
  .eslintrc.js
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/Main/Main.tsx
  packages/components/src/index.ts
  packages/components/src/useChrome/index.ts
  packages/components/src/useChrome/useChrome.ts
  packages/types/index.d.ts
  packages/types/package.json
  packages/types/tsconfig.json
  packages/utils/.gitignore
  packages/utils/package.json
  packages/utils/src/RBAC/RBAC.d.ts
  packages/utils/src/RBAC/RBAC.js
  packages/utils/src/RBAC/RBAC.ts
  packages/utils/src/RBAC/index.js
  packages/utils/src/RBAC/index.ts
  packages/utils/src/RBACHook/RBACHook.d.ts
  packages/utils/src/RBACHook/RBACHook.js
  packages/utils/src/RBACHook/RBACHook.ts
  packages/utils/src/RBACHook/index.js
  packages/utils/src/RBACHook/index.ts
  packages/utils/src/RouterParams/RouterParams.js
  packages/utils/src/RouterParams/__snapshots__/RouterParams.test.js.snap
  packages/utils/src/index.ts
  packages/utils/src/interceptors/index.ts
  packages/utils/src/interceptors/interceptors.ts
  packages/utils/tsconfig.cjs.json
  packages/utils/tsconfig.json
Labels: release, tech debt

#1475 Add build script to FEC binary.
  packages/config/bin/fec.js
  packages/config/src/scripts/build-script.js
  packages/config/src/scripts/common.js
  packages/config/src/scripts/dev-script.js
Labels: release, config

#1476 Actually spawn the build child process.
  packages/config/src/scripts/build-script.js
Labels: release, config

#1474 Use typedoc from node instead of cli
  packages/docs/components/navigation/components-navigation.json
  packages/docs/generators/functions-generator.js
  packages/docs/package.json
Labels: docs, tech debt

#1477 Update follow-redirects dependency.
  package-lock.json
  packages/docs/package.json
  packages/utils/package.json
Labels: dependencies

#1478 feat: Adding ouia high order component and hook
  package-lock.json
  package.json
  packages/components/src/Ouia/Ouia.test.ts
  packages/components/src/Ouia/Ouia.ts
  packages/components/src/Ouia/WithOuia.test.tsx
  packages/components/src/Ouia/WithOuia.tsx
  packages/components/src/Ouia/index.ts
  packages/components/src/Ouia/useOuia.test.ts
  packages/components/src/Ouia/useOuia.ts
Labels: release minor, components

#1479 fix: Export ouia
  packages/components/src/index.ts
Labels: release

#1480 fix: Accept html props
  packages/components/src/Ansible/Ansible.tsx
  packages/components/src/AsyncComponent/index.tsx
  packages/components/src/Battery/Battery.tsx
  packages/components/src/Section/Section.tsx
Labels: release, components, tech debt

#1481 Add sass prefix documentaion.
  package-lock.json
  packages/docs/components/navigation/components-navigation.json
  packages/docs/components/sections/sections-definition.json
  packages/docs/pages/frontend-components-config/index.md
Labels: docs

#1484 Bump config utils.
  package-lock.json
  packages/config/README.md
  packages/config/package.json
  packages/docs/components/navigation/frontend-components-config-navigation.json
  packages/docs/pages/ui-onboarding/fec-binary.md
Labels: release, docs, config

#1485 Fix standalone entitlements 404, add error handling
  packages/config-utils/standalone/services/default/entitlements.js
Labels: bug, release, config

#1486 Bump config utils version.
  package-lock.json
  packages/config/package.json
Labels: release, config

#1487 Add help topics docs.
  packages/docs/components/navigation/quickstarts-navigation.json
  packages/docs/components/sections/sections-definition.json
  packages/docs/pages/quickstarts/help-topics.md
  packages/docs/pages/quickstarts/index.md
  packages/docs/pages/quickstarts/setup.md
Labels: docs

#1490 Add links to help topics content contribution guide.
  packages/docs/pages/quickstarts/help-topics.md
Labels: docs
