Repository RedHatInsights/frontend-components, pull requests merged in 2022-06, with the labels that each got.

#1547 Remove Dropdown props from DownloadButton that are never used
  packages/components/src/DownloadButton/DownloadButton.tsx
Labels: release, components

#1554 fix(notifications): fix type definitions
  packages/notifications/src/Portal/Portal.tsx
  packages/notifications/src/notificationsMiddleware/notificationsMiddleware.ts
Labels: bug, release, notifications

#1556 remove specific width from conditional filter
  packages/components/src/ConditionalFilter/conditional-filter.scss
Labels: bug, release, components

#1555 Update cloud services documentation.
  packages/docs/components/navigation/csc-navigation.json
  packages/docs/pages/csc/environments.mdx
  packages/docs/pages/csc/index.mdx
  packages/docs/pages/csc/local-development.md
  packages/docs/pages/csc/new-application.mdx
Labels: docs

#1558 Configure proxy to download development version of chrome.
  package-lock.json
  packages/config-utils/proxy.js
  packages/config/src/config.js
  packages/docs/pages/proxies/webpack-proxy.mdx
Labels: release, config

#1563 Convert Utils/Registry to TS
  package-lock.json
  packages/utils/src/Registry/Registry.js
  packages/utils/src/Registry/Registry.test.tsx
  packages/utils/src/Registry/Registry.ts
Labels: release, utils

#1565 Use AlertProps['variant'] to set variant type
  packages/notifications/src/Notification/Notification.tsx
  packages/notifications/src/Portal/Portal.tsx
Labels: release, notifications

#1567 Update chrome API declaration
  packages/types/index.d.ts
Labels: release

#1568 Add generic type to chrome.on function
  package-lock.json
  packages/components/src/useChrome/useChrome.ts
  packages/components/src/usePendoFeedback/usePendoFeedback.ts
  packages/types/index.d.ts
Labels: release, components

#1570 Bump TS types version of FEC
  package-lock.json
  packages/components/package.json
  packages/components/src/index.ts
  packages/types/index.d.ts
  packages/utils/package.json
  packages/utils/src/RBAC/RBAC.ts
  packages/utils/src/index.ts
Labels: release, components

#1574 Add org_id to proxy identity header
  packages/config-utils/cookieTransform.js
  packages/types/index.d.ts
Labels: release, config

#1575 Update utils config version to latest one
  package-lock.json
  packages/components/src/Main/Main.tsx
  packages/config/package.json
  packages/utils/src/RBAC/RBAC.ts
Labels: release

#1573 Update readme to remove deprecated packages
  README.md
Labels: tech debt
