Repository RedHatInsights/frontend-components, pull requests merged in 2022-01, with the labels that each got.

#1322 Add full TS support.
  .eslintrc.js
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/new_component.md
  .github/labeler.yml
  .github/workflows/approval.yml
  .github/workflows/stale.yml
  babel.config.js
  package-lock.json
  package.json
  packages/components/src/Skeleton/Skeleton.ts
  packages/demo/package.json
  packages/eslint-config/lib/rules/disallow-fec-relative-imports.js
  packages/notifications/.gitignore
  packages/notifications/package.json
  packages/notifications/src/Notification/Notification.js
  packages/notifications/src/Notification/Notification.test.tsx
  packages/notifications/src/Notification/Notification.tsx
  packages/notifications/src/Notification/__snapshots__/Notification.test.tsx.snap
  packages/notifications/src/Notification/index.ts
  packages/notifications/src/NotificationPagination/NotificationPagination.tsx
  packages/notifications/src/NotificationPagination/__snapshots__/NotificationPagination.test.js.snap
  packages/notifications/src/NotificationPagination/index.ts
  packages/notifications/src/NotificationPortal/NotificationPortal.js
  packages/notifications/src/NotificationPortal/NotificationPortal.tsx
  packages/notifications/src/NotificationPortal/__snapshots__/NotificationPortal.test.js.snap
  packages/notifications/src/NotificationPortal/index.ts
  packages/notifications/src/Portal/Portal.js
  packages/notifications/src/Portal/Portal.tsx
  packages/notifications/src/Portal/index.ts
  packages/notifications/src/index.ts
  packages/notifications/src/notificationsMiddleware/index.ts
  packages/notifications/src/notificationsMiddleware/notificationsMiddleware.ts
  packages/notifications/src/redux/actions/action-types.ts
  packages/notifications/src/redux/actions/notifications.ts
  packages/notifications/src/redux/index.ts
  packages/notifications/src/redux/reducers/notifications.js
  packages/notifications/src/redux/reducers/notifications.ts
  packages/notifications/tsconfig.cjs.json
  packages/notifications/tsconfig.json
  packages/router/src/ChromeRouter/index.d.ts
  packages/router/src/chromeRouterContext/index.d.ts
  packages/router/src/index.d.ts
  packages/router/src/useHistory/index.d.ts
  packages/router/src/useLocation/index.d.ts
  packages/router/src/useRouteMatch/index.d.ts
  scripts/build-packages.js
  scripts/build-styles.js
  scripts/transform-scss.js
  tsconfig.json
Labels: enhancement, release minor, root

#1328 Lock dev-server to 4.3.1 due to esi tags fetching issues.
  package-lock.json
  packages/config/package.json
Labels: bug, release

#1329 Add option to load chrome HTML template via proxy.
  packages/config-utils/proxy.js
  packages/config/README.md
  packages/config/src/config.js
  packages/config/src/plugins.js
Labels: bug, release, config

#1330 chore(config): bump utils version
  package-lock.json
  packages/config/package.json
Labels: release, config

#1327 Enable TS builds for components package.
  packages/components/.gitignore
  packages/components/package.json
  packages/components/src/Dark/Dark.ts
  packages/components/src/Dark/Dark.tsx
  packages/components/src/Dark/DarkContext.js
  packages/components/src/Dark/DarkContext.test.js
  packages/components/src/Dark/DarkContext.ts
  packages/components/src/Dark/configContext.js
  packages/components/src/Dark/index.d.ts
  packages/components/src/Dark/index.js
  packages/components/src/Dark/index.ts
  packages/components/src/InsightsLabel/CriticalIcon.tsx
  packages/components/src/InsightsLabel/InsightsLabel.tsx
  packages/components/src/InsightsLabel/__snapshots__/CriticalIcon.test.js.snap
  packages/components/src/InsightsLabel/index.ts
  packages/components/src/Main/Main.js
  packages/components/src/Main/Main.ts
  packages/components/src/Main/Main.tsx
  packages/components/src/Main/index.js
  packages/components/src/Main/index.ts
  packages/components/src/PageHeader/PageHeader.ts
  packages/components/src/PageHeader/PageHeader.tsx
  packages/components/src/PageHeader/PageHeaderTitle.js
  packages/components/src/PageHeader/PageHeaderTitle.tsx
  packages/components/src/PageHeader/__snapshots__/PageHeaderTitle.test.js.snap
  packages/components/src/PageHeader/index.js
  packages/components/src/PageHeader/index.ts
  packages/components/src/Section/Section.ts
  packages/components/src/Section/Section.tsx
  packages/components/src/Section/index.js
  packages/components/src/Section/index.ts
  packages/components/src/Skeleton/Skeleton.js
  packages/components/src/Skeleton/Skeleton.ts
  packages/components/src/Skeleton/Skeleton.tsx
  packages/components/src/Skeleton/index.js
  packages/components/src/Skeleton/index.ts
  packages/components/src/Spinner/Spinner.ts
  packages/components/src/Spinner/Spinner.tsx
  packages/components/src/Spinner/index.js
  packages/components/src/Spinner/index.ts
  packages/components/src/TagModal/__snapshots__/TableWithFilter.test.js.snap
  packages/components/src/index.js
  packages/components/src/index.ts
  packages/components/src/usePendoFeedback/usePendoFeedback.js
  packages/components/tsconfig.cjs.json
  packages/components/tsconfig.json
  packages/inventory-general-info/src/LoadingCard/__snapshots__/LoadingCard.test.js.snap
  packages/inventory/src/components/table/__snapshots__/EntityTableToolbar.test.js.snap
Labels: release minor, components

#1335 Updates to Separate Jest Config File
  jest.config.js
  package.json
Labels: tech debt

#1345 Typescript refactoring
  packages/components/src/InvalidObject/InvalidObject.tsx
  packages/components/src/InvalidObject/icon-404.tsx
  packages/components/src/InvalidObject/index.ts
  packages/components/src/Inventory/InventoryLoadError.tsx
  packages/components/src/Inventory/index.ts
  packages/components/src/useScreenSize/breakpoints.ts
  packages/components/src/useScreenSize/getVariant.ts
  packages/components/src/useScreenSize/index.ts
  packages/components/src/useScreenSize/isSmallScreen.js
  packages/components/src/useScreenSize/isSmallScreen.ts
  packages/components/src/useScreenSize/useScreenSize.ts
Labels: components, tech debt

#1356 Migrate BulkSelect component to TS.
  packages/components/src/BulkSelect/BulkSelect.js
  packages/components/src/BulkSelect/BulkSelect.tsx
  packages/components/src/BulkSelect/index.ts
  packages/components/src/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
Labels: components, tech debt

#1362 Add useChrome typings
  package-lock.json
  package.json
  packages/components/src/TagCount/TagCount.tsx
  packages/components/src/TagCount/index.ts
  packages/components/src/useChrome/index.ts
  packages/components/src/useChrome/useChrome.js
  packages/components/src/useChrome/useChrome.ts
  packages/components/src/usePendoFeedback/index.ts
  packages/components/src/usePendoFeedback/usePendoFeedback.ts
Labels: components, tech debt

#1369 Add default export rule from mini modules.
  .eslintrc.js
  package-lock.json
  package.json
  packages/charts/src/Pie/index.js
  packages/charts/src/SeverityLine/index.js
  packages/rule-components/src/ReportDetails/constants.js
  packages/translations/src/translatedMessages/translatedMessages.js
  packages/utils/src/RBACHook/RBACHook.js
  packages/utils/src/useInventory/useInventory.js
Labels: bug, release, utils

#1370 fix(RBAC): Export getRBAC as default
  packages/utils/src/RBAC/RBAC.js
Labels: release, utils

#1378 Add patch-etc-hosts command to FEC binary
  packages/config/README.md
  packages/config/bin/fec.js
Labels: release, config, tech debt

#1382 Fix ts issues from cost
  package-lock.json
  packages/components/package.json
  packages/components/src/Main/Main.test.js
  packages/components/src/Main/Main.tsx
  packages/components/src/Main/__snapshots__/Main.test.js.snap
  packages/components/src/Maintenance/Maintenance.tsx
  packages/components/src/Maintenance/index.ts
  packages/components/src/NotAuthorized/NotAuthorized.tsx
  packages/components/src/NotAuthorized/index.ts
  packages/components/src/PageHeader/PageHeaderTitle.tsx
Labels: bug, release, components, tech debt

#1377 Ts refactoring
  packages/components/src/DownloadButton/DownloadButton.js
  packages/components/src/DownloadButton/DownloadButton.tsx
  packages/components/src/DownloadButton/__snapshots__/DownloadButton.test.js.snap
  packages/components/src/DownloadButton/index.ts
  packages/components/src/FilterHooks/constants.tsx
  packages/components/src/FilterHooks/index.ts
  packages/components/src/FilterHooks/tagFilterHook.tsx
  packages/components/src/TreeTable/decorator.tsx
  packages/components/src/TreeTable/helpers.ts
  packages/components/src/TreeTable/index.ts
  packages/components/src/TreeTable/rowWrapper.js
  packages/components/src/TreeTable/rowWrapper.tsx
Labels: components, tech debt

#1383 Document arguments of `getUserPermissions()`
  packages/docs/pages/chrome/chrome-api.md
Labels: docs

#1385 Fix docs build
  .travis.yml
  package-lock.json
  package.json
  packages/components/src/ConditionalFilter/__snapshots__/CheckboxFilter.test.js.snap
  packages/components/src/ConditionalFilter/__snapshots__/RadioFilter.test.js.snap
  packages/components/src/DownloadButton/__snapshots__/DownloadButton.test.js.snap
  packages/components/src/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
  packages/components/src/TagModal/__snapshots__/TableWithFilter.test.js.snap
  packages/components/src/TagModal/__snapshots__/TagModal.test.js.snap
  packages/docs/package.json
  packages/inventory-general-info/src/InfoTable/__snapshots__/InfoTable.test.js.snap
  packages/inventory-general-info/src/SystemCard/__snapshots__/SystemCard.test.js.snap
  packages/inventory-general-info/src/TextInputModal/__snapshots__/TextInputModal.test.js.snap
  packages/inventory/src/components/table/Pagination.test.js
  packages/inventory/src/components/table/__snapshots__/Pagination.test.js.snap
  packages/notifications/src/NotificationPagination/__snapshots__/NotificationPagination.test.js.snap
  packages/notifications/src/NotificationPortal/__snapshots__/NotificationPortal.test.js.snap
Labels: dependencies, docs
