Repository RedHatInsights/frontend-components, pull requests merged in 2022-04, with the labels that each got.

#1496 Adding webpack documentation
  packages/docs/pages/proxies/webpack-proxy.md
  packages/docs/pages/ui-onboarding/index.md
Labels: docs

#1498 fix(skeletonTable): make columns optional
  packages/components/src/SkeletonTable/SkeletonTable.tsx
  packages/components/src/SkeletonTable/__snapshots__/SkeletonTable.test.js.snap
Labels: bug, release, components

#1494 Bounce PROD requests when not using Red Hat VPN
  package-lock.json
  packages/config-utils/package.json
  packages/config-utils/proxy.js
  packages/config/README.md
  packages/config/src/config.js
Labels: bug, release, config

#1503 Fix middleware listener array conversion.
  packages/utils/src/MiddlewareListener/MiddlewareListener.js
Labels: bug, release, utils

#1505 Update help topics documentation
  packages/docs/components/navigation/components-navigation.json
  packages/docs/pages/quickstarts/help-topics.md
Labels: docs

#1506 Use express middlewares only when bouncing prod
  packages/config-utils/proxy.js
Labels: bug, release, config

#1408 Migrate primary toolbar and all its dependencies to ts
  packages/components/src/BulkSelect/index.ts
  packages/components/src/DownloadButton/index.ts
  packages/components/src/FilterChips/FilterChips.test.js
  packages/components/src/FilterChips/FilterChips.tsx
  packages/components/src/FilterChips/index.ts
  packages/components/src/PrimaryToolbar/Actions.js
  packages/components/src/PrimaryToolbar/Actions.test.js
  packages/components/src/PrimaryToolbar/Actions.tsx
  packages/components/src/PrimaryToolbar/PrimaryToolbar.js
  packages/components/src/PrimaryToolbar/PrimaryToolbar.tsx
  packages/components/src/PrimaryToolbar/SortBy.tsx
  packages/components/src/PrimaryToolbar/__snapshots__/Actions.test.js.snap
  packages/components/src/PrimaryToolbar/__snapshots__/PrimaryToolbar.test.js.snap
  packages/components/src/PrimaryToolbar/index.ts
Labels: components, tech debt

#1500 Add define plugin to replace CRC_APP_NAME with insights.appname
  packages/config/src/plugins.js
  packages/config/src/plugins.test.js
  packages/eslint-config/index.js
Labels: release

#1512 Add has all permissions check function
  packages/utils/src/RBAC/RBAC.test.js
  packages/utils/src/RBAC/RBAC.ts
  packages/utils/src/RBACHook/RBACHook.ts
Labels: release, utils

#1513 Fix ConditionalFilter filter issues after TS migration
  packages/components/src/ConditionalFilter/CheckboxFilter.tsx
  packages/components/src/ConditionalFilter/ConditionalFilter.tsx
Labels: release, components

#1517 Fix chrom API beta type
  packages/types/index.d.ts
Labels: bug, release

#1518 Advisor components: fix the issue with rendering of view affected button
  packages/advisor-components/src/ViewAffectedLink/ViewAffectedLink.tsx
Labels: bug, release

#1520 Export ConditionalFilter types
  packages/components/src/ConditionalFilter/ConditionalFilter.tsx
  packages/components/src/ConditionalFilter/GroupFilter.tsx
  packages/components/src/ConditionalFilter/groupFilterConstants.ts
  packages/components/src/ConditionalFilter/index.ts
Labels: release, components

#1516 Add new CrtiticalRiskIcon component to the InsightsLabel
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/InsightsLabel/CriticalIcon.test.js
  packages/components/src/InsightsLabel/CriticalIcon.tsx
  packages/components/src/InsightsLabel/InsightsLabel.tsx
  packages/components/src/InsightsLabel/__snapshots__/CriticalIcon.test.js.snap
  packages/components/src/InsightsLabel/critical-icon.scss
  packages/components/src/InsightsLabel/index.ts
  packages/components/src/index.scss
Labels: release, components

#1519 Set use chrome template to true by default.
  packages/config/src/config.js
Labels: release, config

#1523 Use chrome template default in webpack plugins.
  packages/config/src/plugins.js
  packages/config/src/plugins.test.js
Labels: bug, release, config

#1522 Omit children in ErrorStateProp
  packages/components/src/ErrorState/ErrorState.tsx
Labels: release

#1525 Move define plugin out of non chrome template
  packages/config/src/plugins.js
Labels: bug, release, config

#1526 Fix docs deployment
  Dockerfile
  package-lock.json
  packages/docs/.babelrc
  packages/docs/components/navigation/components-navigation.json
  packages/docs/generators/generate-functions-md.js
  packages/docs/generators/generate-react-md.js
  packages/docs/package.json
  packages/docs/pages/csc/environments.mdx
  packages/docs/pages/csc/index.mdx
  packages/docs/pages/deployment-process/index.mdx
Labels: bug, docs

#1489 [Chore] - Migrate ReducerRegistry to TS
  packages/utils/src/ReducerRegistry/ReducerRegistry.test.ts
  packages/utils/src/ReducerRegistry/ReducerRegistry.ts
  packages/utils/src/ReducerRegistry/index.ts
Labels: release, tech debt
