Repository RedHatInsights/frontend-components, pull requests merged in 2022-05, with the labels that each got.

#1539 CVE-2022-24771
  package-lock.json
  packages/demo/package.json
Labels: dependencies

#1528 Fixing insights label styles
  packages/components/src/InsightsLabel/InsightsLabel.tsx
  packages/components/src/InsightsLabel/__snapshots__/InsightsLabel.test.js.snap
  packages/components/src/InsightsLabel/labels.scss
Labels: bug, release, components

#1540 advisor-components: Cypress component testing support
  package-lock.json
  package.json
  packages/advisor-components/.eslintrc
  packages/advisor-components/.gitignore
  packages/advisor-components/README.md
  packages/advisor-components/cypress.json
  packages/advisor-components/cypress/cypress.webpack.config.js
  packages/advisor-components/cypress/fixtures/messages.json
  packages/advisor-components/cypress/fixtures/rule.json
  packages/advisor-components/cypress/plugins/index.js
  packages/advisor-components/cypress/support/commands.js
  packages/advisor-components/cypress/support/index.js
  packages/advisor-components/package.json
  packages/advisor-components/src/RuleDescription/RuleDescription.tsx
  packages/advisor-components/src/RuleDetails/RuleDetails.spec.ct.js
  packages/advisor-components/src/RuleDetails/RuleDetails.tsx
  packages/advisor-components/src/RuleRating/RuleRating.tsx
  packages/advisor-components/src/types.ts
  packages/advisor-components/tsconfig.json
Labels: advisor-components

#1545 Add ErrorBoundary page
  packages/components/src/ErrorBoundary/ErrorBoundary.scss
  packages/components/src/ErrorBoundary/ErrorBoundary.test.tsx
  packages/components/src/ErrorBoundary/ErrorBoundary.tsx
  packages/components/src/ErrorBoundary/ErrorStack.tsx
  packages/components/src/ErrorBoundary/index.ts
  packages/components/src/index.scss
  packages/components/src/index.ts
Labels: release minor, components

#1549 Migrate TagModal and TableWithFilter components to TS
  .travis.yml
  package-lock.json
  package.json
  packages/components/src/BulkSelect/BulkSelect.tsx
  packages/components/src/ConditionalFilter/ConditionalFilter.tsx
  packages/components/src/PrimaryToolbar/PrimaryToolbar.tsx
  packages/components/src/TagModal/TableWithFilter.tsx
  packages/components/src/TagModal/TagModal.js
  packages/components/src/TagModal/TagModal.tsx
  packages/components/src/TagModal/__snapshots__/TableWithFilter.test.js.snap
  packages/components/src/TagModal/__snapshots__/TagModal.test.js.snap
  packages/components/src/TagModal/index.ts
Labels: components, tech debt

#1550 Add ReportDetails component to the advisor-components library
  README.md
  package-lock.json
  packages/advisor-components/README.md
  packages/advisor-components/cypress/fixtures/report.json
  packages/advisor-components/doc/reportDetails.md
  packages/advisor-components/doc/ruleDetails.md
  packages/advisor-components/package.json
  packages/advisor-components/src/ReportDetails/ReportDetails.scss
  packages/advisor-components/src/ReportDetails/ReportDetails.spec.ct.js
  packages/advisor-components/src/ReportDetails/ReportDetails.tsx
  packages/advisor-components/src/ReportDetails/index.ts
  packages/advisor-components/src/TemplateProcessor/TemplateProcessor.tsx
  packages/advisor-components/src/TemplateProcessor/index.ts
  packages/advisor-components/src/common.tsx
  packages/advisor-components/src/index.ts
  packages/advisor-components/src/types.ts
Labels: release, advisor-components
