Repository RedHatInsights/frontend-components, pull requests merged in 2022-02, with the labels that each got.

#1386 Wrap inventory components with inventory clasName
  packages/components/src/Inventory/AppInfo.js
  packages/components/src/Inventory/DetailWrapper.js
  packages/components/src/Inventory/InventoryDetail.js
  packages/components/src/Inventory/InventoryDetailHead.js
  packages/components/src/Inventory/InventoryTable.js
  packages/components/src/Inventory/TagWithDialog.js
Labels: release

#1384 Add dev scripts to fec binary
  .eslintignore
  .eslintrc.js
  jest.config.js
  package-lock.json
  package.json
  packages/config/bin/fec.js
  packages/config/index.js
  packages/config/package.json
  packages/config/src/scripts/common.js
  packages/config/src/scripts/csc-interceptor-server.js
  packages/config/src/scripts/dev-script.js
  packages/config/src/scripts/dev.webpack.config.js
  packages/config/src/scripts/empty.js
  packages/config/src/scripts/prod.webpack.config.js
  packages/config/src/scripts/webpack.plugins.js
  packages/create-crc-app/bin/create-crc-app.js
  packages/create-crc-app/package.json
  packages/create-crc-app/templates/.eslintignore
  packages/create-crc-app/templates/.eslintrc.yml
  packages/create-crc-app/templates/.gitignore
  packages/create-crc-app/templates/.travis.yml
  packages/create-crc-app/templates/LICENSE
  packages/create-crc-app/templates/README.md
  packages/create-crc-app/templates/babel.config.js
  packages/create-crc-app/templates/config/jest.setup.js
  packages/create-crc-app/templates/deploy/frontend.yaml
  packages/create-crc-app/templates/fec.config.js
  packages/create-crc-app/templates/jest.config.js
  packages/create-crc-app/templates/package.json
  packages/create-crc-app/templates/src/App.js
  packages/create-crc-app/templates/src/App.scss
  packages/create-crc-app/templates/src/AppEntry.js
  packages/create-crc-app/templates/src/Components/SampleComponent/sample-component.js
  packages/create-crc-app/templates/src/Components/SampleComponent/sample-component.test.js
  packages/create-crc-app/templates/src/Routes.js
  packages/create-crc-app/templates/src/Routes/NoPermissionsPage/NoPermissionsPage.js
  packages/create-crc-app/templates/src/Routes/OopsPage/OopsPage.js
  packages/create-crc-app/templates/src/Routes/SamplePage/SamplePage.js
  packages/create-crc-app/templates/src/bootstrap.js
  packages/create-crc-app/templates/src/entry.js
  packages/create-crc-app/templates/src/index.html
  packages/docs/components/navigation/navigation-mapper.js
  packages/docs/components/navigation/ui-onboarding-navigation.js
  packages/docs/components/navigation/ui-onboarding-navigation.json
  packages/docs/components/sections/sections-definition.json
  packages/docs/package.json
  packages/docs/pages/ui-onboarding/create-crc-app.md
  packages/docs/pages/ui-onboarding/fec-binary.md
  packages/docs/pages/ui-onboarding/index.md
Labels: release minor, config

#1391 Downgrade chalk to v4
  package-lock.json
  packages/config/package.json
  packages/create-crc-app/package.json
Labels: bug, release, config

#1390 Transfer culling info to TS
  packages/components/src/CullingInfo/CullingInformation.js
  packages/components/src/CullingInfo/CullingInformation.tsx
  packages/components/src/CullingInfo/index.ts
  packages/components/src/CullingInfo/utils.ts
Labels: release

#1400 Add prop to disable bulk expand button in primary toolbar
  packages/components/src/PrimaryToolbar/PrimaryToolbar.js
Labels: release minor, components

#1409 Update create-crc-app dependencis
  packages/create-crc-app/bin/create-crc-app.js
  packages/create-crc-app/templates/package.json
Labels: bug, release

#1416 port over platex docs
  packages/docs/pages/platform-experience/communication.md
  packages/docs/pages/platform-experience/deploy-key.md
  packages/docs/pages/platform-experience/dev-flow.md
  packages/docs/pages/platform-experience/index.md
  packages/docs/pages/platform-experience/task-tracking.md
Labels: docs

#1411 Fix docs proptypes generator for TSX files.
  packages/docs/components/navigation/components-navigation.json
  packages/docs/generators/docgen.babelrc
  packages/docs/generators/docgen.js
  packages/docs/generators/generate-react-md.js
  packages/docs/generators/react-docgen-fc-handler.js
Labels: docs

#1420 Bump config utils version.
  package-lock.json
  packages/config/package.json
Labels: release, config

#1423 fix(docker): Use volume for docs node_volumes
  docker-compose.yml
Labels: docs

#1427 Use tsc directly instead of npx tsc, this way we are not vulnerable
  package-lock.json
  package.json
  packages/components/package.json
  packages/notifications/package.json
Labels: tech debt

#1424 Setup typedoc for generating docs from TS functions.
  package-lock.json
  packages/components/src/useChrome/useChrome.ts
  packages/docs/.gitignore
  packages/docs/components/layout/mdx-provider-components.js
  packages/docs/components/navigation/components-navigation.json
  packages/docs/generators/docs-generator.js
  packages/docs/generators/functions-generator.js
  packages/docs/generators/generate-ts-functions-md.js
  packages/docs/package.json
Labels: docs

#1429 fix class name typo
  packages/components/src/InvalidObject/InvalidObject.tsx
  packages/components/src/InvalidObject/__snapshots__/InvalidObject.test.js.snap
  packages/components/src/InvalidObject/invalidObject.scss
Labels: bug, release, components

#1439 Ts migration
  package-lock.json
  packages/components/src/Ansible/Ansible.tsx
  packages/components/src/Ansible/__snapshots__/Ansible.test.js.snap
  packages/components/src/Ansible/index.ts
  packages/components/src/Breadcrumbs/Breadcrumbs.tsx
  packages/components/src/Breadcrumbs/ConnectedBreadcrumbs.tsx
  packages/components/src/Breadcrumbs/index.ts
  packages/components/src/EmptyTable/EmptyTable.tsx
  packages/components/src/EmptyTable/index.js
  packages/components/src/EmptyTable/index.ts
  packages/components/src/Pagination/Pagination.js
  packages/components/src/Pagination/Pagination.tsx
  packages/components/src/Pagination/PaginationMenu.js
  packages/components/src/Pagination/PaginationMenu.tsx
  packages/components/src/Pagination/PaginationNav.tsx
  packages/components/src/Pagination/PaginationNext.js
  packages/components/src/Pagination/PaginationNext.tsx
  packages/components/src/Pagination/__snapshots__/Pagination.test.js.snap
  packages/components/src/Pagination/index.ts
  packages/components/src/Skeleton/Skeleton.tsx
  packages/components/src/SkeletonTable/SkeletonTable.js
  packages/components/src/SkeletonTable/SkeletonTable.tsx
  packages/components/src/SkeletonTable/__snapshots__/SkeletonTable.test.js.snap
  packages/components/src/SkeletonTable/index.ts
  packages/components/src/TabLayout/TabLayout.tsx
  packages/components/src/TabLayout/index.ts
  packages/components/src/TableToolbar/TableToolbar.tsx
  packages/components/src/TableToolbar/__snapshots__/TableToolbar.test.js.snap
  packages/components/src/TableToolbar/index.js
  packages/components/src/TableToolbar/index.ts
  packages/components/src/TagModal/__snapshots__/TableWithFilter.test.js.snap
  packages/components/src/Truncate/index.ts
  packages/inventory-general-info/src/InfoTable/__snapshots__/InfoTable.test.js.snap
  packages/inventory/src/components/table/__snapshots__/EntityTable.test.js.snap
Labels: components, tech debt

#1446 Transform CSS import path for ESM modules build by TS.
  scripts/transform-scss.js
Labels: bug, root

#1447 Convert Unavailable component to TS
  packages/components/src/Unavailable/Unavailable.tsx
  packages/components/src/Unavailable/index.ts
Labels: release, components, tech debt

#1448 Mark css and scss as sideEffects
  packages/components/package.json
  packages/pdf-generator/package.json
  packages/router/package.json
  packages/rule-components/package.json
  packages/testing/package.json
Labels: bug, release, root

#1450 Add PF styling to list and paragraph
  packages/docs/components/layout/mdx-provider-components.js
  packages/docs/pages/platform-experience/deploy-key.md
Labels: docs
