Repository RedHatInsights/frontend-components, pull requests merged in 2023-03, with the labels that each got.

#1717 Scalprum version
  package-lock.json
  packages/components/package.json
  packages/remediations/package.json
Labels: release

#1716 Add bundle visited client to chrome.
  package-lock.json
  packages/chrome/package.json
  packages/chrome/src/ChromeContext/ChromeContext.ts
  packages/chrome/src/ChromeProvider/ChromeProvider.test.tsx
  packages/chrome/src/ChromeProvider/ChromeProvider.tsx
  packages/chrome/src/ChromeProvider/chromeState.test.ts
  packages/chrome/src/ChromeProvider/chromeState.ts
  packages/chrome/src/ChromeProvider/index.ts
  packages/chrome/src/index.ts
  packages/chrome/src/useFavoritePages/useFavoritePages.test.tsx
  packages/chrome/src/useVisitedBundles/index.ts
  packages/chrome/src/useVisitedBundles/useVisitedBundles.test.tsx
  packages/chrome/src/useVisitedBundles/useVisitedBundles.ts
  packages/chrome/src/utils/fetch.ts
Labels: release

#1718 Use symbols as chrome subscription ids.
  package-lock.json
  packages/chrome/src/ChromeContext/ChromeContext.ts
  packages/chrome/src/ChromeProvider/chromeState.test.ts
  packages/chrome/src/ChromeProvider/chromeState.ts
Labels: release

#1719 Handle chrome fetch API errors.
  packages/chrome/src/ChromeProvider/ChromeProvider.test.tsx
  packages/chrome/src/ChromeProvider/ChromeProvider.tsx
  packages/chrome/src/utils/fetch.test.ts
  packages/chrome/src/utils/fetch.ts
Labels: release, tech debt

#1720 Bump scalprum/core package version.
  package-lock.json
  packages/components/package.json
Labels: bug, release

#1721 Add initialize flag to chrome state.
  package-lock.json
  packages/chrome/src/ChromeContext/ChromeContext.ts
  packages/chrome/src/ChromeProvider/chromeState.ts
  packages/chrome/src/useFavoritePages/useFavoritePages.ts
  packages/chrome/src/useVisitedBundles/useVisitedBundles.test.tsx
  packages/chrome/src/useVisitedBundles/useVisitedBundles.ts
Labels: release

#1723 chore(RHIF-180): add sentry and hotjar classes to description
  packages/notifications/src/Notification/Notification.tsx
  packages/notifications/src/Notification/__snapshots__/Notification.test.tsx.snap
  packages/notifications/src/NotificationPortal/__snapshots__/NotificationPortal.test.js.snap
Labels: release, notifications

#1725 Add debugger API functions
  packages/types/index.d.ts
Labels: release

#1727 Relax react version requirements.
  package-lock.json
  packages/advisor-components/package.json
  packages/charts/package.json
  packages/components/package.json
  packages/notifications/package.json
  packages/remediations/package.json
  packages/translations/package.json
  packages/utils/package.json
Labels: release, tech debt

#1728 Bump scalprum dependencies.
  package-lock.json
  packages/components/package.json
  packages/pdf-generator/package.json
Labels: dependencies, release

#1729 Allow preview in get basename function.
  package-lock.json
  packages/utils/src/helpers/helpers.test.ts
  packages/utils/src/helpers/helpers.ts
Labels: release

#1726 Add eslint rule for chromeAPI call
  jest.config.js
  packages/eslint-config/index.js
  packages/eslint-config/lib/rules/no-chrome-api-call-from-window.js
  packages/utils/src/interceptors/interceptors.ts
Labels: release minor

#1731 Bump config utils
  package-lock.json
  packages/config/package.json
  packages/config/src/config.js
Labels: release

#1732 Fix search styles warning condition.
  packages/config-utils/search-ignored-styles.js
Labels: bug, release

#1733 Bump config utils.
  package-lock.json
  packages/config/package.json
Labels: bug, release
