Repository RedHatInsights/frontend-components, pull requests merged in 2023-07, with the labels that each got.

#1769 chore(deps): updating webpack due to cve
  package-lock.json
  packages/config/package.json
Labels: release

#1774 Pass topics and "affected" link as react node
  packages/advisor-components/src/RuleDetails/RuleDetails.scss
  packages/advisor-components/src/RuleDetails/RuleDetails.tsx
  packages/advisor-components/src/ViewAffectedLink/ViewAffectedLink.tsx
Labels: release, advisor-components

#1775 ESSNTL-920 Last seen color does not meet color contrast
  packages/components/src/CullingInfo/CullingInformation.scss
Labels: release

#1776 feat(proxy): RHIF-268 - Add local app route feature
  packages/config-utils/proxy.js
  packages/config/README.md
Labels: release minor

#1785 fix: the --uiEnv arg is assigned incorrectly in fec dev
  packages/config/src/scripts/dev-script.js
Labels: bug, release
