Repository RedHatInsights/frontend-components, pull requests merged in 2023-11, with the labels that each got.

#1930 Throttle last visited calls.
  package-lock.json
  packages/chrome/package.json
  packages/chrome/src/ChromeProvider/ChromeProvider.test.tsx
  packages/chrome/src/ChromeProvider/ChromeProvider.tsx
  packages/chrome/src/ChromeProvider/chromeState.test.ts
Labels: release

#1934 Switch last visited to localstorage.
  package-lock.json
  packages/chrome/src/ChromeProvider/ChromeProvider.test.tsx
  packages/chrome/src/ChromeProvider/ChromeProvider.tsx
Labels: release

#1935 Remove LongTextTooltip component
  package-lock.json
  packages/components/README.md
  packages/components/doc/longTextTooltip.md
  packages/components/package.json
  packages/components/src/DownloadButton/__snapshots__/DownloadButton.test.js.snap
  packages/components/src/LongTextTooltip/LongTextTooltip.tsx
  packages/components/src/LongTextTooltip/index.ts
  packages/components/src/PrimaryToolbar/__snapshots__/Actions.test.js.snap
  packages/components/src/TagModal/__snapshots__/TagModal.test.js.snap
  packages/components/src/index.ts
  packages/docs/components/navigation/components-navigation.json
  packages/docs/pages/fec/modules/components/LongTextTooltip.mdx
  packages/notifications/src/Notification/__snapshots__/Notification.test.tsx.snap
  packages/notifications/src/NotificationPortal/__snapshots__/NotificationPortal.test.js.snap
Labels: release minor

#1938 Reexport remaining components from PF
  package-lock.json
  packages/components/package.json
  packages/components/src/DateFormat/DateFormat.tsx
  packages/components/src/ErrorState/DefaultErrorMessage.tsx
  packages/components/src/InvalidObject/InvalidObject.test.js
  packages/components/src/InvalidObject/InvalidObject.tsx
  packages/components/src/InvalidObject/__snapshots__/InvalidObject.test.js.snap
  packages/components/src/InvalidObject/icon-404.scss
  packages/components/src/InvalidObject/icon-404.tsx
  packages/components/src/InvalidObject/index.ts
  packages/components/src/InvalidObject/invalidObject.scss
  packages/components/src/SkeletonTable/SkeletonTable.scss
  packages/components/src/SkeletonTable/SkeletonTable.test.js
  packages/components/src/SkeletonTable/SkeletonTable.tsx
  packages/components/src/SkeletonTable/__snapshots__/SkeletonTable.test.js.snap
  packages/components/src/SkeletonTable/index.ts
  packages/components/src/TagCount/TagCount.test.js
  packages/components/src/TagCount/TagCount.tsx
  packages/components/src/TagCount/__snapshots__/TagCount.test.js.snap
  packages/components/src/TagCount/index.ts
  packages/components/src/TagCount/tagCount.scss
  packages/components/src/Truncate/Truncate.tsx
  packages/components/src/Unavailable/Unavailable.scss
  packages/components/src/Unavailable/Unavailable.test.js
  packages/components/src/Unavailable/Unavailable.tsx
  packages/components/src/Unavailable/__snapshots__/Unavailable.test.js.snap
  packages/components/src/Unavailable/index.ts
  packages/components/src/index.scss
  packages/docs/components/navigation/components-navigation.json
Labels: release minor, components

#1933 fix(config-utils): Also check env for BETA to choose deployment
  packages/config/src/lib/index.ts
Labels: bug, release
