Repository RedHatInsights/frontend-components, pull requests merged in 2023-01, with the labels that each got.

#1686 Open http server for static on all interfaces
  packages/config-utils/serve-federated.js
  packages/config/bin/fec.js
Labels: release

#1687 Trigger components release
  packages/components/README.md
Labels: release, components

#1693 Disbale RH fonts when rendering PDFs
  package-lock.json
  packages/pdf-generator/package.json
  packages/pdf-generator/rollup.config.js
  packages/pdf-generator/src/utils/styles.js
Labels: release

#1695 Use getThemeColors instead of getLightThemeColors
  packages/pdf-generator/src/components/Chart.js
Labels: release

#1696 Use latest config utils in config package
  package-lock.json
  packages/config/package.json
Labels: release

#1692 Chrome package
  jest.config.js
  package-lock.json
  package.json
  packages/chrome/.gitignore
  packages/chrome/.npmignore
  packages/chrome/README.md
  packages/chrome/package.json
  packages/chrome/src/ChromeContext/ChromeContext.ts
  packages/chrome/src/ChromeContext/index.ts
  packages/chrome/src/ChromeProvider/ChromeProvider.test.tsx
  packages/chrome/src/ChromeProvider/ChromeProvider.tsx
  packages/chrome/src/ChromeProvider/__mocks__/@unleash/proxy-client-react.js
  packages/chrome/src/ChromeProvider/chromeState.test.ts
  packages/chrome/src/ChromeProvider/chromeState.ts
  packages/chrome/src/ChromeProvider/index.ts
  packages/chrome/src/index.ts
  packages/chrome/src/useLastVisited/index.ts
  packages/chrome/src/useLastVisited/useLastVisited.ts
  packages/chrome/src/utils/fetch.test.ts
  packages/chrome/src/utils/fetch.ts
  packages/chrome/tsconfig.cjs.json
  packages/chrome/tsconfig.json
Labels: release

#1697 Clearable text input in group filter
  packages/components/src/ConditionalFilter/GroupFilter.tsx
  packages/components/src/ConditionalFilter/conditional-filter.scss
  packages/components/src/ConditionalFilter/group-filter.scss
Labels: release

#1698 Pin charts version so pdf generator works correctly
  package-lock.json
  packages/pdf-generator/package.json
  packages/pdf-generator/src/components/Chart.js
Labels: release

#1699 chore(deps): updating range for cypress versions
  package-lock.json
  packages/utils/package.json
Labels: release

#1701 Copy PF's chart theme utilities since they no longer support it
  packages/pdf-generator/src/components/Chart.js
  packages/pdf-generator/src/utils/theme/chartTheme.js
  packages/pdf-generator/src/utils/theme/themes/axis-theme.js
  packages/pdf-generator/src/utils/theme/themes/base-theme.js
  packages/pdf-generator/src/utils/theme/themes/bullet-theme.js
  packages/pdf-generator/src/utils/theme/themes/color-theme.js
  packages/pdf-generator/src/utils/theme/themes/dark/blue-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/dark/cyan-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/dark/gold-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/dark/gray-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/dark/green-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/dark/multi-color-ordered-theme.js
  packages/pdf-generator/src/utils/theme/themes/dark/multi-color-unordered-theme.js
  packages/pdf-generator/src/utils/theme/themes/dark/orange-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/dark/purple-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/donut-theme.js
  packages/pdf-generator/src/utils/theme/themes/donut-threshold-theme.js
  packages/pdf-generator/src/utils/theme/themes/donut-utilization-theme.js
  packages/pdf-generator/src/utils/theme/themes/light/blue-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/light/cyan-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/light/gold-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/light/gray-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/light/green-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/light/multi-color-ordered-theme.js
  packages/pdf-generator/src/utils/theme/themes/light/multi-color-unordered-theme.js
  packages/pdf-generator/src/utils/theme/themes/light/orange-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/light/purple-color-theme.js
  packages/pdf-generator/src/utils/theme/themes/threshold-theme.js
  packages/pdf-generator/src/utils/theme/utils.js
Labels: release

#1700 feat: make fec build compatible with monorepo setups
  packages/config/src/scripts/build-script.js
  packages/config/src/scripts/dev-script.js
Labels: release

#1703 Bump latest config-utils in config package
  package-lock.json
  packages/config/package.json
Labels: release

#1702 Add favorite pages client.
  packages/chrome/src/ChromeContext/ChromeContext.ts
  packages/chrome/src/ChromeProvider/ChromeProvider.test.tsx
  packages/chrome/src/ChromeProvider/ChromeProvider.tsx
  packages/chrome/src/ChromeProvider/chromeState.test.ts
  packages/chrome/src/ChromeProvider/chromeState.ts
  packages/chrome/src/ChromeProvider/index.ts
  packages/chrome/src/index.ts
  packages/chrome/src/useFavoritePages/index.ts
  packages/chrome/src/useFavoritePages/useFavoritePages.test.tsx
  packages/chrome/src/useFavoritePages/useFavoritePages.ts
  packages/chrome/src/utils/fetch.ts
Labels: release

#1704 Advisor trigger
  packages/advisor-components/README.md
Labels: release

#1705 Start collection bundle string for last visited pages.
  packages/chrome/src/ChromeProvider/ChromeProvider.test.tsx
  packages/chrome/src/ChromeProvider/ChromeProvider.tsx
  packages/chrome/src/ChromeProvider/chromeState.test.ts
  packages/chrome/src/ChromeProvider/chromeState.ts
Labels: release

#1706 Add chrome package to singleton modules.
  packages/config-utils/federated-modules.js
Labels: release

#1708 Bump config utils version.
  package-lock.json
  packages/config/package.json
Labels: dependencies, release
