Repository RedHatInsights/frontend-components, pull requests merged in 2023-04, with the labels that each got.

#1735 Add getBundleData to chrome API
  packages/types/index.d.ts
Labels: release

#1736 add enablePackagesDebug type into ChromApi type
  packages/types/index.d.ts
Labels: release

#1734 feat(utils/interceptors): Provide axios interceptors via hook
  packages/utils/src/interceptors/interceptors.test.js
  packages/utils/src/interceptors/interceptors.ts
Labels: release minor

#1737 Update chrome API types.
  packages/types/index.d.ts
Labels: release

#1741 fix(OCPADVISOR-82): Fix the "view affected clusters" link
  packages/advisor-components/src/ViewAffectedLink/ViewAffectedLink.tsx
Labels: bug, release

#1742 Fix GroupFilter styling on inputs
  packages/components/src/ConditionalFilter/group-filter.scss
Labels: bug, release
