Repository RedHatInsights/frontend-components, pull requests merged in 2023-10, with the labels that each got.

#1920 Update Chrome auth types
  packages/types/index.d.ts
Labels: release

#1919 Deprecate and reexport Ansible component from PF
  package-lock.json
  packages/components/package.json
  packages/components/src/Ansible/Ansible.test.js
  packages/components/src/Ansible/Ansible.tsx
  packages/components/src/Ansible/__snapshots__/Ansible.test.js.snap
  packages/components/src/Ansible/ansible.scss
  packages/components/src/index.scss
Labels: release, components

#1923 Bump scalprum versions.
  package-lock.json
  packages/components/package.json
  packages/pdf-generator/package.json
Labels: bug, release

#1922 Reexport LongTextTooltip component from PF
  package-lock.json
  packages/components/src/Ansible/index.ts
  packages/components/src/Battery/index.ts
  packages/components/src/ErrorBoundary/index.ts
  packages/components/src/ErrorState/index.ts
  packages/components/src/LongTextTooltip/LongTextTooltip.test.js
  packages/components/src/LongTextTooltip/LongTextTooltip.tsx
  packages/components/src/LongTextTooltip/__snapshots__/LongTextTooltip.test.js.snap
  packages/components/src/LongTextTooltip/index.ts
  packages/components/src/NotAuthorized/index.ts
Labels: release, components

#1926 bump-scalprum
  jest.config.js
  package-lock.json
  packages/components/package.json
  packages/create-crc-app/templates/jest.config.js
  packages/pdf-generator/package.json
Labels: dependencies, release

#1921 Fix visited pages title values.
  config/setupTests.js
  package-lock.json
  package.json
  packages/chrome/package.json
  packages/chrome/src/ChromeProvider/ChromeProvider.test.tsx
  packages/chrome/src/ChromeProvider/ChromeProvider.tsx
Labels: bug, release
