Repository RedHatInsights/frontend-components, pull requests merged in 2023-09, with the labels that each got.

#1903 Fix broken link in NotConnected empty state
  packages/components/src/NotConnected/NotConnected.tsx
  packages/components/src/NotConnected/__snapshots__/NotConnected.test.js.snap
Labels: release

#1905 Remove internal checkbox filter state.
  package-lock.json
  packages/components/src/ConditionalFilter/CheckboxFilter.test.js
  packages/components/src/ConditionalFilter/CheckboxFilter.tsx
Labels: bug, release

#1907 chore(deps): updating cypress version range
  package-lock.json
  packages/utils/package.json
Labels: dependencies, release

#1909 Fix serve federated prod config path.
  packages/config-utils/src/serve-federated.ts
Labels: bug, release

#1911 Use optional chaining when checking PF versions.
  packages/config-utils/src/generate-pf-shared-assets-list.ts
Labels: bug, release

#1912 Fix missing optional chaining in FEC shared config.
  package-lock.json
  packages/config/package.json
  packages/config/src/bin/webpack.plugins.ts
Labels: bug, release

#1914 Make rulesdir/forbid-pf-relative-imports warning by default.
  packages/eslint-config/index.js
Labels: release

#1915 Fix imports from 'react-component-groups'
  package-lock.json
  packages/components/package.json
  packages/components/src/Battery/Battery.tsx
  packages/components/src/Battery/CriticalBattery.tsx
  packages/components/src/Battery/HighBattery.tsx
  packages/components/src/Battery/LowBattery.tsx
  packages/components/src/Battery/MediumBattery.tsx
  packages/components/src/Battery/NullBattery.tsx
  packages/components/src/ErrorBoundary/ErrorBoundary.tsx
  packages/components/src/ErrorState/ErrorState.tsx
  packages/components/src/NotAuthorized/NotAuthorized.tsx
  packages/notifications/src/NotificationPortal/__snapshots__/NotificationPortal.test.js.snap
Labels: release, components

#1917 Update components version for notifications
  package-lock.json
  packages/notifications/package.json
Labels: release

#1916 release types to include getRefreshToken
  packages/types/index.d.ts
Labels: release
