Repository RedHatInsights/frontend-components, pull requests merged in 2023-06, with the labels that each got.

#1753 feat: Add Open Source Badge component
  packages/components/doc/openSourceBadge.md
  packages/components/src/OpenSourceBadge/OpenSourceBadge.test.js
  packages/components/src/OpenSourceBadge/OpenSourceBadge.tsx
  packages/components/src/OpenSourceBadge/__snapshots__/OpenSourceBadge.test.js.snap
  packages/components/src/OpenSourceBadge/index.ts
  packages/components/src/index.ts
  redhat-cloud-services-frontend-components-root-0.0.1.tgz
Labels: release

#1754 Bump types dependency.
  package-lock.json
  packages/components/package.json
  packages/utils/package.json
Labels: release

#1755 fix(advisor-3041): fix report details again
  packages/advisor-components/src/ReportDetails/ReportDetails.tsx
Labels: release

#1756 chore(deps): add missing sanizite html
  package-lock.json
  packages/advisor-components/package.json
Labels: release

#1759 Maybe don't put tgz files in the repo, k
  .gitignore
  redhat-cloud-services-frontend-components-root-0.0.1.tgz
Labels: release

#1761 Use content hash for JS chunks.
  packages/config-utils/federated-modules.js
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: release

#1763 feat(RHIF-258): Support resource definitions in RBACHook
  packages/components/src/RBACProvider/RBACProvider.tsx
  packages/utils/README.md
  packages/utils/doc/RBAC.md
  packages/utils/doc/rbac-flow.svg
  packages/utils/src/RBAC/RBAC.test.js
  packages/utils/src/RBAC/RBAC.ts
  packages/utils/src/RBACHook/RBACHook.ts
Labels: release minor, utils

#1768 fix(RHINENG-956): Fix the react router link for affected entities
  package-lock.json
  packages/advisor-components/src/ViewAffectedLink/ViewAffectedLink.tsx
Labels: release, advisor-components

#1770 Revert "Use content hash for JS chunks."
  packages/config-utils/federated-modules.js
  packages/config/src/config.js
  packages/config/src/config.test.js
Labels: release

#1771 Use version 2.0.3 of config utilities in config
  packages/config/package.json
Labels: release

#1772 chore(InsightsLink): Add documentation & minor fixes and improvements
  packages/components/doc/insights_link.md
  packages/components/src/InsightsLink/InsightsLink.test.js
  packages/components/src/InsightsLink/InsightsLink.tsx
  packages/components/src/InsightsLink/__snapshots__/InsightsLink.test.js.snap
  packages/utils/doc/useInsightsNavigate.md
  packages/utils/src/helpers/urlPathHelpers.test.js
  packages/utils/src/helpers/urlPathHelpers.ts
  packages/utils/src/useInsightsNavigate/useInsightsNavigate.test.js
  packages/utils/src/useInsightsNavigate/useInsightsNavigate.ts
Labels: release
