Repository RedHatInsights/frontend-components, pull requests merged in 2023-08, with the labels that each got.

#1757 fix(advisor-3041): fixing external link crash
  packages/advisor-components/src/ReportDetails/ReportDetails.tsx
  packages/advisor-components/src/common.tsx
Labels: release

#1885 fix: Override resourceDefinitions within RBACContext
  packages/components/src/RBACProvider/RBACProvider.tsx
  packages/utils/src/RBAC/RBAC.ts
  packages/utils/src/RBACHook/RBACHook.ts
Labels: release, components, utils

#1886 fix: Fix usage of null values in RBAC RDs
  packages/utils/src/RBAC/RBAC.ts
Labels: utils

#1900 fix: Fix always loading RBACProvider on empty appName
  packages/components/src/RBACProvider/RBACProvider.tsx
Labels: bug, release

#1901 Remove setState call from ErrorBoundary render function.
  package-lock.json
  packages/components/src/ErrorBoundary/ErrorBoundary.tsx
Labels: release

#1764 Reexport components already migrated to PF
  package-lock.json
  packages/components/package.json
  packages/components/src/Battery/Batery.test.js
  packages/components/src/Battery/Battery.tsx
  packages/components/src/Battery/CriticalBattery.tsx
  packages/components/src/Battery/HighBattery.tsx
  packages/components/src/Battery/LowBattery.tsx
  packages/components/src/Battery/MediumBattery.tsx
  packages/components/src/Battery/NullBattery.tsx
  packages/components/src/Battery/__snapshots__/Batery.test.js.snap
  packages/components/src/Battery/battery.scss
  packages/components/src/ErrorBoundary/ErrorBoundary.scss
  packages/components/src/ErrorBoundary/ErrorBoundary.test.tsx
  packages/components/src/ErrorBoundary/ErrorBoundary.tsx
  packages/components/src/ErrorBoundary/ErrorStack.tsx
  packages/components/src/ErrorState/ErrorState.tsx
  packages/components/src/ErrorState/error-state.scss
  packages/components/src/NotAuthorized/NotAuthorized.test.js
  packages/components/src/NotAuthorized/NotAuthorized.tsx
  packages/components/src/NotAuthorized/__snapshots__/NotAuthorized.test.js.snap
  packages/components/src/index.scss
  packages/eslint-config/index.js
  packages/eslint-config/lib/rules/disallow-pf-migrated-components.js
  packages/notifications/src/NotificationPortal/__snapshots__/NotificationPortal.test.js.snap
Labels: release
