Repository RedHatInsights/frontend-components, pull requests merged in 2024-10, with the labels that each got.

#2070 replace deprecated onSetupMiddleware proxy confing
  packages/config-utils/src/proxy.ts
  packages/config/src/lib/config.test.js
Labels: dependencies, release

#2071 Allow spdy to be used as webpack dev server.
  package-lock.json
  packages/config/package.json
  packages/config/src/bin/dev-script.ts
  packages/config/src/bin/dev.webpack.config.ts
  packages/config/src/lib/config.test.js
  packages/config/src/lib/createConfig.ts
  packages/config/src/lib/createPlugins.ts
  packages/config/src/lib/index.ts
Labels: dependencies, release minor

#2073 Bump sanitize-html package.
  package-lock.json
  package.json
  packages/advisor-components/package.json
  packages/components/package.json
  packages/rule-components/package.json
Labels: dependencies, release

#2076 fix: typo in version check
  packages/config-utils/src/federated-modules.ts
Labels: release

#2078 Fix bad Origin header in the dev proxy
  packages/config-utils/src/proxy.ts
Labels: bug, release

#2085 fix(RHINENG-8333): correct ouia-type empty state
  packages/components/src/ConditionalFilter/TextFilter.tsx
  packages/utils/src/TestingUtils/CypressUtils/selectors.js
Labels: release

#2086 fix(RHINENG-8416): Do not open menu on checkbox click
  packages/components/src/BulkSelect/BulkSelect.test.js
  packages/components/src/BulkSelect/BulkSelect.tsx
Labels: release

#2094 fix(RHINENG-8385): Unblock opening menu by toggle click
  packages/components/src/ConditionalFilter/GroupFilter.tsx
Labels: bug
