Repository RedHatInsights/frontend-components, pull requests merged in 2024-03, with the labels that each got.

#1954 create helper function to fetch data with concurrent requests
  package-lock.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/useFetchBatched/index.ts
  packages/utils/src/useFetchBatched/useFetchBatched.ts
  packages/utils/src/usePromiseQueue/index.ts
  packages/utils/src/usePromiseQueue/usePromiseQueue.ts
Labels: release

#1981 fix(deps): classnames should be proper dependency
  package-lock.json
  packages/components/package.json
Labels: release

#1982 fix(remediations): Widen supported react-redux version range
  package-lock.json
  packages/remediations/package.json
Labels: release

#1983 Add PF transform wizard overrides
  packages/tsc-transform-imports/src/index.ts
Labels: bug, release

#1984 Bump FEC build dependencies.
  package-lock.json
  packages/config/package.json
Labels: dependencies, release

#1990 Add request PDF method to chrome API types
  packages/types/index.d.ts
Labels: release

#1991 add eslint rule to suggest using shared axios instance
  packages/eslint-config/lib/rules/insights-disallow-custom-axios.js
Labels: release
