Repository RedHatInsights/frontend-components, pull requests merged in 2024-02, with the labels that each got.

#1966 Add empty array fallback to lastVisitedPages hook return value.
  package-lock.json
  packages/chrome/src/useLastVisited/useLastVisited.ts
Labels: bug, release

#1959 [RHCLOUD-30109] Batch updates for last-visited-pages
  packages/chrome/src/ChromeProvider/ChromeProvider.test.tsx
  packages/chrome/src/ChromeProvider/ChromeProvider.tsx
  packages/chrome/src/ChromeProvider/chromeState.ts
Labels: release

#1967 fix: Upgrade OUIA type selectors to PF5
  packages/utils/src/CypressUtils/selectors.js
Labels: release

#1968 feat(utils): Align selectors, functions with PF5
  packages/utils/src/CypressUtils/PaginationUtils.js
  packages/utils/src/CypressUtils/TableUtils.js
  packages/utils/src/CypressUtils/selectors.js
Labels: utils

#1973 fix(deps): Make rbac-client proper dependency
  package-lock.json
  packages/utils/package.json
Labels: release

#1975 Merge last visited data.
  package-lock.json
  packages/chrome/src/ChromeProvider/ChromeProvider.test.tsx
  packages/chrome/src/ChromeProvider/ChromeProvider.tsx
  packages/chrome/src/ChromeProvider/chromeState.ts
Labels: release
