Repository RedHatInsights/frontend-components, pull requests merged in 2024-07, with the labels that each got.

#2014 Use chrome containers instead of chrome build repo.
  package-lock.json
  packages/config-utils/src/proxy.ts
  packages/config/package.json
  packages/config/src/bin/dev-script.ts
  packages/config/src/bin/dev.webpack.config.ts
  packages/config/src/bin/serve-chrome.ts
  packages/config/src/lib/createConfig.ts
  packages/config/src/lib/fec.config.ts
  packages/config/src/lib/index.ts
Labels: release minor

#2026 Bump config deps.
  package-lock.json
  packages/config/package.json
Labels: dependencies, release

#2027 chore(translations): Update FEC utils dependency
  locales/cs.json
  package-lock.json
  package.json
  packages/translations/README.md
  packages/translations/package.json
Labels: release

#2028 Add ListComponent to import transform imports
  packages/tsc-transform-imports/src/index.ts
Labels: release

#2029 chore: add TimestampFormat component into COMPONENTS_CACHE list
  packages/tsc-transform-imports/src/index.ts
Labels: release

#2032 fix(CCXDEV-12932): update express
  package-lock.json
  packages/config/package.json
Labels: dependencies, release

#2030 Use Patternfly dynamic-modules.json where possible
  package-lock.json
  package.json
  packages/components/src/BulkSelect/BulkSelect.spec.ct.js
  packages/components/src/BulkSelect/__snapshots__/BulkSelect.test.js.snap
  packages/components/src/Filters/__snapshots__/FilterInput.test.js.snap
  packages/tsc-transform-imports/.gitignore
  packages/tsc-transform-imports/src/directories.ts
  packages/tsc-transform-imports/src/guess-module.ts
  packages/tsc-transform-imports/src/index.ts
Labels: release

#2034 chore: re-add TimestampFormat component into COMPONENTS_CACHE list
  packages/tsc-transform-imports/src/guess-module.ts
Labels: release

#2036 Add experimental useSuspenseLoader hook.
  package-lock.json
  packages/utils/src/index.ts
  packages/utils/src/useSuspenseLoader/index.ts
  packages/utils/src/useSuspenseLoader/useSuspenseLoader.test.tsx
  packages/utils/src/useSuspenseLoader/useSuspenseLoader.ts
Labels: release

#2041 Propagate build process status
  packages/config/src/bin/build-script.ts
Labels: bug, release
