Repository RedHatInsights/frontend-components, pull requests merged in 2024-04, with the labels that each got.

#1992 fix(RHINENG-9046): report details remove Usechrome hook
  packages/advisor-components/src/ReportDetails/ReportDetails.spec.ct.js
  packages/advisor-components/src/ReportDetails/ReportDetails.tsx
Labels: bug, release

#1994 tsc-tranform-imports: treat CloudServerIcon the same as other regular…
  packages/tsc-transform-imports/src/index.ts
Labels: release

#1995 feat: Add more PrimaryToolbar OUIA selectors
  packages/utils/src/CypressUtils/selectors.js
Labels: release, utils

#1996 PageHeaderTitle: enable passing actions component
  package-lock.json
  packages/components/src/PageHeader/PageHeaderTitle.test.js
  packages/components/src/PageHeader/PageHeaderTitle.tsx
  packages/components/src/PageHeader/__snapshots__/PageHeaderTitle.test.js.snap
Labels: release, components

#1988 add ouiaId to pageheader and title
  packages/components/src/PageHeader/PageHeader.tsx
  packages/components/src/PageHeader/PageHeaderTitle.tsx
  packages/components/src/PageHeader/__snapshots__/PageHeader.test.js.snap
  packages/components/src/PageHeader/__snapshots__/PageHeaderTitle.test.js.snap
Labels: release
