Repository RedHatInsights/frontend-components, pull requests merged in 2024-08, with the labels that each got.

#2042 Remove preview references from FEC
  package-lock.json
  packages/config-utils/src/proxy.ts
  packages/config/README.md
  packages/config/package.json
  packages/config/src/bin/dev-script.ts
  packages/config/src/bin/dev.webpack.config.ts
  packages/config/src/bin/fec.ts
  packages/config/src/bin/prod.webpack.config.ts
  packages/config/src/bin/serve-chrome.ts
  packages/config/src/lib/config.test.js
  packages/config/src/lib/createConfig.ts
  packages/config/src/lib/index.ts
Labels: release minor

#2043 Forbid imports and eager loading of core singleton packages.
  packages/config-utils/src/federated-modules.ts
Labels: release, tech debt

#2044 Bump config utils package.
  package-lock.json
  packages/config/package.json
Labels: dependencies, release, tech debt

#2045 Block docker chrome service with e2e flag.
  packages/config/src/bin/dev-script.ts
Labels: release

#2046 fix(downloadFile): Use 'csv' value as a default format
  packages/utils/src/helpers/helpers.ts
Labels: bug, release, utils

#2048 Update scalprum shared packages config.
  package-lock.json
  packages/config-utils/src/federated-modules.ts
Labels: release, tech debt

#2050 Bump config utils dependency.
  package-lock.json
  packages/config/package.json
Labels: dependencies, release, tech debt

#2051 Add quay fallback for chrome image sha.
  package-lock.json
  packages/config/src/bin/serve-chrome.ts
Labels: bug, release

#2053 Bug: fix small issue preventing docker from being used locally
  packages/config/src/bin/serve-chrome.ts
Labels: bug, release

#2054 dev-script.ts: fix starting non-interactively
  packages/config/src/bin/dev-script.ts
Labels: release

#2052 utils package: install redux-mock-store and react-intl packages as dev deps
  package-lock.json
  packages/utils/package.json
Labels: release

#2055 Create missing dist directory when serving chrome
  packages/config/src/bin/serve-chrome.ts
Labels: bug, release

#2056 Fix serve chrome copy typo.
  packages/config/src/bin/serve-chrome.ts
Labels: bug, release
