Repository RedHatInsights/frontend-components, pull requests merged in 2024-01, with the labels that each got.

#1950 Bump scalprum dependency.
  package-lock.json
  packages/chrome/package.json
  packages/components/package.json
  packages/pdf-generator/package.json
Labels: release

#1951 Do not validate FEC config for build with custom webpack config.
  package-lock.json
  packages/config/src/bin/build-script.ts
  packages/config/src/bin/dev-script.ts
  packages/config/src/bin/fec.ts
Labels: bug, release

#1956 Validate FEC config for fec static command.
  packages/config/src/bin/fec.ts
Labels: bug, release

#1957 Add progress enum to tsc initial cache.
  packages/tsc-transform-imports/src/index.ts
Labels: bug, release

#1960 Use contenthash for asset building.
  package-lock.json
  package.json
  packages/advisor-components/cypress/cypress.webpack.config.js
  packages/chrome/package.json
  packages/components/cypress/cypress.webpack.config.js
  packages/components/package.json
  packages/config-utils/package.json
  packages/config-utils/src/federated-modules.ts
  packages/config/src/lib/config.test.js
  packages/config/src/lib/createConfig.ts
  packages/pdf-generator/package.json
Labels: release, tech debt

#1961 Use stable version of FEC
  package-lock.json
  packages/components/package.json
Labels: release, components

#1965 Exclude PF next directory from tsc-transform-imports
  packages/tsc-transform-imports/src/index.ts
Labels: bug, release
